@import '~font-awesome/css/font-awesome.css';
@import '~ngx-toastr/toastr.css';
#toast-container > div {
    opacity:1;
}

td {
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
tr {
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.breadcrumb-list__item{
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}  
.shop-product__block__value .shop-product-size-list .single-size.active{
  font-size: 13px;
  line-height: 22px;
  margin-right: 11px;
  cursor: pointer;
  color: #ffffff;
  padding: 4px;
  border-radius: 4px;
  background-color: #f14014;
}

.shop-product__block__value .shop-product-size-list .single-size {
background-color: #cc3c2200;
color:#f14014;
border: 1px solid red;
}
@media (max-width : 800px) {  
      
  .py-4{
      margin-left: 0px;
      margin-right: 0px;
  }
    } 
@media (min-width : 800px) {  
    
      .py-4{
          margin-left: 20px;
          margin-right: 20px;
      }
        } 
