
<!--=======  breadcrumb area =======-->

<div class="breadcrumb-area breadcrumb-bg-1 pt-50 pb-70 mb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="breadcrumb-title">Wishlist</h1>

                <!--=======  breadcrumb list  =======-->

                <ul class="breadcrumb-list">
                    <li class="breadcrumb-list__item"><a routerLink="/home">HOME</a></li>
                    <li class="breadcrumb-list__item breadcrumb-list__item--active">wishlist</li>
                </ul>

                <!--=======  End of breadcrumb list  =======-->

            </div>
        </div>
    </div>
</div>

<!--=======  End of breadcrumb area =======-->
<!--=============================================
	=            wishlist page content         =
	=============================================-->

<div class="shopping-cart-area mb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  cart table  =======-->

                <div class="cart-table-container">
                    <table class="cart-table">
                        <thead>
                            <tr>
                                <th class="product-name" colspan="2">Product</th>
                                <th class="product-price">Price</th>
                              
                                <th class="product-subtotal">&nbsp;</th>
                                <th class="product-remove">&nbsp;</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let b of Wishlist">
                                <td class="product-thumbnail">
                                    <a>
                                        <img src="https://neophroncrm.com/spiceclubnew/public/{{b.product.thumbnail_image}}"
                                            class="img-fluid" alt="">
                                    </a>
                                </td>
                                <td class="product-name">
                                    <a>{{b.product.name}}</a>
                                    <span class="product-variation">Color: Black</span>
                                </td>

                                <td class="product-price" style="padding: 10px;"><span
                                        class="price">{{b.product.base_price}}</span></td>

            
                                <!-- <div class="pro-qty d-inline-block mx-0 pt-25">
                                        <a  class="dec qty-btn" style="text-decoration: none;" (click)="decreaseqty()">-</a>
                                        <input type="text" value="{{b.product.qty}}" >
                                    <a  class="inc qty-btn" style="text-decoration: none;" (click)="increaseqty()">+</a></div> -->

                                <td class="add-to-cart">
                                    <button
                                        class="lezada-button lezada-button--small lezada-button--icon--left"
                                        (click)="addtocart1(b.product.id,openRecord)">
                                        <i class="ion-ios-cart-outline"></i>add to cart</button> 
                                                            
                                    </td>
                                <td class="product-remove">
                                    <a (click)="deleteRecord(b.id)">
                                        <i class="ion-android-close"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <button type="button" class="btn btn-sm btn-block btn-primary ml-3" onclick="showAddToCartModal(21)">
                            <i class="la la-shopping-cart mr-2"></i>Add to cart
                        </button> -->
                </div>

                <div class="cart-table-container">
                    <div id="tit" style="width: 100%;">
                        <ngx-skeleton-loader count="5"
                          [theme]="{  'border-radius': '4px',  height: '80px',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }"
                          *ngIf="loader"></ngx-skeleton-loader>
                      </div>
                     
                </div>

                <!--=======  End of cart table  =======-->
            </div>
            <!-- poup -->
            <ng-template #openRecord let-modal>
               
                <div class="modal-body">
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()" style="padding-right: 15px;">
                        <span aria-hidden="true"><i class="ion-android-close"></i></span>
                    </button>
                    <div class="py-4" style="margin-left: 20px; margin-right: 20px;">
                        <div class="modal-body p-4 c-scrollbar-light">
                            <div class="row">
                                <div class="col-lg-6" >
                                    <div class="row gutters-10 flex-row-reverse" style="margin-right: 20px;border: 2px solid rgb(163, 163, 163);  border-radius: 0px;" >
                                        <div class="col" style="margin-top: 35px;margin-bottom: 35px;" >
                                            <div class="aiz-carousel product-gallery slick-initialized slick-slider"
                                                data-nav-for=".product-gallery-thumb" data-fade="true"
                                                data-auto-height="true">
                                                <div class="slick-list draggable" style="height: 273.5px;">
                                                    <div class="slick-track" style="opacity: 1; width: 804px;">
                                                        <div class="slick-slide slick-current slick-active"
                                                            data-slick-index="0" aria-hidden="false"
                                                            style="width: 268px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                                                            <div>
                                                                <div class="carousel-box img-zoom rounded"
                                                                    style="width: 100%; display: inline-block; position: relative; overflow: hidden;">
                                                                    <img class="img-fluid ls-is-cached lazyloaded"
                                                                        src="https://neophroncrm.com/spiceclubnew/public/{{Peoduct.thumbnail_image}}"
                                                                        data-src="https://neophroncrm.com/spiceclubnew/public/{{Peoduct.thumbnail_image}}"
                                                                        >
                                                                    <img role="presentation" alt=""
                                                                        src="https://neophroncrm.com/spiceclubnew/public/{{Peoduct.thumbnail_image}}"
                                                                        class="zoomImg"
                                                                        style="position: absolute; top: -1224.65px; left: 0px; opacity: 0; width: 2250px; height: 2250px; border: none; max-width: none; max-height: none;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                            </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-auto w-90px">
                                            <div class="aiz-carousel carousel-thumb product-gallery-thumb slick-vertical slick-initialized slick-slider"
                                                data-items="5" data-nav-for=".product-gallery" data-vertical="true"
                                                data-focus-select="true">
                                                <div class="slick-list draggable" style="height: 397.5px;">
                                                    <div class="slick-track"
                                                        style="opacity: 1; height: 239px; transform: translate3d(0px, 0px, 0px);">
                                                        <div class="slick-slide slick-current slick-active"
                                                            data-slick-index="0" aria-hidden="false"
                                                            style="width: 70px;">
                                                            <div>
                                                                <div class="carousel-box c-pointer border p-1 rounded"
                                                                    style="width: 100%; display: inline-block;">
                                                                    <img class="mw-100 size-60px mx-auto ls-is-cached lazyloaded"
                                                                        src="https://neophroncrm.com/spiceclubnew/public/{{detail.thumbnail_image}"
                                                                        data-src="https://neophroncrm.com/spiceclubnew/public/{{detail.thumbnail_image}"
                                                                        onerror="this.onerror=null;this.src='https://neophroncrm.com/spiceclubnew/public/{{detail.thumbnail_image}';">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="slick-slide slick-active" data-slick-index="1"
                                                            aria-hidden="false" style="width: 70px;">
                                                            <div>
                                                                <div class="carousel-box c-pointer border p-1 rounded"
                                                                    style="width: 100%; display: inline-block;">
                                                                    <img class="mw-100 size-60px mx-auto ls-is-cached lazyloaded"
                                                                        src="https://neophroncrm.com/spiceclubnew/public/{{detail.thumbnail_image}"
                                                                        data-src="https://neophroncrm.com/spiceclubnew/public/{{detail.thumbnail_image}"
                                                                        onerror="this.onerror=null;this.src='https://neophroncrm.com/spiceclubnew/public/{{detail.thumbnail_image}';">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="slick-slide slick-active" data-slick-index="2"
                                                            aria-hidden="false" style="width: 70px;">
                                                            <div>
                                                                <div class="carousel-box c-pointer border p-1 rounded"
                                                                    style="width: 100%; display: inline-block;">
                                                                    <img class="mw-100 size-60px mx-auto ls-is-cached lazyloaded"
                                                                        src="https://neophroncrm.com/spiceclubnew/public/{{detail.thumbnail_image}"
                                                                        data-src="https://neophroncrm.com/spiceclubnew/public/{{detail.thumbnail_image}"
                                                                        onerror="this.onerror=null;this.src='https://neophroncrm.com/spiceclubnew/public/{{detail.thumbnail_image}';">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="text-left">
                                        <h3 class="mb-2 fs-20 fw-600">
                                            {{Peoduct.name}}
                                        </h3>

                                        <div class="row no-gutters mt-3">
                                            <div class="col-2">
                                                <div class="opacity-50">Price:</div>
                                            </div>
                                            <div class="col-10">
                                                <div class="">
                                                    <strong class="h6 fw-600 text-primary">
                                                        {{prod_price}}
                                                    </strong>
                                                    <span class="opacity-70">/{{Peoduct.unit}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <form id="option-choice-form">
                                            <input type="hidden" name="_token"
                                                value="dhy8KvYTTGug1EMR5yJPArW0ybXT0zbNQQbK20Lk"> <input type="hidden"
                                                name="id" value="21">

                                            <!-- Quantity + Add to cart -->

                                            <!-- <div class="shop-product__block shop-product__block--size mb-20">

                                                <div class="shop-product__block__title" *ngFor="let a of choice">{{a.title}}:
                                                </div>
        
                                                <div class="shop-product__block__value" *ngFor="let a of choice">
        
                                                    <div class="shop-product-size-list">
                                                        <span class="single-size" *ngFor="let b of a.options"
                                                            (click)="selectvar(b)">{{b}}</span>
        
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="row no-gutters">
                                                <div class="col-3">
                                                    <div class="opacity-50 mt-2 " *ngFor="let a of choice">{{a.title}}:</div>
                                                </div>
                                                <div class="col-9" >
                                                    <div class="shop-product__block__value" *ngFor="let a of choice">
        
                                                        <div class="shop-product-size-list">
                                                            <span class="single-size" *ngFor="let b of a.options"
                                                                (click)="selectvar(b)">{{b}}</span>
            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row no-gutters">
                                                <div class="col-3">
                                                    <div class="opacity-50 mt-2">Quantity:</div>
                                                </div>
                                                <div class="col-9">
                                                    <div class="product-quantity d-flex align-items-center">
                                                        <div class="pro-qty d-inline-block mx-0 pt-0" *ngIf="stocck!==0">
                                                            <a  class="dec qty-btn" style="text-decoration: none;"  (click)="decreaseqty()" *ngIf="quantityyy!==1">-</a>
                                                            <input type="text" value="{{quantityyy}}">
                                                            <a  class="inc qty-btn" style="text-decoration: none;" (click)="increaseqty()" *ngIf="stocck!==0">+</a>                               
                                                        </div> 
                                                        <div class="avialable-amount opacity-60">
                                                           &nbsp; (<span id="available-quantity">{{stocck}}</span> available)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>                           
                                            <div class="row no-gutters pb-3" id="chosen_price_div">
                                                <div class="col-3">
                                                    <div class="opacity-50">Total Price:</div>
                                                </div>
                                                <div class="col-9">
                                                    <div class="product-price">
                                                        <strong id="chosen_price"
                                                            class="h5 fw-600 text-danger">Rs{{totalprice}}</strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="mt-3" style="display: flex; align-items: center;  justify-content: center;">
                                            <button *ngIf="stk!==0" type="button" class="btn btn-primary buy-now fw-600 add-to-cart"
                                            (click)="addtocart2()">
                                                <i class="la la-shopping-cart"></i>
                                                <span class="d-none d-md-inline-block"> Add to cart</span>
                                            </button>
                                            <button type="button" class="btn btn-danger buy-now fw-600 add-to-cart" *ngIf="stk==0">
                                                <i class="la la-shopping-cart"></i>
                                                <span class="d-none d-md-inline-block"> Out of Stock</span>
                                            </button>
                                          
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

        </div>
    </div>
</div>

<!--=====  End of wishlist page content  ======-->