<div style="background-color: #93939338; padding-bottom: 1px; padding-top: 10px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mb-10" style="background-color: white;">
                <div class="col-lg-12" style="  border-bottom: 1px solid#ededed;" >
                    <div class="section-title section-title--one  mb-0">
                        <h5  style="font-weight: 600;color: #4c4a4a;margin-left: 25px;margin-top: 10px;margin-bottom: 0px;">
                            <span><img  class="ion-android-favorite-outline" *ngIf="(userid!==0)" src="../../../assets/images/icons/heart.png" 
								style="height:20px;width:20px;margin-top: -6px;
									margin-right: 5px;" alt=""></span>  Wishlist</h5>
                    </div>
                </div>
                <div class="cart-table-container" *ngIf="!loader">
                    <table id="producttable" class="cart-table" *ngIf="(Wishlist?.length!==0)" style="border: none;">
                        <tbody>
                            <tr *ngFor="let b of Wishlist">
                                <td class="product-thumbnail" (click)="proddetail(b.product.id)">
                                    <a>
                                        <img src="https://neophroncrm.com/spiceclubnew/public/{{b.product.thumbnail_image}}"
                                            class="img-fluid" alt="">
                                    </a>
                                </td>
                                <td class="product-name">
                                    <a style="text-decoration: none;color: #5e5e5e;padding-bottom: 7px;"
                                        (click)="proddetail(b.product_id)">{{b.product.name}}</a>
                                    <a
                                        style="color:rgb(2, 183, 207);font-size: 0.8rem;font-weight: 400;padding-bottom: 7px;">{{b.product.brand}}</a>

                                    <a *ngIf="b.product.stock!==0" style="color:rgb(4, 167, 4);font-size: 0.8rem;font-weight: 400;padding-bottom: 4px;text-decoration: none;">In-stock</a>
                                    <a  *ngIf="b.product.stock==0" style="color:rgb(218, 17, 3);font-size: 0.8rem;font-weight: 400;padding-bottom: 4px;text-decoration: none;">Out of stock</a>
                                    <span  *ngIf="b.product.stroked_price!==b.product.main_price" class="strokprice" >{{b.product.stroked_price}}</span>
                                   <span class="price ml-1" >{{b.product.base_price}} </span>
                                   <a style="font-size: 0.7rem;font-weight: 100;text-decoration: none;color: gray; margin-top: 8px;"
											*ngIf="b.product.discount_amount!==0">
											you save Rs.{{b.product.discount_amount}} ({{b.product.discount_percentage}}%) </a>
                                    
                                   
                                     <!-- subscription important-->
                                     
                                    <!-- <a id="subsave">
                                        <span>Save</span>
                                        <p>
                                            Subscribe now & Save
                                        </p>
                                    </a> -->
                                                         
                                </td>
                             
                                <td class="product-remove">
                                    <span *ngIf="b.product.stock!==0">
                                        <button class="lezada-button lezada-button--small lezada-button--icon--left addcartbtn"
                                        (click)="addtocart1(b.product.id,openRecord)" (click)="openaddcart()" style="padding-top: 0px;
                                        padding-bottom: 0px;border-radius: 15px;text-transform: none;">
                                        <i class="ion-ios-cart-outline"></i>Add to Cart</button>

                                        <button class="lezada-button lezada-button--small lezada-button--icon--left mt-10"
                                        (click)="addtocart1(b.product.id,openRecord)" (click)="openbuynow()" style="padding-left: 11px;padding-top: 0px; padding-bottom: 0px;
                                        padding-right: 19px;border-radius: 15px;text-transform: none;">&nbsp;
                                        <i  class="bi bi-lightning-fill"></i> Buy Now</button>
                                        
                                    </span>
                                   <span  *ngIf="b.product.stock==0">
                                    <span > <button class="btn btn-warning " style="padding-top: 1px;
                                        padding-bottom: 1px;
                                        font-size: 0.9rem;" (click)="deleteRecord(b.id)">Set alert,if stock arrives later</button></span>
                                   </span>

                                     <span class="deletebtn" > <button id="deletebtn" class="btn btn-light sm"
                                         (click)="deleteRecord(b.id)">Delete</button></span>  
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div id="pggg" *ngIf="(Wishlist?.length==0)" >
                        <div>
                            <h5>
                                Wishlist is empty
                            </h5>
                        </div>
                    </div>
                    <!-- <button type="button" class="btn btn-sm btn-block btn-primary ml-3" onclick="showAddToCartModal(21)">
                            <i class="la la-shopping-cart mr-2"></i>Add to cart
                        </button> -->
                </div>
                <div class="cart-table-container" *ngIf="loader">
                    <div id="tit" style="width: 100%;">
                        <ngx-skeleton-loader count="5"
                            [theme]="{  'border-radius': '4px',  height: '80px',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                        </ngx-skeleton-loader>
                    </div>
                </div>
                <!--=======  End of cart table  =======-->
            </div>

            <div class="col-xl-3 offset-xl-8 col-lg-5 offset-lg-7" style="margin-left: 0px;padding-right: 0px;">
                <div class="row mb-10">
                    <div *ngIf="!Summeryload">
                        <div class="cart-calculation-area" style="background-color: white; padding: 20px;">
                            
                            <h6 class="single-sidebar-widget--title mb-10" style="font-size: 18px;">Featured Products for you..</h6>
                            <div class="widget-product-wrapper" id="featureddiv">
                                <!--=======  single widget product  =======-->
                                <div class="single-widget-product-wrapper">
                                    <div class="single-widget-product" *ngFor="let img of Futuredpro"
                                        style="padding-bottom: 17px;" (click)="proddetail(img.id)">
                                        <!--=======  image  =======-->

                                        <div class="single-widget-product__image">
                                            <a>
                                                <img src="https://neophroncrm.com/spiceclubnew/public/{{img.thumbnail_image}}"
                                                    class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="single-widget-product__content">

                                            <div class="single-widget-product__content__top">
                                                <h3 class="product-title"><a>{{img.name}}</a>
                                                </h3>
                                                <br>
                                                <div class="price">
                                                    <span class="main-price discounted"
                                                        style="text-decoration:line-through"
                                                        *ngIf="img.stroked_price!==img.main_price"  >{{img.stroked_price}}</span>
                                                    <span class="discounted-price">{{img.main_price}}</span>
                                                </div>
                                                <ngb-rating [rate]="img.rating" style="color: rgb(245, 153, 14);">
                                                </ngb-rating>
                                            </div>
                                        </div>
                                        <!--=======  End of content  =======-->
                                    </div>
                                </div>

                                <!--=======  End of single widget product  =======-->
                            </div>
                            <!-- lazyloading -->
                            <div class="widget-product-wrapper" *ngIf="poploader">
                                <!--=======  single widget product  =======-->
                                <div class="single-widget-product-wrapper">
                                    <div class="single-widget-product" style="padding-bottom: 17px;">
                                        <div class="single-widget-product__image" style="height: 120px; width:80px">
                                            <ngx-skeleton-loader count="1"
                                                [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="single-widget-product__content">
                                            <div class="single-widget-product__content__top">
                                                <ngx-skeleton-loader count="3" animation="pulse"></ngx-skeleton-loader>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-widget-product" style="padding-bottom: 17px;">
                                        <div class="single-widget-product__image" style="height: 120px; width:80px">
                                            <ngx-skeleton-loader count="1"
                                                [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="single-widget-product__content">
                                            <div class="single-widget-product__content__top">
                                                <ngx-skeleton-loader count="3" animation="pulse"></ngx-skeleton-loader>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-widget-product" style="padding-bottom: 17px;">
                                        <div class="single-widget-product__image" style="height: 120px; width:80px">
                                            <ngx-skeleton-loader count="1"
                                                [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="single-widget-product__content">
                                            <div class="single-widget-product__content__top">
                                                <ngx-skeleton-loader count="3" animation="pulse"></ngx-skeleton-loader>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--=======  End of single widget product  =======-->
                            </div>



                        </div>
                    </div>
                    <div class="skll" *ngIf="Summeryload">
                        <ngx-skeleton-loader count="1" [theme]="{ 
										'border-radius': '5px',
										height: '350px',
										'background-color': '##b9b8b8',
										border: '1px solid white'
									  }" animation="pulse"></ngx-skeleton-loader>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<!--=====  End of wishlist page content  ======-->

<!-- poup   (click)="quickview(img.id,openRecord)"-->
<ng-template #openRecordd let-modal>
    <div class="modal-body" style="background-color: rgb(248, 250, 251);">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()" style="padding-right: 15px;">
            <span aria-hidden="true"><i class="ion-android-close"></i></span>
        </button>
        <div class="py-4">
            <div class="modal-body  c-scrollbar-light">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row gutters-10 flex-row-reverse"
                            style="border: 2px solid rgb(216, 212, 212);  border-radius: 0px;">
                            <div class="col" style="margin-top: 35px;margin-bottom: 35px;">
                                <div class="aiz-carousel product-gallery slick-initialized slick-slider"
                                    data-nav-for=".product-gallery-thumb" data-fade="true" data-auto-height="true">
                                    <div class="carousel-box img-zoom rounded"
                                        style="width: 100%; display: inline-block; position: relative; overflow: hidden;">
                                        <img class="img-fluid ls-is-cached lazyloaded"
                                            src="https://neophroncrm.com/spiceclubnew/public/{{Peoduct.thumbnail_image}}"
                                            data-src="https://neophroncrm.com/spiceclubnew/public/{{Peoduct.thumbnail_image}}">
                                        <img role="presentation" alt=""
                                            src="https://neophroncrm.com/spiceclubnew/public/{{Peoduct.thumbnail_image}}"
                                            class="zoomImg"
                                            style="position: absolute; top: -1224.65px; left: 0px; opacity: 0; width: 2250px; height: 2250px; border: none; max-width: none; max-height: none;">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6 " style=" height: 450px;overflow-y: auto;">
                        <h5 class="item-title mb-4">{{Peoduct.name}}</h5>
                        <!-- <p class="price">
                                <span class="main-price discounted" style="text-decoration: line-through"
                                *ngIf="storked_pricee!==prod_price">{{storked_pricee}}</span>
                            <span style="color: red;" class="h5 discounted-price">{{prod_price}}</span>
                            <span class="opacity-70">/{{Peoduct.unit}}</span>
                            </p> -->



                        <div class="quick-view-other-info pb-0 pt-0" #target>
                            <table>
                                <tr class="single-info" *ngIf="Peoduct?.stroked_price!== Peoduct?.main_price">
                                    <td class="quickview-title" style="color: red;">MRP: </td>
                                    <td class="quickview-value">

                                        <span class="main-price discounted">{{Peoduct?.stroked_price}}</span>

                                    </td>
                                </tr>
                                <tr class="single-info ">
                                    <td class="quickview-title" style="color: red; ">Price: </td>
                                    <td class="quickview-value">
                                        <a style="font-size: 1.3rem;">{{Peoduct?.main_price}}</a>
                                        <span style="font-size: 0.8rem;font-weight: 500;"> (Including all taxes)</span>

                                    </td>
                                </tr>
                                <tr class="single-inf " *ngIf="Peoduct?.discount_percentage!==0">
                                    <td class="quickview-title" style="color: red;"> </td>
                                    <td class="quickview-value pt-0">
                                        <a style="font-weight: 300;"> you save Rs.{{Peoduct?.discount_amount}} ({{Peoduct?.discount_percentage}}%) ( You save {{Peoduct?.discount_percentage}} % )
                                        </a>
                                    </td>
                                </tr>
                                <tr class="single-info">
                                    <td class="quickview-title" style="color: red;">Excluding GST: </td>
                                    <td class="quickview-value">
                                        <a style="font-size: 1rem;font-weight: 500;">Rs {{Peoduct?.excl_gst}} </a>
                                    </td>
                                </tr>
                                <tr class="single-info">
                                    <td class="quickview-title" style="color: red;">Variable Price: </td>
                                    <td class="quickview-value">
                                        <a style="font-size: 1rem;font-weight: 500;">{{prod_price}} </a>
                                    </td>
                                </tr>
                            </table>
                        </div>


                        <form id="option-choice-form">
                            <input type="hidden" name="_token" value="dhy8KvYTTGug1EMR5yJPArW0ybXT0zbNQQbK20Lk">
                            <input type="hidden" name="id" value="21">

                            <div class="row no-gutters ml-1 mt-2">
                                <div class="col-3 ">
                                    <div class="quickview-title mt-2 " *ngFor="let a of choice" style="color: red;">
                                        {{a.title}}:</div>
                                </div>
                                <div class="col-9 ">
                                    <div class="shop-product__block__value" *ngFor="let a of choice">

                                        <div class="shop-product-size-list">
                                            <span class="single-size" *ngFor="let b of a.options;let i=index"
                                                [ngClass]="{'active': subItem === i}"
                                                (click)="selectvar(b,i)">{{b}}</span>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row no-gutters ml-1">
                                <div class="col-3">
                                    <div class="quickview-title mt-2" style="color: red;">Quantity:</div>
                                </div>
                                <div class="col-9">
                                    <div class="product-quantity d-flex align-items-center">
                                        <div class="pro-qty d-inline-block mx-0 pt-0" *ngIf="stk!==0">
                                            <a class="dec qty-btn" style="text-decoration: none;"
                                                (click)="decreaseqty()">-</a>
                                            <input type="number" #box value="{{quantityyy}}"
                                                (keyup)="getValue(box.value)" name="qqty"
                                                style="background: transparent;">

                                            <a class="inc qty-btn" style="text-decoration: none;"
                                                (click)="increaseqty()" *ngIf="stk>1">+</a>
                                        </div>
                                        <!-- <div class="avialable-amount opacity-60">
                                                &nbsp; (<span id="available-quantity">{{stocck}}</span> available)
                                            </div> -->
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row no-gutters pb-3 ml-1" id="chosen_price_div" *ngIf="quantityyy!==0">
                                <div class="col-3">
                                    <div class="quickview-title">Total Price:</div>
                                </div>
                                <div class="col-9">
                                    <div class="product-price">
                                        <strong id="chosen_price" class="h5 fw-600 text-danger">Rs
                                            {{totalprice}}</strong>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="mt-3" style="display: flex; align-items: center;  justify-content: center;">
                            <button *ngIf="stk!==0" class="lezada-button lezada-button--small lezada-button--icon--left"
                                (click)="addtocart2()">
                                <i class="ion-ios-cart-outline"></i>add to cart</button>

                              

                            <button *ngIf="stk==0" class="lezada-button lezada-button--small lezada-button--icon--left"
                                style="background-color: rgb(235, 54, 30); border: 1px solid #e1830f;">
                                <i class="ion-ios-cart-outline"></i>Out of Stock</button>

                        </div>

                        <div class="shop-product__block__title"
                            style="font-weight: 600;color: green; text-align: start;">
                            {{Peoduct?.usp_text}}
                        </div>
                        <div style="text-align: start;"> <span>
                                <a *ngFor="let b of Peoduct?.usp_icon">
                                    <img src="https://neophroncrm.com/spiceclubnew/public/{{b?.icon}}"
                                        style="height:47px; width:47px; margin-bottom: 3px;margin-left:15px;margin: right 15px; ; "></a>
                                &nbsp; </span>
                        </div>
                        <hr>
                        <h6> <strong>Description</strong> </h6>
                        <p class="description" [innerHTML]="Peoduct?.description" style="font-size: small;">
                            {{Peoduct.description}}
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- new pop -->

<ng-template #openRecord let-modal>

    <div class="modal-body" style="background-color: rgb(248, 250, 251);">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()" style="padding-right: 15px;">
            <span aria-hidden="true"><i class="ion-android-close"></i></span>
        </button>
        <h6 style="font-weight: 700;
        padding: 0px;
        margin-top: 5px;
    margin-bottom: 5px;">Add to cart</h6>
        <div class="py-1">
            <div class="modal-body  c-scrollbar-light" style="border: 1px solid #e0e0e0;">

                <div class="quick-view-other-info pb-0 pt-0" style="border-top: 0px solid #e0e0e0;" #target>
                    <table>
                        <!-- <tr class="single-info">
                           
                            <td class="quickview-value">
                                <a> <span style="color: rgb(56 56 56);font-weight: 400;font-size: 15px; ">Variable Price:</span>
                                    <span style="font-size: 1rem;font-weight: 600;color: brown;padding-left: 5px;">
                                        {{prod_price}} </span>
                                    <span class="main-price discounted" *ngIf="prod_price!==storked_pricee" style="
                                             text-decoration: line-through;color:rgb(255, 142, 142); font-size: 0.7rem;">
                                        {{storked_pricee}}</span></a><br>
                                <span *ngIf="Peoduct?.discount_percentage!==0">&nbsp; <a style="font-weight: 300;
                                    font-size: 0.8rem;
                                    color: green;"><span style="color: rgb(56 56 56) ;">you save</span> Rs.{{Peoduct?.discount_amount}} ({{Peoduct?.discount_percentage}}%)
                                    </a></span>
                            </td>
                        </tr> -->
                        <tr>
                            <td style="padding-top: 0px;">
                                <div class="single-info mt-10" style="padding-bottom:7px;"
                                                *ngIf="Peoduct?.stroked_price!== Peoduct?.main_price">
                                                <span class="quickview-title" style="color: #727272;font-size: 12px;">MRP :</span>
                                                <span class="main-price discounted"
                                                    style="text-decoration: line-through;color:rgb(255, 142, 142); font-size: 0.8rem;">{{storked_pricee}}</span>
                                            </div>
                                            <div class="single-info" style="padding-bottom:7px;">
                                                <span class="hop-product__block mt-2" style="color: #727272;
                                                font-weight: 600;">Price : </span>
                                                <a
                                                    style="font-size: 1rem;color:brown;font-weight: 600;">{{prod_price}} </a>
                                                <span style="font-size: 0.6rem;font-weight: 500;color: gray;"
                                                    *ngIf="(choice.length!==0)"> &nbsp;(
                                                    {{Peoduct?.stroked_price }} / {{pervarient}} )</span>
                                            </div>
                                            <!-- <div class="single-info" style="font-size: 0.8rem;padding-bottom:7px;">
                                                <span class="quickview" style="color: #727272">Excluding GST : </span>
                                                <a style="font-weight: 600;color: #727272;">Rs {{Peoduct?.excl_gst}}
                                                </a>
                                            </div> -->                              

                                            <p style="font-size: 0.8rem;color: #727272;padding-bottom: 7px; margin-bottom: 0px;"
                                                *ngIf="Peoduct?.discount_percentage!= 0">You save <span
                                                    style="color:rgb(168, 0, 0);">Rs {{discount_price}}
                                                    ({{discount_percentage}}%)</span></p>
                                                    <p style="font-size: 0.8rem;color: #727272;"
                                                    *ngIf="Peoduct?.discount_percentage!= 0"> (Inclusive of all taxes - GST {{gst_percentage}}%)
                                                   </p>
                            </td>
                        </tr>
                    </table>
                </div>


                <form id="option-choice-form">
                    <input type="hidden" name="_token" value="dhy8KvYTTGug1EMR5yJPArW0ybXT0zbNQQbK20Lk">
                    <input type="hidden" name="id" value="21">

                    <div class="row no-gutters ml-1 ">
                        <!-- <div class="col-3 ">
                            <div class="quickview-title mt-2 " *ngFor="let a of choice.slice(0,1)" style="color: rgb(56 56 56);
                                    font-weight: 400;">
                                {{a.title}}:</div>
                        </div>
                        <div class="col-9 ">
                            <div class="shop-product__block__value" *ngFor="let a of choice">
                                <div class="shop-product-size-list">
                                     <span class="single-size" *ngFor="let b of a.options;let i=index"
                                        [ngClass]="{'active': subItem === i}" (click)="selectvar(b,i)">{{b}}</span>

                                </div>
                            </div>
                        </div> -->
                        <div class="shop-product__block shop-product__block--size p-0"
                        *ngIf="(choice.length!==0)" style="padding-bottom:4px;display: block;">
                       <!-- varient -->
                        <div style="display:flex;margin-top: 10px;">
                            <div class="shop-product__block  " *ngFor="let a of choice.slice(0,1)"
                            style="font-weight: 600;color: #727272;margin-right: 5px;">{{a.title}} :
                        </div>
                        <div class="shop-product__block__value" *ngFor="let a of choice.slice(0,1)">
                            <div class="shop-product-size-list">
                                <span class="single-size"
                                    *ngFor="let b of a.options;let i = index"
                                    [ngClass]="{'active': subItem === i}"
                                    (click)="selectvar(b,i)">{{b}}</span>
                            </div>
                        </div>
                        </div>
                        <!-- package -->
                        <div [ngStyle]="{'display':choice.length > 1 ? 'flex' : 'none'}">
                            <div style="margin-top: 15px;display:flex;">
                                <div class="shop-product__block " *ngFor="let a of choice.slice(1,2)"
                                style="font-weight: 600;color: #727272;margin-right: 5px;">{{a.title}} :
                            </div>
                            <div class="shop-product__block__value" *ngFor="let a of choice.slice(1,2)">
                                <div class="shop-product-size-list">
                                    <span class="single-size"
                                        *ngFor="let b of a.options;let i = index"
                                        [ngClass]="{'active': subItempackage === i}"
                                        (click)="selectvarpackage(b,i)">{{b}}</span>
                                </div>
                            </div>
                            </div>                      
                        </div>                     
                    </div>
                    </div>


                    <div class="row no-gutters ml-1 mt-10">
                        <div class="col-3">
                            <div class="hop-product__block mt-2" style="color: #727272;
                                    font-weight: 600;">Quantity:</div>
                        </div>
                        <div class="col-9">
                            <div class="product-quantity d-flex align-items-center">
                                <div class="pro-qty d-inline-block mx-0 pt-0" *ngIf="stk!==0">
                                    <a class="dec qty-btn" style="text-decoration: none;" (click)="decreaseqty()"
                                        *ngIf="quantityyy!=0">-</a>
                                    <input type="number" #box value="{{quantityyy}}" (keyup)="getValue(box.value)"
                                        name="qqty" style="background: transparent;">

                                    <a class="inc qty-btn" style="text-decoration: none;" (click)="increaseqty()"
                                        *ngIf="stk>1">+</a>
                                </div>
                                <!-- <div class="avialable-amount opacity-60">
                                                &nbsp; (<span id="available-quantity">{{stocck}}</span> available)
                                            </div> -->
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row no-gutters pb-3 ml-1" id="chosen_price_div" *ngIf="quantityyy!==0">
                        <div class="col-3">
                            <div class="hop-product__block mt-2" style="color: #727272;
                            font-weight: 600;">Total Price:</div>
                        </div>
                        <div class="col-9">
                            <div class="product-price">
                                <strong id="chosen_price" class="h5 fw-600 text-danger">Rs
                                    {{totalprice}}</strong>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="mt-3" style="display: flex; align-items: center;  justify-content: center;">
                    <!-- <button *ngIf="!buynowbtn" class="lezada-button lezada-button--small lezada-button--icon--left"
                        (click)="addtocart2()">
                        <i class="ion-ios-cart-outline"></i>Add to cart</button> -->

                        <button *ngIf="!buynowbtn" class="lezada-button lezada-button--medium lezada-button--icon--left"
                        (click)="addtocart2()" style="padding-top: 2px;
                        padding-bottom: 2px;border-radius: 15px;text-transform: none;">
                        <i class="ion-ios-cart-outline"></i>Add to Cart</button>

<br>
                        <!-- <button *ngIf="buynowbtn" class="lezada-button lezada-button--small lezada-button--icon--left"
                        (click)="addtoocartt2()">
                        <i  class="bi bi-lightning-fill"></i>Buy Now</button> -->

                        
                        <button *ngIf="buynowbtn" class="lezada-button lezada-button--medium lezada-button--icon--left"
                        (click)="addtoocartt2()" style="padding-top: 2px;
                        padding-bottom: 2px;border-radius: 15px;text-transform: none;">
                        <i class="ion-ios-cart-outline"></i>Buy Now</button>


                    <!-- <button *ngIf="stk==0" class="lezada-button lezada-button--small lezada-button--icon--left"
                        style="background-color: rgb(235, 54, 30); border: 1px solid #e1830f;">
                        <i class="ion-ios-cart-outline"></i>Out of Stock</button> -->
                </div>
            </div>


        </div>
    </div>
</ng-template>