
.col-lg-2 {
  flex: 0 0 auto;
  width: 15.666667%;
}
.btn-primary:hover {
  color: #fff;
  background-color: #ce2127;
  border-color:  #ce2127;
}
.btn-primary{
  color: #ce2127;
  background-color: #ffffff;
  border-color: #ce2127;
  font-weight: 600;
}
.discounted-price{
  color: green;
  font-weight: 600;
  font-size: 0.8rem;
}
.single-product__content .price .discounted-price {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #333333;
}
.single-product__content{
text-align: center;
}

.titttle {
line-height: 1.6rem;
overflow: hidden;
display: '-webkit-box';
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
max-height: 3.2rem;
}
.single-product__content {
  height: 130px;
}

.single-product__content .price .discounted-price {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #333333;
}
.single-product__content{
text-align: center;
}

.titttle {
line-height: 1.6rem;
overflow: hidden;
display: '-webkit-box';
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
max-height: 3.2rem;
}

.single-product__content {
height: 130px;
}
@media (min-width: 992px) {
.img-fluid {
  max-width: 100%;
  height: auto;
}
}
@media (max-width: 992px) {
  .img-fluid {
    max-width: 100%;
    height: 200px;
  }
  }

.title h3 a{
  font-size: 13px;
  color: #140f0f ;
  font-family: 'Roboto',Arial,sans-serif;
  letter-spacing: 0;
  text-decoration: none; 
}
@media (min-width: 992px){
  .col-lg-9 {
      flex: 0 0 auto;
      width: 77%;
  }
  }
  @media (min-width: 992px){
    .col-lg-3 {
        flex: 0 0 auto;
        width: 23%;
    }
    }

.imglazy{
    height: 240px;
    width: 200px;
    position: relative;
    overflow: hidden;
  }
  .breadcrumb-list__item{
    color: #474747 ;
    font-family: 'Poppins', sans-serif;
  }
  
  p span{
    font-family: 'Poppins', sans-serif;
  }
  p{
    font-family: 'Poppins', sans-serif;
  }
  input{
    color: #474747 ;
    font-family: 'Poppins', sans-serif;
  }
  .avialable-amount{
    color: #474747 ;
    font-family: 'Poppins', sans-serif;
  }
  .h5{
    color: red;
  }
  .single-size{
    font-family: 'Poppins', sans-serif;
  }
.single-product__floating-badges {
  position: absolute;
  z-index: 9;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.single-product__floating-badges span {
font-size: 12px;
/* font-weight: 500; */
line-height: 31.7px;
z-index: 3;
display: inline-block;
width: 30px;
height: 30px;
margin-bottom: 10px;
text-align: center;
text-transform: lowercase;
color: #ffffff;
border-radius: 100%;
}
@media (max-width : 800px) {  
  .single-product__image{
    text-align: -webkit-center;

  }
  .shop-product-wrap [class*="col"], .shop-product-wrap [class*="col-"] {
    text-align: -webkit-center;
  }
  #vieww{
    margin-left: 100px;
  }
  .py-4{
      margin-left: 0px;
      margin-right: 0px;
  }
    } 
    @media (min-width : 800px) {  
    
      .py-4{
          margin-left: 20px;
          margin-right: 20px;
      }
        } 

   /* to remove arroys form input box */
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
   }
   input[type=number] {
     -moz-appearance: textfield;
   }  
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
   }
   input[type=number] {
     -moz-appearance: textfield;
   }
   .shop-product__block__value .shop-product-size-list .single-size.active{
    font-size: 13px;
    line-height: 22px;
    margin-right: 11px;
    cursor: pointer;
    color: #ffffff;
    padding: 4px;
    border-radius: 4px;
    background-color: #f14014;
}

.shop-product__block__value .shop-product-size-list .single-size {
  background-color: #cc3c2200;
  color:#f14014;
  border: 1px solid red;
}
#offtag {
  display: block;
  width: 120px;
  height: 24px;
  background-color: #ff8100;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(310deg);
  position: absolute;
  text-align: center;
  line-height: 24px;
  right: -30px;
  top: 190px;
  font-family: arial;
  font-size: 10px;
}
/* <span id="offtag" *ngIf="img.deal_of_day!=0">Deal of the day</span>
   <span id="offtag" *ngIf="img.deal_of_month!=0">Deal of the month</span>
  <span id="offtag" *ngIf="img.todays_deal!=0">Today's deal</span> 
  style="overflow: hidden;"   */