.breadcrumb-list__item{
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
h2{
    color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
p{
    color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.reset-pass-link{
    color: #474747 ;
	font-family: 'Poppins', sans-serif;
}