
	<!--=======  breadcrumb area =======-->

	<div class="breadcrumb-area breadcrumb-bg-2 pt-15 pb-15">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="breadcrumb-title">Login</h1>

					<!--=======  breadcrumb list  =======-->

					<ul class="breadcrumb-list" style="padding-left: 0px;">
						<li class="breadcrumb-list__item"><a routerLink="/home">HOME</a></li>
						<li class="breadcrumb-list__item breadcrumb-list__item--active">LOGIN</li>
					</ul>

					<!--=======  End of breadcrumb list  =======-->

				</div>
			</div>
		</div>
	</div>

	<!--=======  End of breadcrumb area =======-->

	<!--=============================================
    =            shop page content         =
    =============================================-->




	<div class="login-area mb-20 mb-md-70 mb-sm-70 mb-xs-70 mb-xxs-70">
		<div class="container">
			<div class="row">
                <div class="col-lg-2">
				
				</div>
				<div class="col-lg-8 mb-md-50 mb-sm-50">
					<div class="lezada-form login-form">
						<form  [formGroup]="loginForm" (ngSubmit)="onSubmit(otpRecord)">
							<div class="row">
								<div class="col-lg-12">
									<!--=======  login title  =======-->

									<div class="section-title section-title--login text-center mb-50">
										<h2 class="mb-20">Login</h2>
										<p>Great to have you back!</p>
									</div>

									<!--=======  End of login title  =======-->
								</div>
								<div class="col-lg-12 mb-60">
									<input type="text" placeholder="email address" formControlName="username" required>
                  
								</div>
								<div class="col-lg-12 mb-60">
									<input type="password" placeholder="Password"  formControlName="password" required>
								</div>
								<div class="col-lg-12 text-center mb-30">
									<button class="lezada-button lezada-button--medium" >login</button>
								</div>

								<!-- <div class="col-lg-12 ">
									<input type="checkbox"> <span class="remember-text">Remember me</span>
									
								</div> -->
                                <div class="col-lg-12 text-center mb-30">
									
									<a  class="reset-pass-link">Lost your password?</a>
								</div>
                                <div class="col-lg-12 text-center mb-30">
                                    <p>If you don’t have an account, register now!</p>
									<button class="lezada-button lezada-button--medium" ><a href="/signup" style="text-decoration: none; color: rgb(252, 248, 248);">signup</a> </button>
								</div>
                                <div class="col-lg-12 text-center mb-30">
									
									<a  class="reset-pass-link">Login with OTP</a>
                                    <H6>OR</H6>
                                    <i class="fa fa-facebook" style="color: rgb(8, 96, 228);"></i> <i class="fa fa-google" style="color: rgb(194, 207, 7);"></i> 
								</div>
							</div>
						</form>

						<ng-template #otpRecord let-modal>
							<div class="modal-header editRowModal">
								<h4 class="modal-title" id="modal-basic-title">
									<div class="table-modal-header">
										<div class="modal-about">
											<div class="font-weight-bold p-t-10 font-17">
												Waiting For Otp</div>
										</div>
									</div>
								</h4>
								<!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
									<span aria-hidden="true"><i class="material-icons">close</i></span>
								</button> -->
							</div>
							 <div class="modal-body">
								  <form class="register-form" [formGroup]="otpform" (ngSubmit)="onAddRowSave(otpform)">
									<div class="row">
									  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
										<label>Verification Code<span class="text-danger">*</span></label>
										<input type="text" class="form-control" placeholder="otp" formControlName="otp" required>
										 <!-- <small class="form-text text-danger"
										  *ngIf="!otpform.get('phone').valid && otpform.get('otp').touched"> Otp is
										  required</small>  -->
									  </div>                      
									</div>
								
									<!-- <div *ngIf="error1" class="alert alert-danger mb-3 ml-3">{{error1}}</div> -->
									<div class="modal-footer">
									  <button type="submit" class="btn btn-primary">Verify</button>
									  
									  <!-- <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button> -->
									</div>
								  </form>
								  <button  class="btn btn-success"  (click)="resend()">Resend</button>
								</div> 
						</ng-template>
						<p>you can logout now</p> <button (click)="logout1()">Logout</button>
					</div>
				</div>
				<div class="col-lg-2">
				
				</div>
			</div>
		</div>
	</div>


	<!--=============================================
	=            footer area         =
	=============================================-->

	
	

	<!--=====  End of footer area  ======-->


   