.checkout-cart-total {
    padding: 45px;
    background-color:rgb(230, 5, 5);
    border-radius: 5px;
}
.checkout-cart-tota {
    padding: 45px;
    background-color:#f2f2f2;
    border-radius: 5px;
}

.single-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 0px;
    /* border-bottom: 1px solid #e8e8e8; */

}

.checkout-cart-total p {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
    padding: 10px 0;
    color: #505050;
    border-bottom: 0px;
    /* border-bottom: 1px solid #999999; */
}

.product-price a {
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.product-name a {
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.labell{
    color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.breadcrumb-list__item{
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}