<div class="modal-header editRowModal">
    <h4 class="modal-title" id="modal-basic-title">
        <div class="table-modal-header">
            <div class="table-modal-header">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-10 ml-3 font-17">
                        Verify KYC</div>
                </div>
            </div>
        </div>
    </h4>  
</div>
<div class="modal-body">
    <div class="card-body" style="margin-left: 30px;margin-right: 30px;">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
            <div class="col-lg-12 ">
                <label >Gst number <span class="text-danger">*</span> </label>
                <input type="text"   formControlName="gst"  required>
                <h6 class="form-text text-danger"
                *ngIf="!registerForm.get('fname')?.valid && registerForm.get('fname')?.touched">
              *Enter the name</h6>
            </div>
            <div class="col-lg-12 ">
                <label >Gst image <span class="text-danger">*</span> </label>
                <fieldset class="form-group" style="display: inline;">
                    <!-- {{imageError}}  (change)="fileChangeEvent($event)"-->               
                    <div class="custom-file fileInputProfileWrap">
                        <input type="file" formControlName="gstimg"  class="fileInputProfile" (change)="fileChangeEvent($event)" >
                        <div class="img-space">
                            <!-- <ng-container *ngIf="isImageSaved; else elseTemplate">
                            <img [src]="cardImageBase64" />
                        </ng-container> -->
                            <ng-template #elseTemplate>
                                <!-- <img src="./../../assets/placeholder.png" class="img-responsive">   (click)="changeproimg()"-->
                            </ng-template>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-12 ">
                <label for="regPassword">Pan number <span class="text-danger">*</span> </label>
                <input type="text" formControlName="pan"   required>
                <h6 class="form-text text-danger"
                *ngIf="!registerForm.get('email')?.valid && registerForm.get('email')?.touched">
              *Enter the correct email</h6>
            </div>
            <div class="col-lg-12 ">
                <label >Pan image <span class="text-danger">*</span> </label>
                <fieldset class="form-group" style="display: inline;">
                    <!-- {{imageError}}  (change)="fileChangeEvent($event)"-->
                    <div class="custom-file fileInputProfileWrap">
                        <input type="file"  formControlName="panimg"  class="fileInputProfile" (change)="fileChangeEvent2($event)">
                        <div class="img-space">
                            <!-- <ng-container *ngIf="isImageSaved; else elseTemplate">
                            <img [src]="cardImageBase64" />
                        </ng-container> -->
                            <ng-template #elseTemplate>
                                <!-- <img src="./../../assets/placeholder.png" class="img-responsive">   (click)="changeproimg()"-->
                            </ng-template>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-12" style="text-align: center;"><br>
                <span class="add-to-cart" style="margin-left: auto;">
                    <h6 class="form-text text-danger "
									*ngIf="error2">
									{{error2}}</h6>
                    <button
                        style="background-color: rgb(201, 31, 8);border: 1px solid rgb(201, 31, 8); padding-top: 10px; padding-bottom: 10px;"
                        class="lezada-button lezada-button--medium lezada-button--icon--left" type="submit">
                        Submit</button>
                </span>
            </div>
            <!-- <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a> -->
        </form>

    </div>
    <br>
</div>
