<div class="breadcrumb-area breadcrumb-bg-1 pt-50 pb-70 mb-30">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="breadcrumb-title">Shopping Cart</h1>

				<!--=======  breadcrumb list  =======-->

				<ul class="breadcrumb-list" style="padding-left: 0px;">
					<li class="breadcrumb-list__item"><a routerLink="/home">HOME</a></li>
					<li class="breadcrumb-list__item breadcrumb-list__item--active">shopping cart</li>
				</ul>

				<!--=======  End of breadcrumb list  =======-->

			</div>
		</div>
	</div>
</div>
<!--=============================================
	=            cart page content         =
	=============================================-->




<div class="shopping-cart-area mb-80" >
	<div class="container">
		<div class="row">
			<div class="col-lg-12 mb-30">
				<!--=======  cart table  =======-->

				<div class="cart-table-container" *ngIf="!loader">
					<table class="cart-table" *ngIf="(Cart.length!==0)">
						<thead>
							<tr>
								<th class="product-name" colspan="2">Product</th>
								<th class="product-price">Price</th>
								<th class="product-quantity">Quantity</th>
								<th class="product-subtotal">Total</th>
								<th class="product-remove">&nbsp;</th>
							</tr>
						</thead>

						<tbody *ngFor="let a of Cart">
							<tr *ngFor="let b of a.cart_items" >
								<td class="product-thumbnail" (click)="proddetail(b.product_id)" >
									<a>
										<img src="https://neophroncrm.com/spiceclubnew/public/{{b.product_thumbnail_image}}"
											class="img-fluid" alt="">
									</a>
								</td>
								<td class="product-name" (click)="proddetail(b.product_id)">
									<a style="text-decoration: none;">{{b.product_name}}</a>
									<span class="product-variation">{{b.variation}}</span>
								</td>

								<td class="product-price" style="padding-left: 13px;"><span class="price">Rs
										{{b.price}}</span></td>

								<td class="product-quantity" style="padding-left: 12px;">
									<div class="pro-qty d-inline-block mx-0 pt-0">

										<span style="position: absolute;"><a class="dec qty-btn"
												style="text-decoration: none;" type="submit"
												(click)="decreaseqty(b.id,b.quantity-1)"
												(click)="b.quantity = b.quantity - 1"
												*ngIf="b.quantity!>b.lower_limit">-</a></span>
										<!-- <input type="text" value="{{b.quantity}}"> -->
										  <input type="number" #box value="{{b.quantity}}"  (keyup)="getValue(box.value,b.id,b.upper_limit)" name="qqty" style="background: transparent;">
										<span style="position: absolute;"> <a class="inc qty-btn" 
												style="text-decoration: none;" (click)="b.quantity = b.quantity + 1"
												(click)="increaseqty(b.id,b.quantity)"
												*ngIf="b.quantity!=b.upper_limit">+</a> </span>
									</div>


								</td>

								<td class="total-price" style="padding-left: 13px;"><span class="price"
										style="color: red;">Rs {{b.total}}</span></td>
								<td class="product-remove">
									<a (click)="deleteRecord(b.id)">
										<i class="ion-android-close"></i>
									</a>
								</td>
							</tr>

						</tbody>
					</table>
					<div id="pggg" *ngIf="(Cart.length==0)" style=" display: flex;
	                       justify-content: center;
	                       align-items: center;
	                       height: 200px;
                          	margin-right: 100px;
                         	margin-left: 100px;
                         	border: 3px solid rgb(139, 139, 139);">
						<div>
							<h5>
								Cart is empty
							</h5>
						</div>
					</div>
				</div>

				<div class="cart-table-container" *ngIf="loader">
					<div id="tit" style="width: 100%;">
						<ngx-skeleton-loader count="5"
							[theme]="{  'border-radius': '4px',  height: '80px',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
						</ngx-skeleton-loader>
					</div>

				</div>
				<!--=======  End of cart table  =======-->
			</div>
			<div class="col-lg-12 mb-80" *ngIf="!loader" >
				<!--=======  coupon area  =======-->

				<div class="cart-coupon-area pb-30" *ngIf="(Cart.length!==0)">
					<div class="row align-items-center">
						<div class="col-lg-6 mb-md-30 mb-sm-30">
							<!--=======  coupon form  =======-->

							<div class="lezada-form coupon-form">
								<form [formGroup]="comment" (ngSubmit)="applycoupan(comment)">
									<div class="row">
										<div class="col-md-7 mb-sm-10">
											<input type="text" placeholder="Enter your coupon code"
												formControlName="coupan" required>
										</div>
										<div class="col-md-5">
											<button class="lezada-button lezada-button--medium" type="submit"
												*ngIf="applycou">apply coupon</button>
											<button class="lezada-button lezada-button--medium" *ngIf="removecou"
												(click)="removecoupon()">remove</button>
										</div>

									</div>
								</form>
								<div class="col-md-5" *ngIf="removecou">

								</div>
							</div>

							<!--=======  End of coupon form  =======-->
						</div>

						<div class="col-lg-6 text-left text-lg-right">
							<!--=======  update cart button  =======-->

							<button class="lezada-button lezada-button--medium" (click)="updatecart()">update
								cart</button>

							<!--=======  End of update cart button  =======-->
						</div>
					</div>
				</div>

				<!--=======  End of coupon area  =======-->
			</div>

			<div class="col-xl-4 offset-xl-8 col-lg-5 offset-lg-7" *ngIf="!loader" >
				<div class="cart-calculation-area" *ngIf="(Cart.length!==0)" >
					<h2 class="mb-0">Cart totals</h2>

					<table class="cart-calculation-table mb-30">
						<tr *ngIf="couponn==true">
							<th>Coupon applied</th>
							<td class="subtotal">yes</td>
						</tr>
						<tr>
							<th>Discount</th>
							<td class="subtotal">{{Summery?.discount}}</td>
						</tr>
						<tr>
							<th>SHIPPING COST</th>
							<td class="subtotal">{{Summery?.shipping_cost}}</td>
						</tr>
					
						<tr>
							<th>Tax</th>
							<td class="subtotal">{{Summery.tax}}</td>
						</tr>
						<tr>
							<th>SUBTOTAL</th>
							<td class="subtotal">{{subtot}}</td>
						</tr>
						<tr>
							<th>TOTAL</th>
							<td class="total">{{Grandtot}}</td>
						</tr>
					</table>

					<div class="cart-calculation-button text-center">
						<button class="lezada-button lezada-button--medium" routerLink="/checkout">proceed to
							checkout</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--=====  End of cart page content  ======-->