
#qty span a{
  text-decoration: none;color: gray;
  font-weight: 500;
}
#featureddiv{
  max-height: 300px;
  overflow: auto;
}
#featureddiv::-webkit-scrollbar {
  display: none;
}
#price{
  padding-left: 15px;display: grid;text-align: center;margin-top: 15px;
}
#subsave span{
  background-color: rgb(199, 15, 15);
  font-size: 0.8rem;
  padding: 5px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
}
/* #subsave{
  padding-left: 20px;
} */
#qty{
  border: 1px solid #cbdae3;
  padding-left: 10px;
  border-radius: 9px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 10px;
  background-color: #e1f1fb;
  box-shadow: 0px 1px 7px #afafaf;
}
#summerydiv th{
font-size: 0.7rem;
}
.listcard {
  background-color:white;
  margin-left: 22px;
  width: 97%;
  padding: 0px;
  border: 1px solid #e5e1e1;
}

.menu-item a {
	color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
}
 #producttable td {
  padding-top: 25px;
	color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 25px;
  vertical-align:top;

}
tr {
	color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
}
.breadcrumb-list__item{
	color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
}
input{
	color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width : 990px) {
	.lezada-button{
		display: block;
		margin: 0 auto;
	}
  }
  @media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1300px;
}}
   /* to remove arroys form input box */
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
   }
   input[type=number] {
     -moz-appearance: textfield;
   }
   .cart-calculation-table th {
	padding: 10px 18px;
	line-height: 14px;
	font-size: 13px;
   }
   .cart-calculation-area{
	   padding: 20px;
   }

   .lezada-button--medium {
	font-size: 14px;
	padding: 5px 45px;
	margin-top: 10px;
}
.cart-table td.product-name a {

  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 2px;
}
.cart-table th {
	font-size: 13px;
}
.lezada-button{
font-size: 0.8em;
}
.cart-table td.product-remove a i {
    font-size: 20px;
    line-height: 23px;
}
.product-remove{
	padding-left: 15px;
}
.product-remove a{

	margin-right: 15px;
}
.product-quantity{
	padding-left: 20px;
}