.menu-item a {
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
td {
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
tr {
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.breadcrumb-list__item{
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}

@media (max-width : 990px) {
	.lezada-button{
		display: block;
		margin: 0 auto;
	}
  }