
.sitelogo {
    width: 60%;
    
}
.wrapper {
	display: flex;
	height: 20vh;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  }
  #buttonkyc {
	border: 1px transparent;
	/* -webkit-border-radius: 40px; */
	/* border-radius: 40px; */
	color: #eeeeee;
	cursor: pointer;
	display: inline-block;
	font-family: Arial;
	font-size: 12px;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	margin-left: 0px;
	-webkit-animation: glowing 1300ms infinite;
	-moz-animation: glowing 1300ms infinite;
	-o-animation: glowing 1300ms infinite;
	animation: glowing 1300ms infinite;
	width: 120px;
  }
  @-webkit-keyframes glowing {
	0% {
	  background-color: #0091b2;
	  -webkit-box-shadow: 0 0 3px #0091b2;
	}
	50% {
	  background-color: #21c7ed;
	  -webkit-box-shadow: 0 0 15px #21c7ed;
	}
	100% {
	  background-color: #0091b2;
	  -webkit-box-shadow: 0 0 3px #0091b2;
	}
  }
  @keyframes glowing {
	0% {
	  background-color: #0091b2;
	  box-shadow: 0 0 3px #0091b2;
	}
	50% {
	  background-color: #21c7ed;
	  box-shadow: 0 0 15px #21c7ed;
	}
	100% {
	  background-color: #0091b2;
	  box-shadow: 0 0 3px #0091b2;
	}
  }
  .svg-btn {
	display: block;
	width: 230px;
	height: 230px;
	margin-left: 10px;
  }
  svg {
	fill: blue;
	-webkit-animation: glowing-polygon 1300ms infinite;
	-moz-animation: glowing-polygon 1300ms infinite;
	-o-animation: glowing-polygon 1300ms infinite;
	animation: glowing-polygon 1300ms infinite;
  }
  @-webkit-keyframes glowing-polygon {
	0% {
	  fill: #0091b2;
	  -webkit-filter: drop-shadow( 0 0 3px #0091b2);
	}
	50% {
	  fill: #21c7ed;
	  -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
	}
	100% {
	  fill: #0091b2;
	  -webkit-filter: drop-shadow( 0 0 3px #0091b2);
	}
  }
  @keyframes glowingPolygon {
	0% {
	  fill: #0091b2;
	  filter: drop-shadow( 0 0 3px #0091b2);
	}
	50% {
	  fill: #21c7ed;
	  filter: drop-shadow( 0 0 15px #21c7ed);
	}
	100% {
	  fill: #0091b2;
	  filter: drop-shadow( 0 0 3px #0091b2);
	}
  }

/* // */
nav.site-nav > ul > li {
    line-height: 0px;
    padding-bottom: 30px;

}
.header-right-container{
	margin-left: auto;
}

#loogo{
	margin-top: 30px;
}
.main {
    width: 40%;
    margin: 40px 100px;
}
.inputroup{	
    width: 100%;
    margin-left: 30px;
}
#searchbar{
	color: white;
	font-family: 'Lato', sans-serif;
}
#searchbar span {
	font-size: 00.8rem;
	
}
.btn{
	font-family: 'Lato', sans-serif;
	font-size: 0.8rem;
	font-weight: 600;
}
/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.lispan {
	/* display:block;padding-left: 8px; */
	display: inline-block;
	width: 225px;
	text-overflow: ellipsis;
	color: #140f0f ;
	font-family: Arial, Helvetica, sans-serif;

}

.lispan a span {
	margin-top: 1rem;
	color: #140f0f ;
	font-size: 0.8rem;
	font-weight: 500;
	text-transform: capitalize;
}

.lii {
	max-height: 350px;
	overflow-y: auto;
	padding-left: 5px;
}

/* li a.active{  
   color: red;
	font-weight: bolder;	
} */
li a.active span {
	color: rgb(10, 9, 9);
	font-weight: 600;
	/* font-weight: bolder; */
}

.bi-caret-right-fill {
	color: #999999;
}

i.active {
	color: rgb(10, 9, 9);
}

.ion-close {
	font-size: 11px;
}

h5 a {
	color: #474747;
	font-family: 'Lato', sans-serif;
}

h6 a {
	color: #474747;
	font-family: 'Lato', sans-serif;
}

button {
	color: #474747;
	font-family: 'Lato', sans-serif;
}

span p {
	color: #474747;
	font-family: 'Lato', sans-serif;
}

a {
	color: #474747;
	font-family: 'Lato', sans-serif;
}

.menu-item a {
	color: #474747;
	/* font-family: 'Poppins', sans-serif; */
	margin-top: 1rem;
	/* color: rgb(152, 152, 152); */
	font-size: 0.8rem;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
	 /* font-family: Lato;  */
	 text-transform: capitalize;
	/* font-family: 'Roboto',Arial,sans-serif; */
    letter-spacing: 0;

}
.menu-item a:hover {
	color: rgb(230, 39, 5);	
}
.menu-item-has-children a:hover {
	color: rgb(230, 39, 5);	
}

.menu-item-has-children {
	color: #474747;
	/* margin-top: 1rem; */
	font-size: 0.8rem;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
	 text-transform: capitalize;
    letter-spacing: 0;

}
.menu-item-has-children a{
	color: #474747;
	/* font-family: 'Poppins', sans-serif; */
	/* margin-top: 1rem; */
	/* color: rgb(152, 152, 152); */
	font-size: 0.8rem;
	font-weight: 600;
	font-family: 'Lato', sans-serif;

	 /* font-family: Lato;  */
	 text-transform: capitalize;
	/* font-family: 'Roboto',Arial,sans-serif; */
    letter-spacing: 0;
}

nav.site-nav > ul > li > a:after {
    position: absolute;
    right: 0;
    bottom: 0px;
    left: auto;
    width: 0;
    height: 1px;
    content: "";
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #cd3838;
}
nav.site-nav > ul > li.menu-item-has-children:hover .sub-menu {
	margin-top: 10px;
}

.dropdown-content a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	color: #474747;
	font-family: 'Lato', sans-serif;
}

#ccc {

	font-family: 'Lato', sans-serif;
}

#dropbtn[_ngcontent-ajq-c107] {
	background-color: #cecccc00;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	height: 10px;
	width: 10px;
}

.dl-menuwrapper button:after {
	content: '';
	position: absolute;
	width: 68%;
	height: 3px;
	/* background: #fff; */
	top: 5px;
	left: 15%;
	box-shadow: 0 10px 0 #fff, 0 20px 0 #fff;
}

#dropbtn {
	background-color: #cecccc00;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	height: 20px;
	width: 20px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover #dropbtn {
	background-color: #3e8e4100;
}

.nav-item {
	color: #444242;
	font-family: 'Lato', sans-serif;
	padding-right: 20px;
	font-size: 0.9em;
}
.header-bottom-container .logo-with-offcanvas {
    margin-top: 20px;
    flex-basis: 30%;
}
@media (max-width : 700px) {
	.header-right-icons {
		width: 100px;
	}

	.logo-with-offcanvas {
		margin-right: 60px;
	}
}

@media (max-width : 700px) {
	.header-bottom {
		padding-bottom: 0px;
	}
}

@media (max-width : 995px) {
	#logout {
		display: none;
	}

	#logoutside {
		display: inline;
	}

	.reg {
		display: none;
	}

	#regside {
		display: inline;
	}

	.reg1 {
		display: inline;
	}

	.loggin {
		display: none;
	}

	.loggin1 {
		display: inline;
	}

	#loginside {
		display: inline;
	}

	.header-bottom-navigation {
		display: none;
	}
}

@media (min-width : 995px) {
	.header-right-icons .single-icon.drop {
		display: none;
	}

	.header-bottom-navigation {
		display: inline;
	}

	.loggin1 {
		display: none;
	}

	.reg1 {
		display: none;
	}
}

.header-right-icons .single-icon.user-login {
	display: inline;
}

.header-right-icons .single-icon.wishlist {
	display: inline;
}

.ng-image-slider .ng-image-slider-container .main .next a {
	text-decoration: none;
	color: #474747
}

a {
	color: #474747;
	font-family: 'Lato', sans-serif;
}

.pl-2,
.px-2 {
	padding-left: 0;
}

.cart-title {
	color: #474747;
	font-family: 'Lato', sans-serif;
}

.username {
	color: #474747;
	font-family: 'Lato', sans-serif;
}

.offcanvas-cart-content-container .cart-product-wrapper .cart-product-container {
	position: relative;
	overflow: auto;
	max-height: 450px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

strong {
	font-weight: bold;
}

#wrapper {
	margin: 0;
	padding: 0;
}

#container {
	width: 1024px;
	margin: 0 auto;
	padding: 0;
}

.product-container {
	width: 100%;
	margin-top: 30px;
}

.product-list {
	width: 100%;
	float: left;
}

.product-list li {
	float: left;
	margin: 0 20px 20px 0;
}

.product {
	width: 235px;
	height: auto;
	position: relative;
	overflow: hidden;
}

.product-image {
	width: 235px;
	height: auto;
	display: block;
}

.product img {
	width: 235px;
}

.quick-view-controller {
	float: left;
	width: 100%;
	position: absolute;
	height: 50px;
	background-color: #666;
	opacity: 0.8;
	bottom: 0px;
}

.quick-view-controller p {
	float: left;
	margin: 7px 0px 7px 22px;
}

.quick-view-controller p a {
	padding: 10px 15px;
	background-color: #FFF;
	float: left;
}

.btn-view {
	color: #222;
}

.mask {
	background-color: #000;
	height: 10000px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	display: none;
	z-index: 9998;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

#quick-view-pop-up {
	display: none;
	background: #fff;
	border: 1px solid #999;
	z-index: 9998;
	position: absolute;
	top: 15%;
	left: 25%;
	min-height: 400px;
	min-width: 720px;
}

.quick-view-panel {
	z-index: 9999;
}

.quick-view-loading {
	width: 100%;
	float: left;
	display: none;
}

.mini-carousel,
.carousel {
	float: left;
}

.mini-carousel {
	margin: 22px 0 0 10px;
	float: left;
	width: 97px;
	height: 354px;
	overflow: hidden;
	display: block;
	white-space: nowrap;
	position: relative;
	top: 0px;
}

.mini-carousel ul {
	float: left;
	width: 97px;
	display: block;
	top: 0;
	position: relative;
}

.mini-carousel ul li {
	float: left;
	margin-bottom: 10px;
	width: 97px;
	height: 115px;
	top: 0;
	position: relative;
}

.carousel {
	float: left;
	position: relative;
	left: 3px;
	top: 6px;
	padding-left: 9px;
	display: block;
}

.image-large {
	float: left;
	top: 10px;
	width: 290px;
	overflow: hidden;
	display: block;
	left: 0;
}

.image-large ul {
	margin: 0 0 0 0;
	list-style: none;
	width: 1180px;
	height: 370px;
	overflow: hidden;
	position: relative;
}

.carousel ul li {
	float: left;
	margin: 0;
}

.video-player {
	width: 290px;
	height: 370px;
	display: none;
	position: absolute;
	top: 10px;
}

.video-player iframe {
	display: block;
	float: left;
	margin-left: 50px;
}

a.prev {
	position: absolute;
	top: 170px;
	left: 8px;
	height: 35px;
	width: 36px;
}

a.next {
	position: absolute;
	top: 170px;
	right: 0;
	width: 36px;
	height: 36px;
}

.quick-view-close {
	opacity: 1;
	position: absolute;
	right: 6px;
	top: 6px;
	width: 70px;
	cursor: pointer;
	z-index: 10;
	display: block;
	background-repeat: no-repeat;
	height: 24px;
	background-position-x: -78px;
}

.quick-view-video {
	position: absolute;
	bottom: 0;
	right: 0px;
	height: 26px;
	width: 90px;
}

.detail {
	width: 315px;
	float: left;
	margin: 40px 31px 40px 31px;

}

.product-details {
	margin-bottom: 20px;
	float: left;
}

.product-name {
	margin-bottom: 20px;
}

.product-price {
	margin-bottom: 20px;
}

.orange {
	margin-bottom: 15px;
	width: 100%;
	background-color: #d35400;
	color: #FFF;
	padding: 9px 21%;
	text-align: center;
	border-radius: 10px;
	text-transform: uppercase;
}

.grey {
	margin-top: 20px;
	float: left;
	width: 220px;
	padding: 3%;
	background-color: #CCC;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	border-radius: 10px;
}

.option-dropdowns {
	margin-bottom: 20px;
}

.buttons {
	margin-bottom: 20px;
}

a.view-more-detail {
	float: left;
	width: 81%;
	background-color: #356890;
	padding: 5% 5%;
	text-transform: uppercase;
	text-align: center;
	color: #FFF;
}

li::-webkit-scrollbar {
	display: none;
}

/* .bi-caret-right-fill{
color: red;
} */