<header class="header header-wide-topbar header-sticky border-bottom-0">
	<div id="marquetag" style="background:#000000; height: 15px;">
		<span >
			Do you have questions? Feel free to call us on +91 94427 33601. We are happy to help you.
			<!-- <marquee behavior="scrol" direction="left" scrollamount=1>	<p id="headerbar">Do you have Questions? Fell free to call us on ********.We will help you immediately. </p></marquee> -->
		</span>
	</div>

	<div class="header-bottom pt-md-40 pb-md-40 " style="background-color: #ce2127;">
		<div class="container wide">


			<!--=======  header bottom container  =======-->
			<div class="header-bottom-container">
				<div class="logo-with-offcanvas d-flex ">
					<!--=======  logo   =======-->
					<div class="logo " id="loogo">
						<a routerLink="/home"><img src="assets/images/spicelogo.jpeg" class="img-fluid sitelogo"
								alt=""></a>
					</div>
				</div>
				<!--=======  header bottom navigation  =======-->
				<div class="main">
					<div class="inputroup">
						<form class="input-group" [formGroup]="search" (ngSubmit)="search1(search)" style="width:100%;">
							<input type="text" list="codes" class="form-control" placeholder="Search for a product"
								formControlName="key" style="height: 30px;" (input)="inputHandle($event)">
							<datalist id="codes" style="background-color:white;">
								<option *ngFor="let c of searchList" [value]="c.name">{{c.name}}</option>
							</datalist>
							<div class="input-group-append" style="height: 30px;">
								<button class="btn btn-dark" type="submit" id="searchbar" style="display:inline;">
									<i class="ion-ios-search-strong"></i><span></span>
								</button>
							</div>
						</form>
					</div>
				</div>

				<div class="header-right-container">
					<!--=======  header right icons  =======-->
					
					<div class="header-right-icons d-flex justify-content-end align-items-center h-100">
						<div class="single-icon user-login" *ngIf="(userid!==0)">
							<h6 style="color:white;" >Hi,{{currentdetail?.user?.name}}...</h6>
						</div>

						<div class="single-icon user-login">	
							<a href="javascript:void(0)" id="offcanvas-about-icon">
								<span><img   class="ion-android-person" *ngIf="(userid!==0)" src="../../../assets/images/icons/user1.png" 
									alt=""></span>
							</a>
						</div>

						<div class="single-icon wishlist">
							<a href="javascript:void(0)" id="offcanvas-wishlist-icon">
								<span><img  class="ion-android-favorite-outline" *ngIf="(userid!==0)" src="../../../assets/images/icons/heart3.png" 
									 alt=""></span>	

								<span class="count" *ngIf="(userid!==0)">{{Wlength}}</span>
							</a>
		
							<a id="offcanvashlist-icon" class="loggin" *ngIf="(userid==0)">
								<button type="button" class="btn btn-outline-light" (click)="openlogin()"
									style="width: 100px;border: 1px solid#f1efef ;background-color: whitesmoke;padding: 0px;color:#ce2127;font-size: 1rem;">
									<span><img src="../../../assets/images/icons/login.png" style="height:18px;width:18px;margin-bottom: -3px;
								margin-right: 5px;" alt=""></span>
									<p style="display:contents;">Login</p>
								</button>
							</a>
						</div>

						<div class="single-icon cart">
							<a href="javascript:void(0)" id="offcanvas-cart-icon">
								<span><img class="ion-ios-cart" *ngIf="(userid!==0)" src="../../../assets/images/icons/shopping-cart (2).png" 
									style="height:28px;width:29px;margin-bottom: -3px;
										margin-right: 5px;" alt=""></span>
								<span class="count" *ngIf="(userid!==0)">{{cartlength}}</span>
							</a>
							<a id="offcanvashlist-icon" class="loggin" *ngIf="(userid==0)">
								<!-- <button type="button" class="btn btn-outline-light" (click)="opensignup()"
									style="width: 100px;border: 1px solid#f1efef ;background-color: whitesmoke;padding: 0px;color:#ce2127;font-size: 1rem;">
									<span><img src="../../../assets/images/icons/add-user.png" style="height:18px;width:18px;margin-bottom: -4px;
										margin-right: 7px;" alt=""></span>
									<p style="display:contents;">Signup</p>
								</button> -->
								<button type="button" class="btn btn-outline-light" (click)="opensignup()"
									style="width: 100px;border: 1px solid#f1efef ;background-color: whitesmoke;padding: 0px;color:#ce2127;font-size: 1rem;">
									<span><img src="../../../assets/images/icons/trolley.png" style="height:18px;width:18px;margin-bottom: -4px;
										margin-right: 7px;" alt=""></span>
									<p style="display:contents;">Cart</p>
								</button>
							</a>
						</div>

						<div class="single-icon drop">
							
							<a id="offcanart-icon">
								<div class="dropdown" style="float:right;">
									<i class="bi bi-three-dots-vertical"></i>
									<div class="dropdown-content">
										<!-- <a routerLink="/subscribedprod">Subscription</a> -->
										<a routerLink="/shopbyproduct">ShopByProduct</a>
										<a routerLink="/category">ShopByCategory</a>
										<a routerLink="/blog">Blog</a>
										<!-- <a routerLink="/recipe">Recipe</a> -->
										<a *ngIf="buyertypereal===2 && kyc_verify_status==0 && iskycupload ==0"
											(click)="openkyc()">Kyc</a>
										<hr>
										<a id="loginside" (click)="openlogin()" *ngIf="(userid==0)">Login</a>
										<hr>
										<a id="regside" routerLink="/signup" *ngIf="(userid==0)">Signup</a>
										<a id="logoutside" (click)="logout1()" *ngIf="(userid!==0)">Logout</a>
										<hr>

									</div>
								</div>
							</a>
						</div>

					</div>
				</div>


				<!--if  user is not login -->
				<div class="header-right-container" *ngIf="userlogin">
					<div class="header-right-icons d-flex justify-content-end align-items-center h-100">
						<div class="single-icon search">
							<a href="javascript:void(0)" id="search-icon">
								<i class="ion-ios-search-strong"></i>
							</a>
						</div>
						<!--=======  End of single-icon  =======-->
						<!--=======  single-icon  =======-->

						<div class="single-icon user-login">
							<a routerLink="login">
								<i class="ion-android-person"></i>
							</a>
						</div>

						<div class="single-icon wishlist">
							<a id="offcanvas-wishlist-icon">
								<i class="ion-android-favorite-outline"></i>
							</a>
						</div>

						<div class="single-icon cart">
							<a id="offcanvas-cart-icon">
								<i class="ion-ios-cart"></i>
							</a>
						</div>

					</div>
				</div>
				<!--=======  End of headeer right container  =======-->
			</div>
		<div class="main2">
					<div class="inputroup">
						<form class="input-group" [formGroup]="search" (ngSubmit)="search1(search)" style="width:100%;">
							<input type="text" list="codes" class="form-control" placeholder="Search for a product"
								formControlName="key" style="height: 30px;" (input)="inputHandle($event)">
							<datalist id="codes" style="background-color:white;">
								<option *ngFor="let c of searchList" [value]="c.name">{{c.name}}</option>
							</datalist>
							<div class="input-group-append" style="height: 30px;">
								<button class="btn btn-dark" type="submit" id="searchbar" style="display:inline;z-index: auto;">
									<i class="ion-ios-search-strong"></i><span></span>
								</button>
							</div>
						</form>
					</div>
				</div>
			<!-- Mobile Navigation Start Here -->
		</div>
	</div>

	<div class="header-bottom-navigation">
		<div class="site-main-nav d-none d-lg-block"  style="padding-left: 0%;height: 34px;background-color: #eee;">
			<nav class="site-nav" style="display: flex;">
				<!-- <div class="wrapper" style="flex-direction: row; 
						justify-content: center;
						align-items: center;display: block;margin-top: 5px;">
					<a class="btn" id="buttonsub"  routerLink="/subscribedprod" 
					style="border: 1px solid rgb(199 199 199);color: #000000;border-radius: 10px;">Subscription</a>
				</div> -->
				<ul style="margin-left: 5.7%;">
					<li class="menu-item"><a routerLink="/shopbyproduct">Shop by Products</a> </li>
					<li class="menu-item-has-children"><i class="bi bi-list" style="font-weight:500;"></i>&nbsp;<a
							style="font-weight:600;">Shop by Categories</a>
						<ul class="sub-menu mega-menu mega-menu-column-4 center-menu">
							<li class="lii" style="padding-left: 15px;">
								<ul class="mega-sub-menu" *ngFor="let img of Allcat;let i=index">
									<li style="margin-top: 10px;padding-left: 4px;" >
										<span class="lispan" style="text-decoration: underline" [ngClass]="{'active': subItem === i}"
											(click)="gotocategory(img.id)" (click)="viewsubcat(img.id,i)" 
											(mouseover)="viewsubcat(img.id,i)" (mouseout)="viewsubcatmoustout()">
											<a id="listactive" style="text-decoration:none;"> 
												<span >{{img.name}}</span>
									 		</a>
											<i *ngIf="img.number_of_children!=0"
												style="float: right;margin-top: 6px;color:#ce2127;"
												(click)="viewsubcat(img.id,i)" class="bi bi-caret-right-fill"
												[ngClass]="{'active': subItem === i}"
												></i>
										</span>
									</li>
								</ul>
							</li>
							<li class="lii" style="padding-left: 15px;">
								<ul class="mega-sub-menu" *ngFor="let img of Subcat;let i=index">
									<li style="margin-top: 10px;padding-left: 4px;" >
										<span class="lispan" [ngClass]="{'active': subItem1 === i}"
											(click)="gotocategory2(img.id)" (click)="viewsubcat2(img.id,i)"
											 (mouseover)="viewsubcat2(img.id,i)" (mouseout)="viewsubcat2moustout()">
											<a style="width:190px;" id="listactive" [ngClass]="{'active': subItem1 === i}">
												<span>{{img.name}}</span>
											</a>

											<i *ngIf="img.number_of_children!=0"
												style="float: right;margin-top: 7px; color:#ce2127;"
												(click)="viewsubcat2(img.id,i)" class="bi bi-caret-right-fill"
												[ngClass]="{'active': subItem1 === i}"
												></i>
										</span>
									</li>
								</ul>
							</li>

							<li class="lii" *ngIf="Subcat2?.length!=0" style="padding-left: 15px;">
								<ul class="mega-sub-menu" *ngFor="let img of Subcat2;let i=index">
									<li style="margin-top: 10px;padding-left: 4px;" >
										<span class="lispan" [ngClass]="{'active': subItem2 === i}"
											(click)="gotocategory3(img.id)" (click)="viewsubcat3(img.id,i)"
											 (mouseover)="viewsubcat3(img.id,i)" (mouseout)="viewsubcat3moustout()">
											<a style="width:190px;" id="listactive" [ngClass]="{'active': subItem2 === i}">
												<span>{{img.name}}</span>
											</a>
											<i *ngIf="img.number_of_children!=0"
												style="float: right;margin-top:7px;color:#ce2127;"
												(click)="viewsubcat3(img.id,i)" class="bi bi-caret-right-fill"
												[ngClass]="{'active': subItem2 === i}"
												></i>
										</span>
									</li>
								</ul>
							</li>
							<li class="lii" *ngIf="Subcat3?.length!=0" style="padding-left: 15px;">
								<ul class="mega-sub-menu" *ngFor="let img of Subcat3;let i=index">
									<li style="margin-top: 10px;" >

										<span class="lispan" id="listactive" [ngClass]="{'active': subItem3 === i}"
											(click)="gotocategory4(img.id)">
											<a style="display:inline;" [ngClass]="{'active': subItem3 === i}"> <span
													>{{img.name}}</span>
											</a>
										</span>
									</li>


								</ul>
							</li>
						</ul>

					<li class="menu-item"><a routerLink="/blog">Blogs</a> </li>
					<!-- <li class="menu-item"><a routerLink="/recipe">Recipes</a></li> -->
					<li class="menu-item" *ngIf="(userid==0)"><a (click)="openlogin()">Quick Order</a></li>
					<li class="menu-item" *ngIf="(userid!==0)"><a routerLink="/quickorderproducts/0">Quick Order</a></li>

				</ul>

				<!-- <span *ngIf="buyertypereal===2 && kyc_verify_status==0 && iskycupload ==0" class="wrapper1"
					style=" margin-left: 45px;"><a id="buttonsubscribe"><a class="btn btn-info" id="buttonkyc">Verify
							Kyc</a></a></span> -->

							<div class="wrapper" style="flex-direction: row; 
							justify-content: center;
							align-items: center;display: block;margin-top: 3px;" *ngIf="buyertypereal===2 && kyc_verify_status==0 && iskycupload ==0">
							<span   class="wrapper1" style=" margin-left: 45px;" (click)="openkyc()"><a id="buttonsubscribe"
								><a class="btn btn-danger" id="buttonkyc" >Verify KYC</a></a></span>
						</div>
				<!-- <span  *ngIf="buyertypereal===2 && kyc_verify_status==0 && iskycupload ==1" class="wrapper1" style=" margin-left: 45px;"><a id="buttonsubscribe"
						><a class="btn btn-info" id="buttonkyc">Kyc verification inprogress</a></a></span> -->

			</nav>
		</div>
	</div>


	<!--=======  End of header bottom  =======-->
</header>



<!--=======  about overlay  =======-->

<div class="header-offcanvas about-overlay" id="about-overlay">
	<div class="overlay-close inactive"></div>
	<div class="overlay-content" style="padding: 0px 0px;">
		<div class="overlay-content-container d-flex flex-column justify-content-between h-10">
			<!--=======  widget wrapper  =======-->

			<div class="widget-wrapper">
				<div class="logo-with-offcanvas d-flex" style="background-color: #ce2127;">
					<!--=======  logo   =======-->
					<div class="logo" style="width: 100%;height: 100%;">

						<img src="assets/images/spicelogo.jpeg" class="img-fluid sitelogo" alt="" style=" display: block;
								 margin-left: auto;
								 margin-right: auto;
								 width: 70%; height: 80%;">
					</div>
					<!--=======  End of logo   =======-->
				</div>
				<!--=======  single widget  =======-->

				<div class="single-widget mt-10">
					<div class="single-comment">
						<div class="single-comment__image" *ngIf="(profiledetail?.profileimg=='')">
							<img src="assets/images/user-profile.png" class="img-fluid" style="height: 55px;" alt="mm">
						</div>
						<div class="single-comment__image" *ngIf="(profiledetail?.profileimg!=='')">
							<img src="https://neophroncrm.com/spiceclubnew/public/{{profiledetail?.profileimg}}"
								class="img-fluid" style="height: 60px;object-fit: cover;width: 60px;" alt="profile">
						</div>
						<div class="single-comment__content  mt-2 pl-2 pt-10">
							<!--=======  username and date  =======-->
							<strong class="username">Hi {{profiledetail?.name}}...</strong>
							<!-- <p class="eml">{{profiledetail?.email}}</p> -->

						</div>
					</div>

				</div>
				<div class="row " id="closeabout" routerLink="/home">
					<h6 class="col-2"><span><img id="slidericon" class="ion-android-person"
								src="../../../assets/images/icons/home.png" alt=""></span></h6>
					<h6 class="col-10"> <a>Home</a> </h6>
				</div>
				<div class="row " id="closeabout" routerLink="/profile">
					<h6 class="col-2"><span><img id="slidericon" class="ion-android-person"
								src="../../../assets/images/icons/user1.png" alt=""></span> </h6>
					<h6 class="col-10"> <a>My Account</a></h6>
				</div>

				<div class="row" id="closeabout" routerLink="/wishlist">
					<h6 class="col-2"><span><img id="slidericon" class="ion-android-person"
								src="../../../assets/images/icons/heart.png" alt=""></span> </h6>
					<h6 class="col-10"><a>Wishlist</a></h6>
				</div>
				<div class="row" id="closeabout" routerLink="/cart">
					<h6 class="col-2"><span><img id="slidericon" class="ion-android-person"
								src="../../../assets/images/icons/trolley.png" alt=""></span></h6>
					<h6 class="col-10"><a>Cart</a></h6>
				</div>
				<div class="row " id="closeabout" routerLink="/orders">
					<h6 class="col-2"><span><img id="slidericon" class="ion-android-person"
								src="../../../assets/images/icons/shopping-bag.png" alt=""></span> </h6>
					<h6 class="col-10"><a>Orders</a></h6>
				</div>
				<!-- <div class="row " id="closeabout" routerLink="/wallet">
					<h6 class="col-2"><span><img id="slidericon" class="ion-android-person"
								src="../../../assets/images/icons/wallet.png" alt=""></span></h6>
					<h6 class="col-10"><a>My Wallet</a></h6>
				</div> -->
				<div class="row " id="closeabout" routerLink="/address">
					<h6 class="col-2"><span><img id="slidericon" class="ion-android-person"
								src="../../../assets/images/icons/placeholder.png" alt=""></span></h6>
					<h6 class="col-10"><a>My Address</a></h6>
				</div>
				<div class="row " id="closeabout" routerLink="/message">
					<h6 class="col-2"><span><img id="slidericon" class="ion-android-person"
								src="../../../assets/images/icons/chat.png" alt=""></span> </h6>
					<h6 class="col-10"><a>My Support Tickets</a></h6>
				</div>

				<!-- <div class="row " id="closeabout" (click)="openkyc()"
					*ngIf="buyertypereal===2 && kyc_verify_status==0">
					<h6 class="col-2"><i class="ionicons ion-ios-information"></i> </h6>
					<h6 class="col-10"><a>Kyc</a></h6>
				</div>
				<div class="row " id="closeabout" (click)="openenquery()" *ngIf="buyertypeid==2">
					<h6 class="col-2"><i class="ionicons ion-ios-information"></i> </h6>
					<h6 class="col-10"><a>Enquiry</a></h6>
				</div> -->
				<div class="row " id="closeabout" (click)="logout1()">
					<h6 class="col-2"><span><img class="ion-android-person" src="../../../assets/images/icons/arrow.png"
								style="height:15px;width:15px;margin-bottom: 1px;
							margin-right: 5px;" alt=""></span> </h6>
					<h6 class="col-10" ><a>Logout</a></h6>
				</div>
				<!-- <div class="row mb-2 ml-4" id="closeabout">
						<h6 class="col-2"><i class="ion-android-exit 180deg"></i> </h6>
						<h6 class="col-8"  (click)="logout()"><a>social Logout</a></h6>
						
					</div> -->

				<!--=======  End of single widget  =======-->
			</div>




			<!--=======  End of contact widget  =======-->
		</div>

		<!--=======  End of overlay content container  =======-->
	</div>
</div>

<!--=======  End of about overlay  =======-->

<!--=======  wishlist overlay  =======-->

<div class="wishlist-overlay" id="wishlist-overlay">
	<div class="wishlist-overlay-close inactive"></div>
	<div class="wishlist-overlay-content">
		<!--=======  close icon  =======-->
		<span class="close-icon" id="wishlist-close-icon">
			<a href="javascript:void(0)">
				<i class="bi bi-x-circle-fill" style="color: #ce2127; font-size: 1.2rem;"></i>
			</a>
		</span>
		<!--=======  End of close icon  =======-->

		<!--=======  offcanvas wishlist content container  =======-->

		<div class="offcanvas-cart-content-container">
			<h3 class="cart-title">
				<span><img class="ion-android-favorite-outline" src="../../../assets/images/icons/heart.png" style="height:20px;width:20px;margin-top: -6px;
						margin-right: 5px;" alt=""></span><span> Wishlist</span>
			</h3>

			<div class="cart-product-wrapper" *ngIf="Wlength!==0">
				<div class="cart-product-container  ps-scroll">
					<!--=======  single cart product  =======-->

					<div class="single-cart-product" *ngFor="let img of Wishlist">
						<span class="cart-close-icon">
							<a (click)="deleteRecord(img.id)">
								<i class="bi bi-trash-fill" style="font-size: 13px;color: #e53c3c;"></i></a>
						</span>
						<div class="image">
							<a>
								<img src="https://neophroncrm.com/spiceclubnew/public/{{img.product.thumbnail_image}}">
							</a>
						</div>
						<div class="content" (click)="gotoproduct(img.product.id)">
							<p style="height: 15px;"></p>
							<h5 style="width: 200px;"><a>{{img.product.name}}</a></h5>
							<p>
								<span *ngIf="img.product.stroked_price!==img.product.base_price"
									class="main-price discounted">{{img.product?.stroked_price}}</span>
								<span class="discounted-price" style="color: red;">{{img.product.base_price}}</span>
							</p>
						</div>
					</div>

					<!--=======  End of single cart product  =======-->
				</div>

				<!--=======  cart buttons  =======-->

				<div class="cart-buttons">
					<a class="closewishlist" (click)="gotowishlist()">View Wishlist </a>
				</div>

				<!--=======  End of cart buttons  =======-->
			</div>

			<!-- empty -->
			<div class="cart-product-wrapper" *ngIf="Wlength==0" style=" padding: 70px 0;
					text-align: center; height: 450px;">

				<h6 style=" padding-top: 180px;"> Wishlist is empty</h6>

			</div>
		</div>

		<!--=======  End of offcanvas wishlist content container   =======-->
	</div>
</div>

<!--=======  End of wishlist overlay  =======-->

<!--=======  cart overlay  =======-->

<div class="cart-overlay" id="cart-overlay">
	<div class="cart-overlay-close inactive"></div>
	<div class="cart-overlay-content">
		<!--=======  close icon  =======-->

		<span class="close-icon" id="cart-close-icon">
			<a href="javascript:void(0)">
				<i class="bi bi-x-circle-fill" style="color: #ce2127;font-size: 1.2rem;"></i>
			</a>
		</span>

		<!--=======  End of close icon  =======-->

		<!--=======  offcanvas cart content container  =======-->

		<div class="offcanvas-cart-content-container">
			<h3 class="cart-title"><span><img class="ion-android-favorite-outline"
						src="../../../assets/images/icons/trolley.png" style="height:20px;width:20px;margin-top: -6px;
						margin-right: 5px;" alt=""></span> Cart</h3>

			<div class="cart-product-wrapper" *ngIf="cartlength!==0">
				<div class="cart-product-container  ps-scroll">
					<!--=======  single cart product  =======-->
					<div class="sdd" *ngFor="let img of Cart">
						<div class="single-cart-product" *ngFor="let b of img.cart_items">
							<span class="cart-close-icon">
								<a (click)="deleteRecord2(b.id)">
									<i class="bi bi-trash-fill" style="font-size: 13px;color: #e53c3c;"></i></a>
							</span>
							<div class="image">
								<a>
									<img
										src="https://neophroncrm.com/spiceclubnew/public/{{b.product_thumbnail_image}}">
								</a>
							</div>
							<div class="content" (click)="gotoproduct(b.product_id)">
								<p style="height: 15px;"></p>
								<h5 style="width: 200px;"><a>{{b.product_name}}</a></h5>
								<p>
									<span *ngIf="b?.stroked_price!==b?.pricestring"
										class="main-price discounted">{{b?.stroked_price}}</span>
									<span class="discounted-price" style="color: red;"> {{b.pricestring}}</span>
								</p>
								<span>
									<p style="font-size:small;">Quantity: {{b.quantity}}</p>
								</span>
							</div>
						</div>
					</div>
				</div>



				<!--=======  subtotal calculation  =======-->

				<p class="cart-subtotal">
					<span class="subtotal-title">Sub Total</span>
					<span class="subtotal-amount">{{subtot}}</span>
				</p>

				<!--=======  End of subtotal calculation  =======-->

				<!--=======  cart buttons  =======-->

				<div class="cart-buttons">
					<a (click)="gotocart()" class="closeoverlay">View Cart</a>
					<a (click)="gotocheckout()" class="closeoverlay">Checkout</a>
				</div>


			</div>

			<!-- empty -->
			<div class="cart-product-wrapper" *ngIf="cartlength==0" style=" padding: 70px 0;
				text-align: center; height: 450px;">

				<h6 style=" padding-top: 180px;"> Cart is empty</h6>

			</div>
		</div>

		<!--=======  End of offcanvas cart content container   =======-->
	</div>
</div>

<!--=======  End of cart overlay  =======-->


<!--=======  search overlay  =======-->

<div class="search-overlay" id="search-overlay">
	<!--=======  close icon  =======-->
	<span class="close-icon search-close-icon">
		<a href="javascript:void(0)" id="search-close-icon">
			<i class="ion-android-close"></i>
		</a>
	</span>

	<div class="search-overlay-content">
		<div class="input-box">
			<!-- <form action="index.html" >
					<input type="search" placeholder="Search Products..."  (click)='filterDatatable($event)'>
				</form> -->
			<div class="search-widget">
				<form [formGroup]="search" (ngSubmit)="search1(search)">
					<input type="search" style="height: 100px; padding-right: 50px;" formControlName="key"
						placeholder="Search products ...">
					<button class="closesearch" type="submit" style="size: 100px; margin-top: 30px;"><i
							class="ion-android-search" style="font-size: 50px;"></i></button>
				</form>
			</div>
		</div>
		<div class="search-hint">
			<span id="ccc"># Hit enter to search or ESC to close</span>
		</div>
	</div>

	<!--=======  End of search overlay content  =======-->
</div>

<!--=======  End of search overlay  =======-->

<!--=====  End of overlay items  ======-->