
<header class="header header-wide-topbar header-sticky border-bottom-0">

    <!--=======  header bottom  =======-->

    <div class="header-bottom pt-md-40 pb-md-40 pt-sm-40 pb-sm-40">
        <div class="container wide">


            <!--=======  header bottom container  =======-->

            <div class="header-bottom-container">

                <!--=======  logo with off canvas  =======-->

                <div class="logo-with-offcanvas d-flex">



                    <!--=======  logo   =======-->

                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/spicelogo.jpeg" class="img-fluid sitelogo" alt="">
                        </a>
                    </div>

                    <!--=======  End of logo   =======-->
                </div>

                <!--=======  End of logo with off canvas  =======-->

                <!--=======  header bottom navigation  =======-->

                <div class="header-bottom-navigation">
                    <div class="site-main-nav d-none d-lg-block">
                        <nav class="site-nav center-menu">
                            <ul>
                                <li class="menu-item"><a routerLink="/home">Home</a>
                                    
                                </li>
								<li class="menu-item" ><a routerLink="/shopbyproduct">ShopByProduct</a>                                
                                </li>
                                 <li class="menu-item-has-children"><a href="javascript:void(0)">WellBeing Products</a>
                                    <ul class="sub-menu single-column-menu">
                                        <li><a href="">Aromotherapy</a></li>
                                        <li><a href="">Essential Oils</a></li>
                                        <li><a href="">Skin & Face Care</a></li>
                                        <li><a href="">Natural Hair Care</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0)">Beverages</a>
                                    <ul class="sub-menu single-column-menu">
                                        <li><a href="">Tea</a></li>
                                        <li><a href="">Green Tea</a></li>
                                        <li><a href="">Blended Coffee</a></li>
                                        <li><a href="">Green Coffee</a></li>
                                        <li><a href="">Milk Mixes</a></li>
                                    </ul>
                                </li>
                               
                                <li class="menu-item-has-children "><a href="blog.html">Blog</a>
                                    
                                </li>
                                <li class="menu-item-has-children "><a href="javascript:void(0)">Contact</a>
                                    
                                </li>
                                <!-- <li class="menu-item"><a routerLink="login">Login</a>
                                    
                                </li> -->
                            </ul>
                        </nav>
                    </div>
                </div>

                <!--=======  End of header bottom navigation  =======-->

                <!--=======  headeer right container  =======-->

                <div class="header-right-container">

                    <!--=======  header right icons  =======-->

                    <div class="header-right-icons d-flex justify-content-end align-items-center h-100">
                        <!--=======  single-icon  =======-->

                        <div class="single-icon search">
                            <a href="javascript:void(0)" id="search-icon">
                                <i class="ion-ios-search-strong"></i>
                            </a>
                        </div>

                        <!--=======  End of single-icon  =======-->
                        <!--=======  single-icon  =======-->

                        <div class="single-icon user-login">
                            <a routerLink="login">
                                <i class="ion-android-person"></i>
                            </a>
                        </div>

                        <!--=======  End of single-icon  =======-->
                        <!--=======  single-icon  =======-->

                        <div class="single-icon wishlist">
                            <a href="javascript:void(0)" id="offcanvas-wishlist-icon">
                                <i class="ion-android-favorite-outline"></i>
                                <span class="count">2</span>
                            </a>
                        </div>

                        <!--=======  End of single-icon  =======-->
                        <!--=======  single-icon  =======-->

                        <div class="single-icon cart">
                            <a href="javascript:void(0)" id="offcanvas-cart-icon">
                                <i class="ion-ios-cart"></i>
                                <span class="count">3</span>
                            </a>
                        </div>
                        <!--=======  End of single-icon  =======-->
                    </div>
                    <!--=======  End of header right icons  =======-->

                </div>

                <!--=======  End of headeer right container  =======-->


            </div>

            <!--=======  End of header bottom container  =======-->

            <!-- Mobile Navigation Start Here -->

            <div class="site-mobile-navigation d-block d-lg-none">
                <div id="dl-menu" class="dl-menuwrapper site-mobile-nav">
                  
                    <button class="dl-trigger hamburger hamburger--spin">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                  
                    <ul class="dl-menu dl-menu-toggle">
                            <ul class="dl-submenu">

                                <li><a >Home</a>
                                    
                                </li>
                                 <li><a>WellBeing Products</a>
                                    <ul class="dl-sub-menu">
                                        <li><a href="">Aromotherapy</a></li>
                                        <li><a href="">Essential Oils</a></li>
                                        <li><a href="">Skin & Face Care</a></li>
                                        <li><a href="">Natural Hair Care</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)">Beverages</a>
                                    <ul class="dl-sub-menu">
                                        <li><a href="">Tea</a></li>
                                        <li><a href="">Green Tea</a></li>
                                        <li><a href="">Blended Coffee</a></li>
                                        <li><a href="">Green Coffee</a></li>
                                        <li><a href="">Milk Mixes</a></li>
                                    </ul>
                                </li>
                                <li ><a href="products.html">Gourmet & Groceries</a>
                                    
                                     
                                            <ul class="dl-sub-menu">
                                                <li><a href="product.html">Millets & Traditional Rice</a></li>
                                                <li><a href="product.html">Nutritious Chutney Powders</a></li>
                                                <li><a href="product.html">Virgin Edible Oils</a></li>
                                                <li><a href="product.html">Food Supplements</a></li>
                                                <li><a href="product.html">Salt,Sugar & Honey</a></li>
                                                <li><a href="product.html">Instant Mixes</a></li>
                                                <li><a href="product.html">Snacks & Savouries</a></li>
                                                <li><a href="product.html">Herbs & Seasonings</a></li>
                                            </ul>
                                        
                                    
                                </li>

                        
                    </ul>
                </ul>
                </div>
            </div>

            <!-- Mobile Navigation End Here -->


        </div>
    </div>



    <!--=======  End of header bottom  =======-->
</header>









   
<!-- <div class="newsletter-overlay-area">
    <div class="newsletter-content newsletter-content-bg-1" id="newsletter-content">

        <span class="close-icon" id="newsletter-popup-close-icon">
            <a href="javascript:void(0)">
                <i class="ion-android-close"></i>
            </a>
        </span>

        <h2 class="mb-12"><span>Get</span> to know about 1st.
        </h2>

        <div class="mc-newsletter-form mc-newsletter-form--popup mb-40">
            <form id="mc-form" class="mc-form">
                <input type="email" placeholder="Your email address" required>
                <button type="submit">SUBSCRIBE</button>
            </form>
        </div>

       

        <div class="mailchimp-alerts">
            <div class="mailchimp-submitting"></div>
            <div class="mailchimp-success"></div>
            <div class="mailchimp-error"></div>
        </div>

        <p>* Be the first to learn about our products and get exclusive offers.</p>
    </div>
</div> -->




	<!--=============================================
	=            overlay items         =
	=============================================-->

	<!--=======  about overlay  =======-->

	<div class="header-offcanvas about-overlay" id="about-overlay">
		<div class="overlay-close inactive"></div>
		<div class="overlay-content">

			<!--=======  close icon  =======-->

			<span class="close-icon" id="about-close-icon">
				<a href="javascript:void(0)">
					<i class="ti-close"></i>
				</a>
			</span>

			<!--=======  End of close icon  =======-->

			<!--=======  overlay content container  =======-->

			<div class="overlay-content-container d-flex flex-column justify-content-between h-100">
				<!--=======  widget wrapper  =======-->

				<div class="widget-wrapper">
					<!--=======  single widget  =======-->

					<div class="single-widget">
						<h2 class="widget-title">About Us</h2>
						<p>At Lezada, we put a strong emphasis on simplicity, quality and usefulness of fashion products over other
							factors. Our fashion items never get outdated. They are not short-lived as normal fashion clothes.</p>
					</div>

					<!--=======  End of single widget  =======-->
				</div>

				<!--=======  End of widget wrapper  =======-->

				<!--=======  contact widget  =======-->

				<div class="contact-widget">
					<p class="email"><a href="mailto:contact@lezada.com">contact@lezada.com</a></p>
					<p class="phone">(+00) 123 567990</p>

					<div class="social-icons">
						<ul>
							<li><a href="//www.twitter.com" data-tippy="Twitter" data-tippy-inertia="true"
									data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" target="_blank"><i
										class="fa fa-twitter"></i></a></li>
							<li><a href="//www.facebook.com" data-tippy="Facebook" data-tippy-inertia="true"
									data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" target="_blank"><i
										class="fa fa-facebook"></i></a></li>
							<li><a href="//www.instagram.com" data-tippy="Instagram" data-tippy-inertia="true"
									data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" target="_blank"><i
										class="fa fa-instagram"></i></a></li>
							<li><a href="//www.youtube.com" data-tippy="Youtube" data-tippy-inertia="true"
									data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" target="_blank"><i
										class="fa fa-youtube-play"></i></a></li>
						</ul>
					</div>
				</div>

				<!--=======  End of contact widget  =======-->
			</div>

			<!--=======  End of overlay content container  =======-->
		</div>
	</div>

	<!--=======  End of about overlay  =======-->

	<!--=======  wishlist overlay  =======-->

	<div class="wishlist-overlay" id="wishlist-overlay">
		<div class="wishlist-overlay-close inactive"></div>
		<div class="wishlist-overlay-content">
			<!--=======  close icon  =======-->

			<span class="close-icon" id="wishlist-close-icon">
				<a href="javascript:void(0)">
					<i class="ion-android-close"></i>
				</a>
			</span>

			<!--=======  End of close icon  =======-->

			<!--=======  offcanvas wishlist content container  =======-->

			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Wishlist</h3>

				<div class="cart-product-wrapper">
					<div class="cart-product-container  ps-scroll">
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="products.html">
									<img src="assets/images/products/prod8-f.jpeg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="products.html">Demo Product</a></h5>
								<p><span class="main-price discounted">Rs 200.00</span> <span class="discounted-price">Rs 180.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="products.html">
									<img src="assets/images/products/prod6-f.jpeg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="products.html">Demo Product</a></h5>
								<p><span class="main-price discounted">Rs 300.00</span> <span class="discounted-price">Rs 220.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="products.html">
									<img src="assets/images/products/prod2-f.jpeg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="products.html">Demo Product</a></h5>
								<p><span class="main-price discounted">Rs 100.00</span> <span class="discounted-price">Rs 80.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="products.html">
									<img src="assets/images/products/prod2-f.jpeg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="products.html">Demo Product</a></h5>
								<p><span class="main-price discounted">Rs 200.00</span> <span class="discounted-price">Rs 180.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="products.html">
									<img src="assets/images/products/prod1-f.jpeg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="products.html">Demo Product</a></h5>
								<p><span class="main-price discounted">Rs 200.00</span> <span class="discounted-price">Rs 180.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
					</div>

					<!--=======  cart buttons  =======-->

					<div class="cart-buttons">
						<a href="shop-wishlist.html">view wishlist</a>
					</div>

					<!--=======  End of cart buttons  =======-->
				</div>
			</div>

			<!--=======  End of offcanvas wishlist content container   =======-->
		</div>
	</div>

	<!--=======  End of wishlist overlay  =======-->

	<!--=======  cart overlay  =======-->

	<div class="cart-overlay" id="cart-overlay">
		<div class="cart-overlay-close inactive"></div>
		<div class="cart-overlay-content">
			<!--=======  close icon  =======-->

			<span class="close-icon" id="cart-close-icon">
				<a href="javascript:void(0)">
					<i class="ion-android-close"></i>
				</a>
			</span>

			<!--=======  End of close icon  =======-->

			<!--=======  offcanvas cart content container  =======-->

			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Cart</h3>

				<div class="cart-product-wrapper">
					<div class="cart-product-container  ps-scroll">
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="products.html">
									<img src="assets/images/products/prod3-f.jpeg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="products.html">Demo Product</a></h5>
								<p><span class="cart-count">2 x </span> <span class="discounted-price">Rs 180.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="products.html">
									<img src="assets/images/products/prod2-f.jpeg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="products.html">Demo Product</a></h5>
								<p><span class="cart-count">2 x </span> <span class="discounted-price">Rs 220.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="products.html">
									<img src="assets/images/products/prod5-f.jpeg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="products.html">Demo Product</a></h5>
								<p><span class="cart-count">2 x </span> <span class="discounted-price">Rs 80.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="products.html">
									<img src="assets/images/products/prod6-f.jpeg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="products.html">Demo Product</a></h5>
								<p><span class="cart-count">2 x </span> <span class="discounted-price">Rs 180.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="products.html">
									<img src="assets/images/products/prod7-f.jpeg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="products.html">Demo Product</a></h5>
								<p><span class="cart-count">2 x </span> <span class="discounted-price">Rs 180.00</span></p>

							</div>
						</div>

						<!--=======  End of single cart product  =======-->
					</div>

					<!--=======  subtotal calculation  =======-->

					<p class="cart-subtotal">
						<span class="subtotal-title">Subtotal:</span>
						<span class="subtotal-amount">Rs 200.00</span>
					</p>

					<!--=======  End of subtotal calculation  =======-->

					<!--=======  cart buttons  =======-->

					<div class="cart-buttons">
						<a href="shop-cart.html">view cart</a>
						<a href="shop-checkout.html">checkout</a>
					</div>

					<!--=======  End of cart buttons  =======-->

					<!--=======  free shipping text  =======-->

					<p class="free-shipping-text">
						Free Shipping on All Orders Over Rs 100!
					</p>

					<!--=======  End of free shipping text  =======-->
				</div>
			</div>

			<!--=======  End of offcanvas cart content container   =======-->
		</div>
	</div>

	<!--=======  End of cart overlay  =======-->


	<!--=======  search overlay  =======-->

	<div class="search-overlay" id="search-overlay">

		<!--=======  close icon  =======-->

		<span class="close-icon search-close-icon">
			<a href="javascript:void(0)" id="search-close-icon">
				<i class="ti-close"></i>
			</a>
		</span>

		<!--=======  End of close icon  =======-->

		<!--=======  search overlay content  =======-->

		<div class="search-overlay-content">
			<div class="input-box">
				<form action="index.html">
					<input type="search" placeholder="Search Products...">
				</form>
			</div>
			<div class="search-hint">
				<span># Hit enter to search or ESC to close</span>
			</div>
		</div>

		<!--=======  End of search overlay content  =======-->
	</div>

	<!--=======  End of search overlay  =======-->

	<!--=====  End of overlay items  ======-->

