.blink {
	animation: blinker 3.5s linear infinite;
	color: red;
	font-family: sans-serif;
}
@keyframes blinker {
	50%{
		opacity:0
	}
	/* 0% {
		opacity: 0;
	}
	20% {
		opacity: 0.9;
	}
	40%{
		opacity: 2;
	}
	70%{
		opacity: 0.8;
	}
	100%{
		opacity: 0;
	} */
	
}

.dropbtn {
	background-color: #04AA6D;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }

 .lii{
	scroll-behavior: smooth;
	
 }
 
  .dropbtn:hover, .dropbtn:focus {
	background-color: #3e8e41;
  }
  
  #myInput {
	box-sizing: border-box;
	
	background-position: 14px 12px;
	background-repeat: no-repeat;
	font-size: 16px;
	padding: 14px 20px 12px 45px;
	border: none;
	border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f6f6f6;
	min-width: 230px;
	overflow: auto;
	border: 1px solid #ddd;
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
/* 
//search above */
div {
    font-family: Arial, Helvetica, sans-serif !important;
    letter-spacing: 0;
}
.single-widget{
	padding-left: 10px;
	border-bottom: 1px solid #e3e3e3;
    margin-bottom: 15px;
}
#slidericon{
	height:15px;
	width:15px;
	margin-bottom: 0px;
    margin-right: 5px;
}
#closeabout{
	font-size: 0.9rem;
	margin-bottom: 15px;
	padding-left: 10px;
	padding-top: 2px;
}
#closeabout .col-2{
	text-align: center;
	color: #ce2127;
	font-size: 1rem;
}
#closeabout:hover{
	background-color: #ebe6e6;
	box-shadow: 0px 1px 7px #e14848;
}
.eml{
	color: #63a93f;
	font-size: 0.8rem;
}

#headerbar{
	color: rgb(255, 255, 255);
	font-size: 0.6rem;
    font-weight: 600;
}
.cart-buttons .closewishlist{
	font-size: 14px;
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
    padding: 3px 10px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #333333;
    border-radius: 0;
    background-color: #333333;
    border-radius: 25px;
    text-transform: none;
}
.cart-buttons .closeoverlay{
	font-size: 14px;
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
    padding: 3px 10px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #333333;
    border-radius: 0;
    background-color: #333333;
    border-radius: 25px;
    text-transform: none;
}

input::placeholder{
	font-family: Arial, Helvetica, sans-serif ;
	font-size: 0.8rem;
	color: rgb(190, 190, 190);
}
input{
	font-family: Arial, Helvetica, sans-serif ;
	font-size: 0.8rem;
	color: rgb(190, 190, 190);
}

.wrapper1 {
	/* background-color: #ffc801; */
	padding: -4px;
	font-size: 0.8rem;
	padding: 0px 2px;
	border-radius: 6px;
	height: fit-content;
	/* margin-bottom: 26px; */
	/* animation: glowing 1300ms infinite; */
	font-family: inherit;
	margin-top: 7px;
}
#buttonsubscribe {
	/* animation: blinker 1.5s linear infinite; */
	color: red;
	font-family: sans-serif;
}
@keyframes blinker {
	50% {
		opacity: 0;
	}
}

/* #buttonsubscribe {
	border: 1px transparent;
	color: #141414;
	cursor: pointer;
	display: inline-block;
	font-family: Arial;
	font-size: 12px;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	margin-left: 0px;
	-webkit-animation: wrapper1 1300ms infinite;
	-moz-animation: wrapper1 1300ms infinite;
	-o-animation: wrapper1 1300ms infinite;
	animation: wrapper1 1300ms infinite;
	width: 120px;
} */

/* .sitelogo {	
    width: 61%;
    margin-top: 3%;
} */

.wrapper {
	display: flex;
	/* height: 20vh; */
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#buttonsub {
	border: 1px transparent;
	color: #eeeeee;
	cursor: pointer;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif ;
	font-size: 15px;
	padding: 0px 10px;
	text-align: center;
	text-decoration: none;
	margin-left: 0px;

	
}

#buttonkyc {
	border: 1px transparent;
	/* -webkit-border-radius: 40px; */
	/* border-radius: 40px; */
	color: #eeeeee;
	cursor: pointer;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif ;
	background-color: #030303;
	font-size: 12px;
	padding: 1px 10px;
	text-align: center;
	text-decoration: none;
	margin-left: 0px;
	-webkit-animation: glowing 1300ms infinite;
	-moz-animation: glowing 1300ms infinite;
	-o-animation: glowing 1300ms infinite;
	animation: glowing 1300ms infinite;
	/* width: 120px; */
}

#buttonkyc1 {
	border: 1px transparent;
	/* -webkit-border-radius: 40px; */
	/* border-radius: 40px; */
	color: #eeeeee;
	cursor: pointer;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif ;

	font-size: 10px;
	padding: 5px 20px;
	text-align: center;
	text-decoration: none;
	margin-left: 0px;
	/* -webkit-animation: glowing 1300ms infinite;
	-moz-animation: glowing 1300ms infinite;
	-o-animation: glowing 1300ms infinite;
	animation: glowing 1300ms infinite; */
	width: 120px;
}

/* @-webkit-keyframes glowing {
	0% {
		background-color: #0091b2;
		-webkit-box-shadow: 0 0 3px #0091b2;
	}

	50% {
		background-color: #21c7ed;
		-webkit-box-shadow: 0 0 15px #21c7ed;
	}

	100% {
		background-color: #0091b2;
		-webkit-box-shadow: 0 0 3px #0091b2;
	}
} */


@keyframes subscription {
	0% {
		background-color:  #40ec1e;
		box-shadow: 0 0 3px #fd3a09;
		color: rgb(58, 58, 58);
	}
	25% {
		background-color:   #4edd31;
		box-shadow: 0 0 15px #d7fcbf;
		color: rgb(58, 58, 58);

	}
	
	50% {
		background-color:   #1eb200;
		box-shadow: 0 0 15px #fd3a09;
		color: rgb(58, 58, 58);

	}

	100% {
		background-color: #6dff2a;
		box-shadow: 0 0 3px #e2140d;
		color: rgb(58, 58, 58);

		
	}
}

.svg-btn {
	display: block;
	width: 230px;
	height: 230px;
	margin-left: 10px;
}

svg {
	fill: blue;
	-webkit-animation: glowing-polygon 1300ms infinite;
	-moz-animation: glowing-polygon 1300ms infinite;
	-o-animation: glowing-polygon 1300ms infinite;
	animation: glowing-polygon 1300ms infinite;
}

/* @-webkit-keyframes glowing-polygon {
	0% {
		fill: #0091b2;
		-webkit-filter: drop-shadow(0 0 3px #0091b2);
	}

	50% {
		fill: #21c7ed;
		-webkit-filter: drop-shadow(0 0 15px #21c7ed);
	}

	100% {
		fill: #0091b2;
		-webkit-filter: drop-shadow(0 0 3px #0091b2);
	}
} */

@keyframes glowingPolygon {
	0% {
		fill: #0091b2;
		filter: drop-shadow(0 0 3px #0091b2);
	}

	50% {
		fill: #21c7ed;
		filter: drop-shadow(0 0 15px #21c7ed);
	}

	100% {
		fill: #0091b2;
		filter: drop-shadow(0 0 3px #0091b2);
	}
}
@keyframes wrapper1 {
	0% {
		fill: #f7e5ab;
		filter: drop-shadow(0 0 10px #f8d665);
	}

	50% {
		fill:  #fddd73;
		filter: drop-shadow(0 0 7px #ffe81b);
	}

	100% {
		fill:  #f1be13;
		filter: drop-shadow(0 0 10px   #f1be13);
	}
}



/* // */
nav.site-nav>ul>li {
	line-height: 0px;
	padding-bottom: 30px;

}

.header-right-container {
	margin-left: 0px;
	/* display: contents; */
}

.inputroup {
	width: 100%;
	/* margin-left: 30px; */
}

#searchbar {
	color: white;

	font-family: Arial, Helvetica, sans-serif;
}

#searchbar span {
	font-size: 00.8rem;

}

.btn {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8rem;
	font-weight: 600;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
	padding-left: 2.375rem;
}

.has-search .form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 2.375rem;
	text-align: center;
	pointer-events: none;
	color: #aaa;
}

.lispan {
	/* display:block;padding-left: 8px; */
	display: inline-block;
	width: 220px;
	text-overflow: ellipsis;
	color: #140f0f;
	font-family: Arial, Helvetica, sans-serif;
}
.lispan:hover {
 background-color: #fddbdb;
 text-decoration: none;
}
.lispan.active {
	background-color: #fddbdb;
	text-decoration: none;
   }

a#listactive::after{
	text-decoration:none !important;
  background-color:#fddbdb ;
   }
.mega-sub-menu li{
	text-decoration: none;
}
.lispan a span {
	margin-top: 1rem;
	color: #140f0f;
	font-size: 0.8rem;
	font-weight: 500;
	text-transform: capitalize;
	text-decoration: none;
	padding-left: 10px;
}
.lispan a span:hover {
		text-decoration: none;
   }

.lii {
	max-height: 270px;
	height: 270px;
	 overflow-y: auto; 
	overflow-x: hidden;
	padding-left: 5px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
#lii_two{
	max-height: 270px;
	height: 270px;
	 overflow-y: auto; 
	overflow-x: hidden;
	padding-left: 5px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
#lii_one{
	max-height: 270px;
	height: 270px;
	 overflow-y: auto; 
	overflow-x: hidden;
	padding-left: 5px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
#lii_three{
	max-height: 270px;
	height: 270px;
	 overflow-y: auto; 
	overflow-x: hidden;
	padding-left: 5px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/* .content {
	max-height: 270px;
	height: 270px;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
	background-color: rgb(255, 255, 255);
  }
   */
  .content::-webkit-scrollbar {
	width: 0;
	height: 0;
  }

/* .mega-sub-menu:hover {
	scrollbar-width: thin !important;
	-ms-overflow-style:thin !important;
} */

/* .lii:hover {
	scrollbar-width: thin !important;
	-ms-overflow-style:thin !important;
	
  } */
#listactive{
	margin-bottom: 0px;
}

.bi-caret-right-fill {
	color: #999999;
}

i.active {
	color: rgb(10, 9, 9);
}

.ion-close {
	font-size: 11px;
}

h5 a {
	color: #140f0f;
	font-family: Arial, Helvetica, sans-serif;
}

h6 a {
	color: #140f0f;
	font-family: Arial, Helvetica, sans-serif;
}

button {
	color: #140f0f;
	font-family: Arial, Helvetica, sans-serif;
}

span p {
	color: #140f0f;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: #140f0f;
	font-family: Arial, Helvetica, sans-serif;
}

.menu-item a {
	
	color: #141414;
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: inherit;
    text-transform: none;
    letter-spacing: 0;

}

.menu-item a:hover {
	color: rgb(230, 39, 5);
}

.menu-item-has-children a:hover {
	color: rgb(230, 39, 5);
}

.menu-item-has-children {

	color: #141414;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: inherit;
    text-transform: none;
    letter-spacing: 0;

}
.menu-item-has-children a {
	color: #141414;
	font-size: 0.9rem;
	font-weight: 500;
	font-family: inherit;
	text-transform: none;
	letter-spacing: 0;
}
.menu-item-has-children:hover >#childrendiv{
	display:initial ;
}
#childrendiv{
	display:none ;
}


nav.site-nav>ul>li>a:after {
	position: absolute;
	right: 0;
	bottom: 0px;
	left: auto;
	width: 0;
	height: 1px;
	content: "";
	-webkit-transition: 0s;
	-o-transition: 0s;
	transition: 0s;
	background-color: #cd3838;
}

nav.site-nav>ul>li.menu-item-has-children:hover .sub-menu {
	margin-top: 20px;
}

/* nav.site-nav>ul>li ul.sub-menu {
	display: none;
  }

nav.site-nav>ul>li.menu-item-has-children:hover nav.site-nav>ul>li ul.sub-menu {
	display: initial;
	position: absolute;
	margin-top: 10px;
	z-index: 9999;
	top: 45px;
  } */

 


  /* nav.site-nav>ul>li ul.sub-menu {
  display: none ;
} */

/* nav.site-nav>ul>li.menu-item-has-children:hover::after .sub-menu {
	display: none !important;
  } */

/* nav.site-nav>ul>li.menu-item-has-children:hover .sub-menu {
	visibility: visible;
	margin-top: 0;
	opacity: 1;
  } */
  


.dropdown-content a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	color: #140f0f;
	font-family: Arial, Helvetica, sans-serif;
}

#ccc {
	font-family: Arial, Helvetica, sans-serif;
}

#dropbtn[_ngcontent-ajq-c107] {
	background-color: #cecccc00;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	height: 10px;
	width: 10px;
}

.dl-menuwrapper button:after {
	content: '';
	position: absolute;
	width: 68%;
	height: 3px;
	/* background: #fff; */
	top: 5px;
	left: 15%;
	box-shadow: 0 10px 0 #fff, 0 20px 0 #fff;
}

#dropbtn {
	background-color: #cecccc00;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	height: 20px;
	width: 20px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover #dropbtn {
	background-color: #3e8e4100;
}

.nav-item {
	color: #140f0f;
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 20px;
	font-size: 0.9em;
}

@media (max-width : 700px) {
	.header-right-icons {
		width: 100px;
	}

	.logo-with-offcanvas {
		margin-right: 60px;
	}
}

@media (max-width : 700px) {
	.header-bottom {
		padding-bottom: 0px;
	}
}
@media (min-width : 1100px) {
	nav.site-nav>ul>li ul.mega-menu-column-4 {
		right: 8% !important;		
		/* top: 90%; */
	}
	.sitelogo {	
		width: 50%;
		margin-top: 3%;
	} 

}
@media (min-width : 1500px) {
	nav.site-nav>ul>li ul.mega-menu-column-4 {
		right: 26% !important;
		
	}


}
@media (min-width: 1700px){
.sitelogo {
    width: 36% !important;
    margin-top: 2%;
}
}
@media (min-width: 2000px){
	.sitelogo {
		width: 37% !important;
		margin-top: 2%;
	}
	}
/* mobile */
@media (max-width : 995px) {
	
	.infodiv{
		display: flex;background-color: white; height: 1rem;
	}
	#potimg{
		height: 16px !important;
    width: 16px !important;
    margin-bottom: 2px !important;
    margin-top: -1px !important;
	}
	#username{
		display: none;
	}
	.main2{
		padding: 0px 10px 3px 10px;
	}
	#logout {
		display: none;
	}

	#logoutside {
		display: inline;
	}

	.reg {
		display: none;
	}

	#regside {
		display: inline;
	}

	.reg1 {
		display: inline;
	}

	.loggin {
		display: none;
	}

	.loggin1 {
		display: inline;
	}

	#loginside {
		display: inline;
	}

	.header-bottom-navigation {
		display: none;
	}

	.main {
		display: none;
		
	}

	.header-bottom-container[_ngcontent-hwo-c111] .logo-with-offcanvas[_ngcontent-hwo-c111] {
		margin-top: -27px;
		flex-basis: 41%;
	}

	.logo-with-offcanvas {
		margin-right: 14px;
	}

	#loogo {
		/* margin-top: 7px; */
		text-align: end;
    right: 9%;
    position: relative;
		
	}
	#loogo a {
		text-align: center;
		
	}

	.header-right-icons {
		width: 155px;
	}

	.search-overlay .search-overlay-content {
		position: absolute;
		top: 50%;
		left: 50%;
		right: -27%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	#headerbar{
		color: rgb(255, 255, 255);
		font-size: 0.6rem;
		font-weight: 600;
	}

	#marquetag span{
		background: #000000;
		color: white;
		font-size: 0.5rem;
		position: absolute;
		
	
	}
	.header-right-icons .single-icon {
		margin-left: 12px;
	}
	#offcanvas-about-icon span img{
		height:20px;width:22px;margin-bottom: -3px;
		margin-right: 5px;
	}
	#offcanvas-wishlist-icon span img{
		height:21px;width:21px;margin-bottom: -3px;
		margin-right: 5px;
	}
	#offcanvas-cart-icon span img{
		height: 25px;
    width: 25px;
    margin-bottom: 1px;
    margin-right: 5px;
	}
	#logincart{
		
	}

}

 /* web */
@media (min-width : 995px) {
	nav.site-nav>ul>li ul.mega-menu-column-4 {
		right: 10% ;
		
	}
	.main2{
		display:none;
	}
	#main2{
		display:none;
	}
	#logincart{
		display: none;
	}
	#offcanvas-about-icon span img{
		height:23px;width:25px;margin-bottom: -3px;
		margin-right: 5px;
	}
	#offcanvas-wishlist-icon span img{
		height:25px;width:25px;margin-bottom: -3px;
		margin-right: 5px;
	}
	#offcanvas-cart-icon span img{
		height:28px;width:29px;margin-bottom: -3px;
										margin-right: 5px;
	}

	#marquetag span{
		background:#000000; color: white;
		font-size: 0.6rem;
		position: absolute;
		right: 16%;
	}
	.infodiv{
		width:25%;
		right: 8px;
		/* position: absolute; */
		padding: 0.5rem 0rem;
		margin-left: 4rem;
	}
	#headerbar{
		color: rgb(255, 255, 255);
		font-size: 0.7rem;
		font-weight: 600;
	}
	#marquetag{
		height: 16px;
	}
	
	.header-right-icons .single-icon.drop {
		display: none;
	}

	.header-bottom-navigation {
		display: inline;
	}

	.loggin1 {
		display: none;
	}

	.reg1 {
		display: none;
	}

	.main {
	    width: 39%;
    /* margin: 40px 150px; */
    margin-right: 178px;
    /* margin-left: -73px; */
		
	}
	.main2 {
	    width: 39%;
    /* margin: 40px 150px; */
    margin-right: 178px;
    /* margin-left: -73px; */
		
	}

	.header-bottom-container .logo-with-offcanvas {
		/* margin-top: 20px;
		flex-basis: 19%;
		margin-right: -263px;
		padding: 20px;
		padding-left: 0px; */
		/* margin-top: 15px;
		flex-basis: 24%;
		padding-left: 0px; */
		flex-basis: 18%;
		
	}


	#loogo {
		/* margin-top: 38px; */
		text-align: end;
		right: 9%;
		position: relative;
	}

	.single-icon search {
		display: none;
	}

	.header-bottom-container {
		height: 80px;
		width: 100%;

	}
	.sitelogo {	
		width: 61%;
		margin-top: 3%;
	} 

}
@media (min-width: 1200px){
	#headerbar{
		color: rgb(255, 255, 255);
		font-size: 0.8rem;
		font-weight: 600;
	}
	#marquetag{
		height: 19px;
	}
	#main2{
		display:none;
	}
	.infodiv{
		width: 32%;
		right: 8px;
		/* position: absolute; */
		padding: 0.5rem 0rem;
		margin-left: 4rem;
	}

.container.wide {
    max-width: 100%;
}
.sitelogo {
    width: 54% ;
    margin-top: 2% ;
}

#loogo {
	/* margin-top: 38px; */
	text-align: end;
	right: 9%;
	position: relative;
}

}

@media (min-width: 1350px){
	#headerbar{
		color: rgb(255, 255, 255);
		font-size: 0.8rem;
		font-weight: 600;
	}
	#marquetag{
		height: 19px;
	}
	#main2{
		display:none;
	}
	
	.infodiv{
		width: 37%;
		right: 8px;
		/* position: absolute; */
		padding: 0.5rem 0rem;
		margin-left: 4rem;
	}

	.sitelogo {
		width: 55% ;
		margin-top: 2% ;
	}
	
	#loogo {
		/* margin-top: 38px; */
		text-align: end;
		right: 9%;
		position: relative;
	}
	
	}
	@media (min-width: 1500px){
		#marquetag{
			height: 19px;
		}
		#headerbar{
			color: rgb(255, 255, 255);
			font-size: 0.8rem;
			font-weight: 600;
		}
		#main2{
			display:none;
		}
	
		.infodiv{
			width: 43%;
			right: 8px;
			/* position: absolute; */
			padding: 0.5rem 0rem;
			margin-left: 4rem;
		}

		.sitelogo {
			width: 50% ;
			margin-top: 2% ;
		}
		
		#loogo {
			/* margin-top: 38px; */
			text-align: end;
			right: 9%;
			position: relative;
		}
		
		}
		@media (min-width: 1650px){
			#headerbar{
				color: rgb(255, 255, 255);
				font-size: 0.8rem;
				font-weight: 600;
			}
			#marquetag{
				height: 20px;
			}
			#main2{
				display:none;
			}
	
			.infodiv{
				width: 48%;
				right: 8px;
				/* position: absolute; */
				padding: 0.5rem 0rem;
				margin-left: 4rem;
			}

			.sitelogo {
				width: 47% ;
				margin-top: 2% ;
			}
			
			#loogo {
				/* margin-top: 38px; */
				text-align: end;
				right: 9%;
				position: relative;
			}
			
			}
.header-right-icons .single-icon.user-login {
	display: inline;
}

.header-right-icons .single-icon.wishlist {
	display: inline;
}

.ng-image-slider .ng-image-slider-container .main .next a {
	text-decoration: none;
	color: #474747
}
.ng-image-slider .ng-image-slider-container .main2 .next a {
	text-decoration: none;
	color: #474747
}

a {
	color: #140f0f;
	font-family: Arial, Helvetica, sans-serif;
}

.pl-2,
.px-2 {
	padding-left: 0;
}

.cart-title {
	color: #140f0f;
	font-family: Arial, Helvetica, sans-serif;
}

.username {
	color:  #ce2127;
	font-family: Arial, Helvetica, sans-serif;
}

.offcanvas-cart-content-container .cart-product-wrapper .cart-product-container {
	position: relative;
	overflow: auto;
	max-height: 450px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

strong {
	font-weight: bold;
}

#wrapper {
	margin: 0;
	padding: 0;
}

#container {
	width: 1024px;
	margin: 0 auto;
	padding: 0;
}

.product-container {
	width: 100%;
	margin-top: 30px;
}

.product-list {
	width: 100%;
	float: left;
}

.product-list li {
	float: left;
	margin: 0 20px 20px 0;
}

.product {
	width: 235px;
	height: auto;
	position: relative;
	overflow: hidden;
}

.product-image {
	width: 235px;
	height: auto;
	display: block;
}

.product img {
	width: 235px;
}

.quick-view-controller {
	float: left;
	width: 100%;
	position: absolute;
	height: 50px;
	background-color: #666;
	opacity: 0.8;
	bottom: 0px;
}

.quick-view-controller p {
	float: left;
	margin: 7px 0px 7px 22px;
}

.quick-view-controller p a {
	padding: 10px 15px;
	background-color: #FFF;
	float: left;
}

.btn-view {
	color: #222;
}

.mask {
	background-color: #000;
	height: 10000px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	display: none;
	z-index: 9998;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

#quick-view-pop-up {
	display: none;
	background: #fff;
	border: 1px solid #999;
	z-index: 9998;
	position: absolute;
	top: 15%;
	left: 25%;
	min-height: 400px;
	min-width: 720px;
}

.quick-view-panel {
	z-index: 9999;
}

.quick-view-loading {
	width: 100%;
	float: left;
	display: none;
}

.mini-carousel,
.carousel {
	float: left;
}

.mini-carousel {
	margin: 22px 0 0 10px;
	float: left;
	width: 97px;
	height: 354px;
	overflow: hidden;
	display: block;
	white-space: nowrap;
	position: relative;
	top: 0px;
}

.mini-carousel ul {
	float: left;
	width: 97px;
	display: block;
	top: 0;
	position: relative;
}

.mini-carousel ul li {
	float: left;
	margin-bottom: 10px;
	width: 97px;
	height: 115px;
	top: 0;
	position: relative;
}

.carousel {
	float: left;
	position: relative;
	left: 3px;
	top: 6px;
	padding-left: 9px;
	display: block;
}

.image-large {
	float: left;
	top: 10px;
	width: 290px;
	overflow: hidden;
	display: block;
	left: 0;
}

.image-large ul {
	margin: 0 0 0 0;
	list-style: none;
	width: 1180px;
	height: 370px;
	overflow: hidden;
	position: relative;
}

.carousel ul li {
	float: left;
	margin: 0;
}

.video-player {
	width: 290px;
	height: 370px;
	display: none;
	position: absolute;
	top: 10px;
}

.video-player iframe {
	display: block;
	float: left;
	margin-left: 50px;
}

a.prev {
	position: absolute;
	top: 170px;
	left: 8px;
	height: 35px;
	width: 36px;
}

a.next {
	position: absolute;
	top: 170px;
	right: 0;
	width: 36px;
	height: 36px;
}

.quick-view-close {
	opacity: 1;
	position: absolute;
	right: 6px;
	top: 6px;
	width: 70px;
	cursor: pointer;
	z-index: 10;
	display: block;
	background-repeat: no-repeat;
	height: 24px;
	background-position-x: -78px;
}

.quick-view-video {
	position: absolute;
	bottom: 0;
	right: 0px;
	height: 26px;
	width: 90px;
}

.detail {
	width: 315px;
	float: left;
	margin: 40px 31px 40px 31px;

}

.product-details {
	margin-bottom: 20px;
	float: left;
}

.product-name {
	margin-bottom: 20px;
}

.product-price {
	margin-bottom: 20px;
}

.orange {
	margin-bottom: 15px;
	width: 100%;
	background-color: #d35400;
	color: #FFF;
	padding: 9px 21%;
	text-align: center;
	border-radius: 10px;
	text-transform: uppercase;
}

.grey {
	margin-top: 20px;
	float: left;
	width: 220px;
	padding: 3%;
	background-color: #CCC;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	border-radius: 10px;
}

.option-dropdowns {
	margin-bottom: 20px;
}

.buttons {
	margin-bottom: 20px;
}

a.view-more-detail {
	float: left;
	width: 81%;
	background-color: #356890;
	padding: 5% 5%;
	text-transform: uppercase;
	text-align: center;
	color: #FFF;
}

li::-webkit-scrollbar {
	display: none;
}

/* nav.site-nav > ul > li.menu-item-has-children .sub-menu {
	visibility: visible;
  } */

/* .bi-caret-right-fill{
color: red;
} */