<div class="breadcrumb-area breadcrumb-bg-2">
    <div class="container" style="margin: 0px;">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb list  =======-->
                <ul class="breadcrumb-list" style="padding-left: 0px;margin-bottom: 15px; margin-top: 15px;">
                    <li class="breadcrumb-list__item"><a routerLink="/home">Home</a></li>
                    <li class="breadcrumb-list__item breadcrumb-list__item--active">My Account</li>
                </ul>
                <!--=======  End of breadcrumb list  =======-->
            </div>
        </div>
    </div>
</div>

<div class="maindiv">

    <div class="row">
        <div class="col-lg-12" style="display: contents;">
            <div class="col-4" id="profilediv">
                <div class="row" style="text-align: center;border-bottom: 1px solid #e8e8e8;border-radius:8px">
                    <div class="col-12 mb-" style="text-align: center;border-bottom: 1px solid #e8e8e8;">
                        <div class="single-widget mt-4" style="border: none;" *ngIf="!loader">
                            <div class="singlomment">
                                <div class="single-comment__image" *ngIf="(profiledetail?.profileimg=='')">
                                    <img src="assets/images/user-profile.png" class="img-fluid" style="height: 100px;"
                                        alt="">
                                    <span id="circle" (click)="editprofileimg(profileimageRecord)"><i
                                            class="bi bi-pen-fill"></i></span>
                                </div>
                                <div class="single-comment__image" *ngIf="(profiledetail?.profileimg!=='')">
                                    <ngx-skeleton-loader *ngIf="loaderimage" count="1" [theme]="{ 
                                        'border-radius': '75px',
                                        height: '83px',
                                        width: '100PX',
                                        'background-color': 'whitesmoke',
                                        border: '1px solid white'
                                      }" animation="pulse"></ngx-skeleton-loader>


                                    <img src="https://neophroncrm.com/spiceclubnew/public/{{profiledetail?.profileimg}}"
                                        class="img-fluid" style="height: 100px;width: 100px; object-fit: cover;" alt=""
                                        *ngIf="!loaderimage">
                                    <span id="circle" (click)="editprofileimg(profileimageRecord)"><i
                                            class="bi bi-pen-fill"></i></span>
                                    <!-- (click)="editprofileimg(profileimageRecord)" -->

                                </div>
                                <div class="single-comment__content pl-2 mt-2 mb-4">
                                    <strong class="usernamee" style="color:#ce2127;" >{{profiledetail?.name}}</strong>
                                    <p class="email" style="color:#858789;">{{profiledetail?.email}}</p>
                                </div>
                            </div>

                        </div>
                        <!-- lazyloading -->
                        <div class="single-widget mt-4" style="border: none;" *ngIf="loader">
                            <div class="singlomment">
                                <div class="single-comment__image">
                                    <ngx-skeleton-loader count="1" [theme]="{ 
                                    'border-radius': '75px',
                                    height: '100px',
                                    width: '100PX',
                                    'background-color': '#ffffff',
                                    border: '1px solid white'
                                  }" animation="pulse"></ngx-skeleton-loader>

                                </div>

                                <div class="single-comment__content pl-2">
                                    <ngx-skeleton-loader count="1" [theme]="{ 
                                    'border-radius': '5px',
                                    height: '25px',
                                    width: '170PX',
                                    'background-color': '#ffffff',
                                    border: '1px solid white'
                                  }" animation="pulse"></ngx-skeleton-loader>
                                </div>
                                <div class="single-comment__content pl-2">
                                    <ngx-skeleton-loader count="1" [theme]="{ 
                                    'border-radius': '5px',
                                    height: '25px',
                                    width: '150PX',
                                    'background-color': '#ffffff',
                                    border: '1px solid white'
                                  }" animation="pulse"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="singlomment">
                            <div class="single-comment__content pl-2  mb-3">
                                <button id="checkbalance" class="btn btn-success" routerLink="/wallet">Check
                                    Balance</button>
                            </div>
                        </div> -->
                    </div>

                    <div class="col-12" id="list" (click)="gotocart()">
                        <div class="single-comment__content pl-2 mt-2">
                            <ngx-skeleton-loader *ngIf="loader1" count="1" [theme]="{ 
                            'border-radius': '5px',
                            height: '20px',
                            width: '20px',
                            'background-color': '#ffffff',
                            border: '1px solid white',
                            ' margin-bottom':'0px' 
                          }" animation="pulse"></ngx-skeleton-loader>
                            <h6><strong class="username">{{cartlength}} </strong>In your cart</h6>
                            <!-- <h6 class="eml">In your cart</h6> -->

                        </div>
                    </div>
                    <div class="col-12" id="list" (click)="gotowishlist()">
                        <div class="single-comment__content pl-2 mt-2">
                            <ngx-skeleton-loader count="1" *ngIf="loader2" [theme]="{ 
                        'border-radius': '5px',
                        height: '20px',
                        width: '20px',
                        'background-color': '#ffffff',
                        border: '1px solid white',
                        ' margin-bottom':'0px' }" animation="pulse"></ngx-skeleton-loader>
                            <h6> <strong class="username">{{Wlength}} </strong>In your wishlist</h6>
                        </div>
                    </div>
                    <div class="col-12" id="list" (click)="gotoorder()">
                        <div class="single-comment__content pl-2 mt-2">
                            <ngx-skeleton-loader count="1" *ngIf="loader3" [theme]="{ 
                            'border-radius': '5px',
                            height: '20px',
                            width: '20px',
                            'background-color': '#ffffff',
                            border: '1px solid white',
                            ' margin-bottom':'0px' 
                          }" animation="pulse"></ngx-skeleton-loader>
                            <h6> <strong class="username">{{orderlength}} </strong>your total orders</h6>
                        </div>
                    </div>
                    <!-- <div class="col-12" id="list2" (click)="openenquery()" *ngIf="buyertypeid==2">
                        <div class="single-comment__content pl-2 mt-2 " style="padding: 2px;">
                            <ngx-skeleton-loader count="1" *ngIf="loader3" [theme]="{ 
                            'border-radius': '5px',
                            height: '20px',
                            width: '20px',
                            'background-color': '#ffffff',
                            border: '1px solid white',
                            ' margin-bottom':'0px' 
                          }" animation="pulse"></ngx-skeleton-loader>
                            <h6  >Enquiry a product</h6>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="ya-card-row">

                        <div class="ya-card-cell">

                            <a
                                class="ya-card__whole-card-link">
                                <div data-card-identifier="YourOrders" class="a-box ya-card--rich">
                                    <div class="a-box-inner" (click)="gotoorder1()">
                                        <div class="a-row">
                                            <div class="a-column a-span3">
                                                <span><img class="ion-ios-cart"  src="../../../assets/images/icons/received.png" 
                                                    style="height:40px;width:40px;margin-bottom: -3px;
                                                        margin-right: 5px;" alt=""></span>
                                            </div>
                                            <div class="a-column a-span9 a-span-last">
                                                <h2 class="a-spacing-none ya-card__heading--rich a-text-normal">
                                                    Your Orders
                                                </h2>
                                                <div><span class="a-color-secondary">Track, return, or buy things again</span></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="ya-card-cell">
                            <a 
                                class="ya-card__whole-card-link">
                                <div data-card-identifier="SignInAndSecurity" class="a-box ya-card--rich">
                                    <div class="a-box-inner" (click)="editprofile(changeRecord)">
                                        <div class="a-row">
                                            <div class="a-column a-span3">
                                                <span><img class="ion-ios-cart"  src="../../../assets/images/icons/padlock.png" 
                                                    style="height:45px;width:45px;margin-bottom: -3px;
                                                        margin-right: 5px;" alt=""></span>
                                            </div>
                                            <div class="a-column a-span9 a-span-last">
                                                <h2 class="a-spacing-none ya-card__heading--rich a-text-normal">
                                                    Login &amp; Security
                                                </h2>
                                                <div><span class="a-color-secondary">Edit name, and password </span></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>



                        </div>

                        <!-- <div class="ya-card-cell">
                            <a 
                                class="ya-card__whole-card-link">
                                <div data-card-identifier="Prime" class="a-box ya-card--rich">
                                    <div class="a-box-inner"  (click)="gotowallet()">
                                        <div class="a-row">
                                            <div class="a-column a-span3">
                                                <span><img class="ion-ios-cart"  src="../../../assets/images/icons/wallet1.png" 
                                                    style="height:35px;width:35px;margin-bottom: -3px;    margin-left: 7px;
                                                        margin-right: 5px;" alt=""></span>
                                            </div>
                                            <div class="a-column a-span9 a-span-last">
                                                <h2 class="a-spacing-none ya-card__heading--rich a-text-normal">
                                                   Wallet
                                                </h2>
                                                <div><span class="a-color-secondary">View Wallet and Recharge </span></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div> -->
                        
                        <div class="ya-card-cell">

                            <a 
                                class="ya-card__whole-card-link">
                                <div data-card-identifier="YourOrders" class="a-box ya-card--rich">
                                    <div class="a-box-inner" (click)="gotoaddress()">
                                        <div class="a-row">
                                            <div class="a-column a-span3">
                                                <span><img class="ion-ios-cart"  src="../../../assets/images/icons/map.png" 
                                                    style="height:40px;width:40px;margin-bottom: -3px;
                                                        margin-right: 5px;" alt=""></span>
                                            </div>
                                            <div class="a-column a-span9 a-span-last">
                                                <h6 class="a-spacing-none ya-card__heading--rich a-text-normal">
                                                   Address
                                                </h6>
                                                <div><span class="a-color-secondary">Add, Edit and Select your Shipping Address</span></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>



                        </div>

                        <div class="ya-card-cell">

                            <a 
                                class="ya-card__whole-card-link">
                                <div data-card-identifier="SignInAndSecurity" class="a-box ya-card--rich">
                                    <div class="a-box-inner" (click)="gotochats()">
                                        <div class="a-row">
                                            <div class="a-column a-span3">
                                                <span><img class="ion-ios-cart"  src="../../../assets/images/icons/chat1.png" 
                                                    style="height:40px;width:40px;margin-bottom: -3px;
                                                        margin-right: 5px;" alt=""></span>
                                            </div>
                                            <div class="a-column a-span9 a-span-last">
                                                <h2 class="a-spacing-none ya-card__heading--rich a-text-normal">
                                                    Get Support & Enquiry
                                                </h2>
                                                <div><span class="a-color-secondary">Chat with Seller</span></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>



                        </div>

                    </div>

                </div>
             

                <!-- <div class="row">
                <div class="col-6" id="sub-div">
                    <div class="single-comment__content pl-2 mt-2">
                        <strong class="username">
                            <h2 style="padding: 0px; margin: 0px;margin-bottom: 10px;">
                                <i class="bi bi-file-earmark-medical-fill" style="color: green;"></i>
                            </h2>
                        </strong>
                        <strong class="username">Orders</strong>
                       
                    </div>
                </div>
                <div class="col-6" id="sub-div">
                    <div class="single-comment__content pl-2 mt-2">
                        <strong class="username">
                            <h2 style="padding: 0px; margin: 0px;margin-bottom: 10px;">
                                <i class="bi bi-person-circle" style="color: rgb(17, 50, 243);"></i>
                            </h2>
                        </strong>
                     
                        <strong class="username">Profile</strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6" id="sub-div">
                    <div class="single-comment__content pl-2 mt-2">
                        <strong class="username">
                            <h2 style="padding: 0px; margin: 0px;margin-bottom: 10px;">
                                <i class="bi bi-handbag-fill" style="color: rgb(250, 116, 39);" ></i>
                            </h2>
                        </strong>
                        <strong class="username">Purchase History</strong>
                     
                    </div>
                </div>
                <div class="col-6" id="sub-div">
                    <div class="single-comment__content pl-2 mt-2">
                        <strong class="username">
                            <h2 style="padding: 0px; margin: 0px; margin-bottom: 10px;">
                                <i class="bi bi-geo-alt-fill"style="color: rgb(240, 20, 31);" ></i>
                            </h2>
                        </strong>
                      
                        <strong class="username mt-1">Address</strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6" id="sub-div">
                    <div class="single-comment__content pl-2 mt-2">
                        <strong class="username">
                            <h2 style="padding: 0px; margin: 0px;margin-bottom: 10px;">
                                <i class="bi bi-chat-text-fill" style="color: rgb(15, 183, 224);"></i>
                            </h2>
                        </strong>
                        <strong class="username">Chats</strong>
                    
                    </div>
                </div>
                <div class="col-6" id="sub-div">
                    <div class="single-comment__content pl-2 mt-2">
                        <strong class="username">
                            <h2 style="padding: 0px; margin: 0px;margin-bottom: 10px;">
                                <i class="bi bi-wallet-fill" style="color: rgb(114, 45, 5);"></i>
                            </h2>
                        </strong>
                        <strong class="username">Wallet</strong>
                      
                    </div>
                </div>
            </div> -->
            </div> 
            <div class="col-3" id="">
                    <div class="row">
                        <div class="ya-card-row">
                            <!--  -->
                            <div class="ya-card-cell" (click)="openkyc()"
                            *ngIf="profiledetail?.buyertypereal===2 && profiledetail?.kyc_verify_status==0 && profiledetail?.iskycupload ==0" >
                                <a  class="ya-card__whole-card-link">
                                    <div data-card-identifier="YourOrders" class="a-box ya-card--rich">
                                        <div class="a-box-inner" >
                                            <div class="a-row">
                                                <div class="a-column a-span3">
                                                    <span><img class="ion-ios-cart"  src="../../../assets/images/icons/find-my-friend.png" 
                                                        style="height:40px;width:40px;margin-bottom: -3px;
                                                            margin-right: 5px;" alt=""></span>
                                                </div>
                                                <div class="a-column a-span9 a-span-last mt-20">
                                                    <h2 class="a-spacing-none ya-card__heading--rich a-text-normal">
                                                        Verify KYC
                                                    </h2>
                                                    <div><span class="a-color-secondary">Verify your KYC to become a B2B Customer</span></div>
    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="ya-card-cell" *ngIf="profiledetail?.buyertypereal===2 && profiledetail?.kyc_verify_status==0 && profiledetail?.iskycupload ==1" >
                                <a  class="ya-card__whole-card-link">
                                    <div data-card-identifier="YourOrders" class="a-box ya-card--rich">
                                        <div class="a-box-inner" >
                                            <div class="a-row">
                                                <div class="a-column a-span3">
                                                    <span><img class="ion-ios-cart"  src="../../../assets/images/icons/find-my-friend.png" 
                                                        style="height:40px;width:40px;margin-bottom: -3px;
                                                            margin-right: 5px;" alt=""></span>
                                                </div>
                                                <div class="a-column a-span9 a-span-last mt-20">
                                                    <h2 class="a-spacing-none ya-card__heading--rich a-text-normal">
                                                         KYC Status
                                                    </h2>
                                                    <div><span class="a-color-secondary">KYC verification is in progress...</span></div>
    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <!-- *ngIf="profiledetail.buyertypeid==2" -->
                            <div class="ya-card-cell" (click)="openenquery()" *ngIf="profiledetail?.buyertypeid==2">
                                <a  class="ya-card__whole-card-link">
                                    <div data-card-identifier="YourOrders" class="a-box ya-card--rich">
                                        <div class="a-box-inner" >
                                            <div class="a-row">
                                                <div class="a-column a-span3">
                                                    <span><img class="ion-ios-cart"  src="../../../assets/images/icons/information.png" 
                                                        style="height:40px;width:40px;margin-bottom: -3px;
                                                            margin-right: 5px;" alt=""></span>
                                                </div>
                                                <div class="a-column a-span9 a-span-last mt-20">
                                                    <h2 class="a-spacing-none ya-card__heading--rich a-text-normal">
                                                        Enquiry a Product
                                                    </h2>
                                                    <div><span class="a-color-secondary" >Know more about Products and Deals</span></div>
    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

    </div>

</div>


<!-- <div class="art-total  mr-110 ml-110 mt-1">
    <ngx-skeleton-loader count="1" [theme]="{ 
        'border-radius': '5px',
        height: '450px',
        'background-color': '##b9b8b8',
        border: '1px solid white'
      }" animation="pulse" *ngIf="loader"></ngx-skeleton-loader>
</div> -->

<ng-template #changeRecord let-modal>
    <div class="modal-header editRowModal">
        <h4 class="modal-title p-0" id="modal-basic-title">
            <div class="table-modal-header">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-10 ml-3 font-17">
                        Edit profile </div>
                </div>
            </div>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true"><i class="ion-android-close"></i></span>
        </button>
    </div>
    <!-- <div class="proimg" style="text-align: center;">
    <div class="single-comment__image">
        <img src="https://neophroncrm.com/spiceclubnew/public/{{currentdetail.user.avatar_original}}"
            class="img-fluid" style="height: 100px;" alt="">           
    </div> 
    <button class="btn btn-light" (click)="editprofileimg(profileimageRecord)" >Edit profile image</button>
</div> -->

    <div class="modal-body">

        <div class="card-body">
            <p class="text-muted">Basic Information</p>
            <form class="edit-form" [formGroup]="editForm" (ngSubmit)="onEditSave(editForm)">

                <div class="form-group">
                    <label class="labell">Name</label>
                    <input type="text" formControlName="name" class="form-control" required>
                </div>

                <div class="form-group">
                    <label class="labell">New Password</label>
                    <input type="password" formControlName="password" class="form-control" required>
                </div>

                <div class="form-group">
                    <label class="labell">Confirm Password</label>
                    <input type="password" class="form-control" formControlName="confirm_password" required>
                </div>
                <!-- <div *ngIf="error2" class="alert alert-danger mb-3 msl-3">{{error2}}</div> -->
                <div class="form-group">
                    <h6 class="form-text text-danger" style="height: 12px;">
                        <span *ngIf="error3">{{error3}}</span>
                    </h6>
                    <button class="btn btn-danger btn-lg btn-block" type="submit">
                        Update Profile
                    </button>
                </div>
            </form>
        </div>
        <br>
    </div>
</ng-template>

<ng-template #profileimageRecord let-modal>
    <div class="modal-header editRowModal">
        <h5 class="modal-title" id="modal-basic-title">
            <div class="table-modal-header">
                <div class="table-modal-header">
                    <div class="modal-about">
                        <div class="font-weight-bold p-t-10 ml-3 font-17">
                            Select profile picture</div>
                    </div>
                </div>
            </div>
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true"><i class="ion-android-close"></i></span>
        </button>
    </div>
    <br>
    <div class="modal-body">
        <div class="card-body" style="margin-left: 50px;margin-right: 50px;">
            <form>
                <div class="form-group">
                    <fieldset class="form-group">
                        <!-- {{imageError}} -->
                        <div class="custom-file fileInputProfileWrap">
                            <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
                            <div class="img-space" style="text-align: center;" >

                                <!-- <ng-container *ngIf="isImageSaved; else elseTemplate">
                                <img [src]="cardImageBase64" />
                            </ng-container> -->
                                <ng-template #elseTemplate>

                                    <!-- <img src="./../../assets/placeholder.png" class="img-responsive"> -->
                                </ng-template>
                                <br>
                                <button  style="background-color: rgb(201, 31, 8);border: 1px solid rgb(201, 31, 8); padding-top: 1px; padding-bottom: 1px;"
                                class="lezada-button lezada-button--medium lezada-button--icon--left"
                                (click)="changeproimg()">
                                    Save
                                </button>

                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a> -->
            </form>

        </div>
        <br>
    </div>
</ng-template>