
	<div class="breadcrumb-area breadcrumb-bg-2">
        <div class="container" style="margin: 0px;">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb-list" style="padding-left: 0px;margin-bottom: 15px; margin-top: 15px;">
                        <li class="breadcrumb-list__item"><a routerLink="/home">Home</a></li>
                        <li class="breadcrumb-list__item breadcrumb-list__item--active">Combo offers</li>
                    </ul>
                    <!--=======  End of breadcrumb list  =======-->
                </div>
            </div>
        </div>
    </div> 

<div class="shop-page-wrapper ">
    <div class="shop-page-content" >
        <div class="container mt-10 mb-10">
            <div class="row">
                <div id="sidenavg" class="col-lg-2 col-md-12 col-sm-12 order-2 order-lg-1">
                    <div class="single-sidebar-widget mb-10 pt-10">
                        <h2 class="single-sidebar-widget--title"
                                    style=" margin-bottom: 0px;">Flash deal</h2>
                        <div class="widget-product-wrapper" style="max-height: 950px; overflow-y: auto;"
                            *ngIf="!prodloader1">
                            <div class="single-widget-product-wrapper">
                                <div class="single-widget-product" *ngFor="let img of Bestsellpro"
                                    style="padding-bottom: 17px;" (click)="proddetail(img.id)">
                                    <div class="single-widget-product__image">
                                        <a>
                                            <img src="https://neophroncrm.com/spiceclubnew/public/{{img.thumbnail_image}}"
                                                class="img-fluid" id="todays" alt="">
                                        </a>
                                    </div>
                                    <div class="single-widget-product__content">
                                        <div class="single-widget-product__content__top">
                                            <h3 class="product-title"><a style="line-height: 1.2rem;
                                                overflow: hidden;
                                                display: -webkit-box; 
                                                -webkit-line-clamp: 3;
                                                -webkit-box-orient: vertical;
                                                max-height: 3.5rem;       
                                                 margin-bottom: 2px;font-weight: 600;color: #4a4a4a;" >{{img.name}}</a>
                                            </h3>
                                            <br>
                                            <div class="price">
                                                <span class="main-price discounted" style="font-size: 11px;text-decoration:line-through"
                                                    *ngIf="img.stroked_price!==img.main_price">{{img.stroked_price}}</span>
                                                <p class="discounted-price">{{img.main_price}}</p>
                                            </div>
                                            <ngb-rating [rate]="img.rating" style="color: rgb(245, 153, 14);">
                                            </ngb-rating>
                                        </div>
                                    </div>
                                    <!--=======  End of content  =======-->
                                </div>
                            </div>

                            <!--=======  End of single widget product  =======-->
                        </div>
                        <div class="widget-product-wrapper" *ngIf="prodloader1">
                            <!--=======  single widget product  =======-->
                            <div class="single-widget-product-wrapper">
                                <div class="single-widget-product" style="padding-bottom: 17px;">
                                    <div class="single-widget-product__image" style="height: 120px; width:80px">
                                        <ngx-skeleton-loader count="1"
                                            [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="single-widget-product__content">
                                        <div class="single-widget-product__content__top">
                                            <ngx-skeleton-loader count="3" animation="pulse"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-widget-product" style="padding-bottom: 17px;">
                                    <div class="single-widget-product__image" style="height: 120px; width:80px">
                                        <ngx-skeleton-loader count="1"
                                            [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="single-widget-product__content">
                                        <div class="single-widget-product__content__top">
                                            <ngx-skeleton-loader count="3" animation="pulse"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-widget-product" style="padding-bottom: 17px;">
                                    <div class="single-widget-product__image" style="height: 120px; width:80px">
                                        <ngx-skeleton-loader count="1"
                                            [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="single-widget-product__content">
                                        <div class="single-widget-product__content__top">
                                            <ngx-skeleton-loader count="3" animation="pulse"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--=======  End of single widget product  =======-->
                        </div>
                       

                        <!--=======  End of widget product wrapper  =======-->
                    </div>
                    <!--=======  End of page sidebar  =======-->
                </div>
                <div id="mainlistdiv" class="col-lg-9 order-1 order-lg-2 mb-md-60 mb-sm-10"  infinite-scroll
                [infiniteScrollDistance]="2" (scrolled)="onScrollDown($event)" (scrolledUp)="onScrollUp($event)">
                <div class="row product-isotope shop-product-wrap four-column"  >

                    <div>
                        <img src="https://neophroncrm.com/spiceclubnew/public/uploads/all/Banners/ei61XpXpZ5yJXHpSWFksH6MzDsKuzToTREXLyraT.jpg" class="img-g"
                                                style="height: 270px; width: 100%;" alt="">
                    </div>
                    <!--=======  single product   =======-->
                    <div id="productdiv" class="col-12 col-lg-4 col-md-6 col-sm-6 mb-10 pt-10 pb-10 hot sale"
                        *ngFor="let img of Newarrivals;let i=index">
                        <!-- <span class="electric">Electric</span> -->
                        <div class="single-product">
                            <!--=======  single product image  =======-->
                            <div class="single-product__image" style="overflow: hidden;">
                                <div class="imglazy" >
                                    <ngx-skeleton-loader count="1" *ngIf="!imgloader"
                                        [theme]="{'margin-left':'10px',  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                    </ngx-skeleton-loader>

                                    <div *ngIf="img.iscertificated==1" class="like-button"
                                        style="text-align: end; margin-right: 20px;">
                                        <a
                                            style=" position: absolute;  z-index: 2; color: rgb(97, 216, 0); position: absolute;">
                                            <img src="assets/images/icons/green2.jpg" class="img-g"
                                                style="height: 15px;" alt=""></a>
                                    </div>

                                    <img *ngIf="imgloader" (click)="proddetail(img.id)"
                                        src="https://neophroncrm.com/spiceclubnew/public/{{img.thumbnail_image}}"
                                        class="img-fluid" alt="" style="height: -webkit-fill-available;">
                                    <span id="offtag" *ngIf="img.deal_of_day!=0">Deal of the day</span>
                                    <span id="offtag" *ngIf="img.deal_of_month!=0">Deal of the month</span>
                                    <span id="offtag" *ngIf="img.todays_deal!=0">Today's deal</span>



                                </div>

                                <div class="single-product__floating-badges">
                                    <!-- <span class="onsale">-10%</span> -->
                                    <span class="hot"
                                        *ngIf="img.has_discount==true">{{img.discount_percentage}}%</span>
                                    <!-- <span class="hot"  *ngIf="(img.wishlist==1)" ><i class="bi bi-heart-fill"></i></span>  -->
                                </div>


                                <!-- <div class="single-product__floating-icons">


                                    <span class="wishlist" *ngIf="(img.wishlist==1)"><a data-tippy="Add to wishlist"
                                            data-tippy-inertia="true" data-tippy-animation="shift-away"
                                            data-tippy-delay="50" data-tippy-arrow="true"
                                            data-tippy-theme="sharpborder" data-tippy-placement="left">
                                            <i [ngClass]="{'ion-android-favorite':likeddd[i]===true, 'ion-android-favorite-outline':likeddd[i]===false}"
                                                (click)='toggle(img,i)'
                                                style="color: rgb(214, 5, 5);"></i></a></span>

                                    <span class="wishlist" *ngIf="(img.wishlist==0)"><a data-tippy="Add to wishlist"
                                            data-tippy-inertia="true" data-tippy-animation="shift-away"
                                            data-tippy-delay="50" data-tippy-arrow="true"
                                            data-tippy-theme="sharpborder" data-tippy-placement="left">
                                            <i [ngClass]="{'ion-android-favorite':likedd[i]===true, 'ion-android-favorite-outline':likedd[i]===false}"
                                                (click)='toggledelete(img,i)'
                                                style="color: rgb(214, 5, 5);"></i></a></span>
                                </div> -->

                            </div>
                            <!--=======  End of single product image  =======-->

                            <!--=======  single product content  routerLink="/productdetail"=======-->
                            <div class="single-product__content" (click)=" proddetail(img.id)">
                                <div class="title">
                                    <h3  style="padding-bottom:2px;"> <a style="line-height: 1.2rem;
                                    overflow: hidden;
                                    display: -webkit-box; 
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    max-height: 3.2rem;
                                     margin-bottom: 2px;font-weight: 600;color: #4a4a4a;">{{img.name}}</a> </h3>    
                                </div>
            
                                <div class="price" style="margin-top: 2px;">
                                    <span *ngIf="img?.stroked_price!==img?.main_price"
                                        class="main-price discounted">{{img.stroked_price}}</span>
                                    <span class="discounted-price">{{img.main_price}} </span>
                                    <a class="yousave" *ngIf="img.has_discount==true" >
                                        You save <span style="color:green">Rs {{img.discount_amount}}</span></a>
                                </div>                             
                            </div>                     
                            <div class="row" >
                                <div class="col-12 ">
                                    <div ngbDropdown placement="top-end" class="d-inline-block" style="width:100%;">
                                        <button type="button" class="btn  addcarrtbtn" id="dropdownBasic2" 
                                        (click)="prodaddtocart(img)"
                                            >Buy Now</button>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="pggg" *ngIf="Bestsellpro?.length==0" style=" display: flex;
                  justify-content: center;
                        align-items: center;
                        height: auto;
						border: 1px solid rgb(243 243 243);">
							<div style="text-align: center;">
                                <div> <img src="assets/images/icons/empty-products.jpg" alt="" style="width:60%;"></div>
                                <h6 >No products to show</h6>
                                <h6 style="font-size: 0.7rem;">We regret to inform you that there is no products to show!.</h6>
                                <div class="cart-buttons">
                                    <a class="closewishlist" routerLink="/home">Explore More </a>
                                </div>
                            </div>
                        </div>
                </div>

                 <!--  productslazyloading -->          
                <div class="row product-isotope shop-product-wrap four-column" style="margin-right: -100px;" *ngIf="prodloader" >
                    <div class="col-12 col-lg-3 col-md-6 col-sm-6 mb-45 hot sale" *ngFor="let c of prodcount">
                        <div class="single-product" style="height: 250px; width: 200px;">
                            <ngx-skeleton-loader count="1"
                                [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                            </ngx-skeleton-loader>
                        </div>
                    </div>
                </div>
                  <!--  productslazyloading  end-->

                <!-- pagenation -->
                <!-- <div *ngIf="pageload">
                    <div id="pgg" *ngIf="Product?.length!==0">
                        <ul class="pagination" style="justify-content: center;
                            display: flex;" *ngIf="!directpage">
                            <li [ngClass]="{disabled:p.url === null,'active': p.active}"
                                class="page-item first-item" *ngFor="let p of pagess" (click)="getpage(p.url)">
                                <a class="page-link">{{p.label}}</a>
                            </li>
                        </ul>
                        <ul class="pagination" style="justify-content: center;
                            display: flex;" *ngIf="directpage">
                            <li [ngClass]="{disabled:p.url === null,'active': p.active}"
                                class="page-item first-item" *ngFor="let p of pagess" (click)="getpage1(p.url)">
                                <a class="page-link">{{p.label}}</a>
                            </li>
                        </ul>
                    </div>
                </div> -->

                <!-- <div id="pggg" *ngIf="Bestsellpro?.length==0" style=" display: flex;
                justify-content: center;
                align-items: center;
                height: 200px;
                border: 3px solid rgb(139, 139, 139);">
                    <div>
                        <h5>
                            There is no product
                        </h5>
                    </div>
                </div> -->
            </div>
           
           

            </div>
        </div>
    </div>

    <!--=====  End of shop page content  ======-->
</div>


