
li.has-children.active a{
text-decoration: underline;
color: rgb(228, 13, 13);
}
.single-product__floating-badges {
  position: absolute;
  z-index: 9;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.single-product__floating-badges span {
font-size: 12px;
/* font-weight: 500; */
line-height: 31.7px;
z-index: 3;
display: inline-block;
width: 30px;
height: 30px;
margin-bottom: 10px;
text-align: center;
text-transform: lowercase;
color: #ffffff;
border-radius: 100%;
}

.inc qty-btn{
  pointer-events:none;
}
.imglazy{
  height: 240px;
  width: 200px;
  position: relative;
  overflow: hidden;
}
.has-children a {
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.sorttext{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.breadcrumb-list__item{
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
option{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
input{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
select{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}

@media (max-width : 800px) {  
  .single-product__image{
    text-align: -webkit-center;

  }
  .shop-product-wrap [class*="col"], .shop-product-wrap [class*="col-"] {
    text-align: -webkit-center;
  }
  #vieww{
    margin-left: 100px;
  }
  #ulsort{
padding-left: 0px;
  }
  #fill{
    margin-right: 20px;
  }
    } 


       /* to remove arroys form input box */
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
   }
   input[type=number] {
     -moz-appearance: textfield;
   }  
    
/* .modal-content {
height: 50px;
width: 40px;
} */

/* form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
  }
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  } */

  .toplist ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 200px;
    background-color: #f1f1ff;
    }
    
    .toplist ul li a{
    display: block;
    padding: 8px 16px;
    color: #000;
    text-decoration: none;
    }
    
    .toplist ul li a .active{
    background-color: #4CAF50;
    color: white;
    }
    
    .toplist ul li a:hover:not(.active) {
    background-color: #555;
    color: white;
    }
    
    .toplist ul li a:hover {
    background-color: #555;
    color: white;
    }
    .shop-product__block__value .shop-product-size-list .single-size.active{
      font-size: 13px;
      line-height: 22px;
      margin-right: 11px;
      cursor: pointer;
      color: #ffffff;
      padding: 4px;
      border-radius: 4px;
      background-color: #2023ce;
  }
  
  #product {
    position: relative;
   
  }
  
  .electric {
    background: turquoise;
    color: white;
    padding: 5px;
    text-transform: uppercase;
    position: absolute;
    top: 27px;
    left: -2px;
    z-index: 2;
    transform: rotate(-45deg);
    
  }

  
   #offtag {
    display: block;
    width: 120px;
    height: 24px;
    background-color: #ff8100;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    text-align: center;
    line-height: 24px;
    right: -25px;
    top: 20px;
    font-family: arial;
    font-size: 10px;
  }
  @media (max-width : 800px) {  
      
    .py-4{
        margin-left: 0px;
        margin-right: 0px;
    }
      } 
  @media (min-width : 800px) {  
      
        .py-4{
            margin-left: 20px;
            margin-right: 20px;
        }
          } 