<div class="breadcrumb-area breadcrumb-bg-2">
    <div class="container" style="margin: 0px;">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb-list" style="padding-left: 0px;margin-bottom: 15px; margin-top: 15px;">
                    <li class="breadcrumb-list__item"><a routerLink="/home">Home</a></li>
                    <li class="breadcrumb-list__item breadcrumb-list__item--active" style="content:'';">Shop by Products</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!--=============================================
    =            shop page content         =
    =============================================-->

<div class="shop-page-wrapper">
    <!--=======  shop page header  =======-->
    <div class="shop-page-header" style="padding: 0px;background-color: white;
    border-bottom: 0px;">
        <div class="container " style="margin: 0px;">
            <div class="row align-items-center" style="height:50px ;">

                <div class="col-12 col-lg-8 col-md-10 d-none d-md-block" id="offerdiv">

                    <!--=======  fitler titles  =======-->
                    <div class="filter-title filter-title--type-two">
                        <ul class="product-filter-menu mb-0 pl-0">
                            <li style="border: 0px; box-shadow:0px 0px 0px white;">
                                <div class="search-widget" style="border-bottom: 0px;">
                                    <form [formGroup]="search" (ngSubmit)="search1(search)">
                                        <input class="red" type="search" formControlName="key" style="border:0px;border-bottom: 1px solid #e5e5e5 !important;"
                                            placeholder="Search products ...">
                                        <button type="submit"><i class="ion-android-search"></i></button>
                                    </form>
                                </div>
                            </li>
                            <li [ngClass]="{'active': headItem === 1}" (click)="viewalldeal()" (click)="headactive(1)">
                                All Products</li>
                            <li [ngClass]="{'active': headItem === 2}" (click)="viewtodaysdeal()"
                                (click)="headactive(2)">Today's Deal</li>
                            <!-- <li (click)="viewflashdeal()">Flashdeal</li> -->
                            <li [ngClass]="{'active': headItem === 3}" (click)="viewdealofday()"
                                (click)="headactive(3)">Deal of Day</li>
                            <li [ngClass]="{'active': headItem === 4}" (click)="viewdealofmonth()"
                                (click)="headactive(4)">Deal of Month</li>
                            <li [ngClass]="{'active': headItem === 5}" (click)="viewflashdeal()"
                                (click)="headactive(5)">Flash Deal</li>
                            <!-- <li data-filter=".sale">sale products</li> -->
                        </ul>
                    </div>
                    <!--=======  End of fitler titles  =======-->
                </div>

                <div class="col-12 col-lg-4 col-md-2" id="sortdiv">
                    <div class="filter-icons" id="sortfilter">
                        <!--=======  filter dropdown  =======-->
                        <nav class="site-nav center-menu" style="height: 80px;">
                            <ul id="ulsort">
                                <li class="menu-item-has-children">
                                    <a href="javascript:void(0)"  style="text-decoration: none;"><span
                                            style="color: #6a6a6a;
                                            font-weight: 600;text-decoration: none;">Sorting</span></a>
                                    <ul class="sub-menu single-column-menu">
                                        <li *ngFor="let tab of Sort"><a (click)="onsortChange(tab.id)">
                                                {{tab.value}}</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!--=======  advance filter icon  =====    (click)="opensort(sortRecord)"  ==-->

                        <div id="fill" class="single-icon advance-filter-icon" (click)="opensort(sortRecord)">
                            <a href="javascript:void(0)" id="advance-filter-active-btn" style="color: #6a6a6a;
                            font-weight: 600; text-decoration: none;"><i
                                    class="ion-android-funnel"></i>
                                Filters</a>
                        </div>

                        <!-- <div class="single-icon advance-filter-icon"  (click)="opennn()" >
                                <a href="javascript:void(0)" id="advance-filter-active-btn"><i
                                        class="ion-android-funnel"></i>
                                    Filters</a>
                            </div> -->

                    </div>

                    <!--=======  End of filter icons  =======-->
                </div>
            </div>
        </div>
    </div>

    <!--=======  End of shop page header  =======-->



    <div class="shop-page-content mt-10 mb-15">
        <div class="container mb-10">
            <div class="row" style="margin-right: -100px;">
                <div id="sidenavg" class="col-lg-2 order-2 order-lg-1">
                    <!--=======  page sidebar  =======-->
                    <div class="page-sidebar">
                        <div class="single-sidebar-widget mb-10 mt-10" >
                            <h2 class="single-sidebar-widget--title">Categories</h2>
                            <ul class="single-sidebar-widget--list single-sidebar-widget--list--category "
                                >
                                <li class="has-children" *ngFor="let img of Allcat;let i=index">
                                            <label style="display: flex;text-decoration: none;" (click)="getprodofcategory(img.id,1)"> 
                                                <a style="padding-top: 1px;text-decoration: none;">
                                                <input [checked]="categoryItem === i" type="checkbox"></a> 
                                                <div class="catname"> <span>{{img.name}}</span></div> </label>
                                    <!-- <span class="quantity">{{img.number_of_children}}</span>  -->
                                </li>
                                <li *ngIf="sideloader1">
                                    <ngx-skeleton-loader count="7" animation="pulse"></ngx-skeleton-loader>
                                </li>
                            </ul>
                        </div>

                        <div class="single-sidebar-widget mb-10" id="pricefilter">
                            <h2 class="single-sidebar-widget--title">Price Filter</h2>
                            <p><a (click)="under200()">Under Rs.200 </a></p>
                            <p><a (click)="uptoto500()">Rs.200 to Rs.500</a></p>
                            <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"
                                (click)="pricerange()"></ng5-slider>
                            <p id="priceinput"> <span style="float:left;"><input type="text" size="5"
                                        [(ngModel)]="minValue" (keyup.enter)="pricerange()"
                                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"></span>
                                to <span style="float:right;"><input type="text" size="5" [(ngModel)]="maxValue"
                                        (keyup.enter)="pricerange()"
                                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"></span>
                            </p>
                        </div>
                        <div class="single-sidebar-widget mb-10">
                            <h2 class="single-sidebar-widget--title">Brands</h2>
                            <ul *ngIf="!sideloader1"
                                class="single-sidebar-widget--list single-sidebar-widget--list--category "
                               >
                                <li class="has-children" *ngFor="let img of Allbrands;let i=index"
                                    [ngClass]="{'active': subItem === i}">

                                    <label style="display: flex;" (click)="getprodofbrand2(img.id,i)"> <a style="padding-top: 3px;">
                                        <input [checked]="subItem === i" type="checkbox"></a> 
                                        <div class="catname"> <span>{{img.name}}</span></div> </label>
                                </li>
                                <!-- <li  *ngIf="sideloader1">
                                        <ngx-skeleton-loader count="7" animation="pulse"></ngx-skeleton-loader>
                                    </li> -->
                            </ul>
                            <div *ngIf="sideloader1">
                                <ngx-skeleton-loader count="7" animation="pulse"></ngx-skeleton-loader>
                            </div>

                        </div>
                        <!-- <div data-role="main" class="ui-content">
                                <form [formGroup]="sortForm" (ngSubmit)="apply(sortForm)">
                                    <div data-role="rangeslider">
                                        <label for="price-min">Price:</label>
                                        <input type="range" name="price-min" id="price-min" value="200" min="0"
                                            max="1000" formControlName="min">
                                        <label for="price-max">Price:</label>
                                        <input type="range" name="price-max" id="price-max" value="800" min="0"
                                            max="1000" formControlName="max">
                                    </div>
                                    <div class="single-icon advance-filter-icon" style="text-align: end;">

                                        <a id="advance-filter-active-btn" type="submit"><i
                                                class="ion-android-funnel"></i>
                                            Filter </a>
                                    </div>

                                </form>
                            </div> -->
                        


                        <div class="single-sidebar-widget mb-20">
                            <h2 class="single-sidebar-widget--title">Popular products</h2>
                            <!--=======  widget product wrapper  =======-->
                            <div class="widget-product-wrapper">
                                <!--=======  single widget product  =======-->
                                <div class="single-widget-product-wrapper">
                                    <div class="single-widget-product" *ngFor="let img of Bestsellpro"
                                        style="padding-bottom: 17px;" (click)="proddetail(img.id)">
                                        <!--=======  image  =======-->

                                        <div class="single-widget-product__image">
                                            <a>
                                                <img src="https://neophroncrm.com/spiceclubnew/public/{{img.thumbnail_image}}"
                                                    class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="single-widget-product__content">
                                            <div class="single-widget-product__content__top">
                                                <h3 class="product-title" id="popularproname"><a style="line-height: 1.2rem;
                                                    overflow: hidden;
                                                    display: -webkit-box; 
                                                    -webkit-line-clamp: 3;
                                                    -webkit-box-orient: vertical;
                                                    max-height: 3.5rem;                        
                                                     margin-bottom: 2px;font-weight: 600;color: #4a4a4a;">{{img.name}} </a>
                                                </h3>
                                                <br>
                                                <div class="price">
                                                    <span class="main-price discounted"
                                                        style="text-decoration:line-through"
                                                        *ngIf="img.stroked_price!==img.main_price">{{img.stroked_price}}</span>
                                                    <p class="discounted-price">{{img.main_price}}</p>
                                                </div>
                                                <ngb-rating [rate]="img.rating" style="color: rgb(245, 153, 14);">
                                                </ngb-rating>
                                            </div>
                                        </div>
                                        <!--=======  End of content  =======-->
                                    </div>
                                </div>
                                <!--=======  End of single widget product  =======-->
                            </div>
                            <!-- lazyloading -->
                            <div class="widget-product-wrapper" *ngIf="poploader">
                                <!--=======  single widget product  =======-->
                                <div class="single-widget-product-wrapper">
                                    <div class="single-widget-product" style="padding-bottom: 17px;">
                                        <div class="single-widget-product__image" style="height: 120px; width:80px">
                                            <ngx-skeleton-loader count="1"
                                                [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="single-widget-product__content">
                                            <div class="single-widget-product__content__top">
                                                <ngx-skeleton-loader count="3" animation="pulse"></ngx-skeleton-loader>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-widget-product" style="padding-bottom: 17px;">
                                        <div class="single-widget-product__image" style="height: 120px; width:80px">
                                            <ngx-skeleton-loader count="1"
                                                [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="single-widget-product__content">
                                            <div class="single-widget-product__content__top">
                                                <ngx-skeleton-loader count="3" animation="pulse"></ngx-skeleton-loader>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-widget-product" style="padding-bottom: 17px;">
                                        <div class="single-widget-product__image" style="height: 120px; width:80px">
                                            <ngx-skeleton-loader count="1"
                                                [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="single-widget-product__content">
                                            <div class="single-widget-product__content__top">
                                                <ngx-skeleton-loader count="3" animation="pulse"></ngx-skeleton-loader>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--=======  End of single widget product  =======-->
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center mt-10">
                                    <a class="lezada-button lezada-button--medium lezada-button--icon--left"
                                        routerLink="/bestselling"><i class="ion-android-add"></i> More Products</a>
                                </div>
                            </div>
                            <!--=======  End of widget product wrapper  =======-->
                        </div>
                        <!--=======  End of single sidebar widget  =======-->
                    </div>
                </div>
                <!-- sidebarlazyloading  end-->

                <div class="col-lg-9 order-1 order-lg-2 mb-md-80 mb-sm-80 ml-10"  infinite-scroll
                    [infiniteScrollDistance]="2" (scrolled)="onScrollDown($event)" (scrolledUp)="onScrollUp($event)">
                    <div class="row product-isotope shop-product-wrap four-column"  *ngIf="prodloadermain">
                        <div id="productdiv" class="col-12 col-lg-3 col-md-6 col-sm-6 mb-10 pt-10 pb-10 hot sale"
                            *ngFor="let img of Product;let i=index">
                            <div class="single-product">
                                <div class="single-product__image" style="overflow: hidden;">
                                    <div class="imglazy">
                                        <ngx-skeleton-loader count="1" *ngIf="!imgloader"
                                            [theme]="{'margin-left':'10px',  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                        </ngx-skeleton-loader>
                                        <div *ngIf="img.iscertificated==1" class="like-button"
                                            style="text-align: end; margin-right: 20px;">
                                            <a
                                                style=" position: absolute;  z-index: 2; color: rgb(97, 216, 0); position: absolute;">
                                                <img src="assets/images/icons/green2.jpg" class="img-g"
                                                    style="height: 15px;" alt=""></a>
                                        </div>
                                        <img *ngIf="imgloader" (click)="proddetail(img.id)"
                                            src="https://neophroncrm.com/spiceclubnew/public/{{img.thumbnail_image}}"
                                            class="img-fluid" alt="" style="height: -webkit-fill-available;">
                                        <span id="offtag" *ngIf="img.deal_of_day!=0">Deal of the day</span>
                                        <span id="offtag" *ngIf="img.deal_of_month!=0">Deal of the month</span>
                                        <span id="offtag" *ngIf="img.todays_deal!=0">Today's deal</span>



                                    </div>

                                    <div class="single-product__floating-badges">
                                        <!-- <span class="onsale">-10%</span> -->
                                        <span class="hot"
                                            *ngIf="img.has_discount==true">{{img.discount_percentage}}%</span>
                                        <!-- <span class="hot"  *ngIf="(img.wishlist==1)" ><i class="bi bi-heart-fill"></i></span>  -->
                                    </div>


                                    <div class="single-product__floating-icons">
                                        <span class="wishlist" *ngIf="(img.wishlist==1)"><a data-tippy="Add to wishlist"
                                                data-tippy-inertia="true" data-tippy-animation="shift-away"
                                                data-tippy-delay="50" data-tippy-arrow="true"
                                                data-tippy-theme="sharpborder" data-tippy-placement="left">
                                                <i [ngClass]="{'ion-android-favorite':likeddd[i]===true, 'ion-android-favorite-outline':likeddd[i]===false}"
                                                    (click)='toggle(img,i)'
                                                    style="color: rgb(214, 5, 5);"></i></a></span>
                                        <span class="wishlist" *ngIf="(img.wishlist==0)"><a data-tippy="Add to wishlist"
                                                data-tippy-inertia="true" data-tippy-animation="shift-away"
                                                data-tippy-delay="50" data-tippy-arrow="true"
                                                data-tippy-theme="sharpborder" data-tippy-placement="left">
                                                <i [ngClass]="{'ion-android-favorite':likedd[i]===true, 'ion-android-favorite-outline':likedd[i]===false}"
                                                    (click)='toggledelete(img,i)'
                                                    style="color: rgb(214, 5, 5);"></i></a></span>
                                    </div>
                                </div>
                                <!--=======  End of single product image  =======-->

                                <!--=======  single product content  routerLink="/productdetail"=======-->
                                <div class="single-product__content" (click)=" proddetail(img.id)">
                                    <div class="title">
                                        <h3  style="padding-bottom:2px;"> <a style="line-height: 1.2rem;
                                        overflow: hidden;
                                        display: -webkit-box; 
                                        -webkit-line-clamp: 2;
                                        -webkit-box-orient: vertical;
                                        max-height: 3.2rem;
                                         margin-bottom: 2px;font-weight: 600;color: #4a4a4a;">{{img.name}}</a> </h3>    
                                    </div>
        
                                    <!-- <div class="pri" *ngFor="let imggg of img.variants;" style="text-align: center;line-height: 1.6rem;
                                overflow: hidden;
                                display: -webkit-box; 
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                max-height: 1.7rem;
                                 font-size: 0.7rem;">
                                        <span class="discounted-price" *ngFor="let imgggg of imggg.options;">  {{imgggg}} &nbsp;
                                        </span>
                                    </div> -->
                                    <div class="price" style="margin-top: 2px;">
                                        <span *ngIf="img?.stroked_price!==img?.main_price"
                                            class="main-price discounted">{{img.stroked_price}}</span>
                                        <span class="discounted-price">{{img.main_price}} </span>
                                    </div>
                                    <div class="pri" >
                                        <span class="discounted-price" style="line-height: 1.6rem;
                                    overflow: hidden;
                                    display: -webkit-box; 
                                    -webkit-line-clamp: 12;
                                    -webkit-box-orient: vertical;
                                    max-height: 1.7rem; color:#363636;font-size: 0.7rem;">{{img.usp_text}}</span>
                                    </div>
                                </div>

                                <!--=======  End of single product content  =======-->
                                <div class="row"
                                    *ngIf="img.variants.length ==0 || img.variants[0]?.options?.length == 1 || showaddbtn== i">
                                    <div class="col-6 " style="padding-left:4px ; padding-right: 6px;">
                                        <input (change)="qtyChange($event,i,img)" type="number" id="quantity"
                                            name="quantity" value="1" style="width:100%;text-align: center;">
                                    </div>
                                    <div class="col-6 p-0" style="margin-left: -4px;">
                                        <button type="button" id="addcarrtbtn" class="btn btn-primary"
                                            (click)="prodaddtocart(img)"><i class="ion-ios-cart"></i>&nbsp; Add</button>
                                    </div>
                                </div>

                                <div class="row" *ngIf="!(img.variants[0]?.options?.length <= 1 || showaddbtn == i)">
                                    <div class="col-12 ">
                                        <div ngbDropdown placement="top-end" class="d-inline-block" style="width:100%;">
                                            <button type="button" class="btn  addcarrtbtn" id="dropdownBasic2"
                                                ngbDropdownToggle>Select Options&nbsp;</button>
                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic2"
                                                style="margin-left:-5px;">
                                                <button ngbDropdownItem *ngFor="let imgggg of img.variants[0]?.options;"
                                                    (click)="bestsellingselectvar(imgggg ,i,img.id)">{{imgggg}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                     <!--  productslazyloading -->          
                    <div class="row product-isotope shop-product-wrap four-column" style="margin-right: -100px;" *ngIf="prodloader" >
                        <div class="col-12 col-lg-3 col-md-6 col-sm-6 mb-45 hot sale" *ngFor="let c of prodcount">
                            <div class="single-product" style="height: 250px; width: 200px;">
                                <ngx-skeleton-loader count="1"
                                    [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                      <!--  productslazyloading  end-->

                    <!-- pagenation -->
                    <!-- <div *ngIf="pageload">
                        <div id="pgg" *ngIf="Product?.length!==0">
                            <ul class="pagination" style="justify-content: center;
                                display: flex;" *ngIf="!directpage">
                                <li [ngClass]="{disabled:p.url === null,'active': p.active}"
                                    class="page-item first-item" *ngFor="let p of pagess" (click)="getpage(p.url)">
                                    <a class="page-link">{{p.label}}</a>
                                </li>
                            </ul>
                            <ul class="pagination" style="justify-content: center;
                                display: flex;" *ngIf="directpage">
                                <li [ngClass]="{disabled:p.url === null,'active': p.active}"
                                    class="page-item first-item" *ngFor="let p of pagess" (click)="getpage1(p.url)">
                                    <a class="page-link">{{p.label}}</a>
                                </li>
                            </ul>
                        </div>
                    </div> -->



                    <div id="pggg" *ngIf="Product?.length==0" style=" display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 200px;
                    border: 3px solid rgb(139, 139, 139);">
                        <div>
                            <h5>
                                There is no product
                            </h5>
                        </div>
                    </div>

                </div>
               
               
              
            </div>
        </div>
    </div>

    <!--=====  End of shop page content  ======-->
</div>

<!-- sort poup -->
<ng-template #sortRecord let-modal>

    <div class="modal-body" style="background-color: rgb(248, 250, 251);">
        <form class="register-form" [formGroup]="sortForm" (ngSubmit)="apply(sortForm)">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <label class="sorttext">Minimum</label>

                    <div class="search-widget mb-2">
                        <input type="text" class="form-control" placeholder="" formControlName="min"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                    </div>
                    <label class="sorttext">Maximum</label>
                    <div class="search-widget  mb-2">
                        <input type="text" class="form-control" placeholder="" formControlName="max"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                    </div>
                </div>

                <div class="col-12 md-12 mt-3">
                    <label class="sorttext">Category</label><br>
                    <select class="formrol pl-5 col-12" placeholder="All" formControlName="category"
                        style="background-color: transparent;Border: none;border-bottom:inset">
                        <option value='' selected>
                            <p> All</p>
                        </option>
                        <option *ngFor="let tab of Allcat;let i=index" [value]="tab.id"
                            style="background-color:rgb(227, 227, 228);Border: none;">
                            {{tab.name}}
                        </option>
                    </select>
                </div>
                <div class="col-12 md-12 mt-3">
                    <label class="sorttext">Brand</label><br>
                    <select class="formrol pl-5 col-12" formControlName="brand"
                        style="background-color: transparent;Border: none;border-bottom:inset" #selectList
                        (change)="searchWithCode($event)">
                        <option value='' selected>
                            <p> All</p>
                        </option>
                        <option *ngFor="let tab of Allbrands;let i=index" [value]="tab.id"
                            style="background-color:rgb(227, 227, 228);Border: none;">
                            {{tab.name}}
                        </option>
                    </select>
                </div>
                <div class="col-12 md-12 mt-4" style="justify-content: center;">
                    <button type="submit" class="btn btn-danger" style=" width:50%;
                    margin-left:25%;
                    margin-right:25%;">Apply</button>


                </div>
            </div>

            <!-- <div class="modal-footer" style="justify-content: center;">
                <button type="submit" class="btn btn-primary">Apply</button>


            </div> -->
        </form>

    </div>
</ng-template>
<!--quickview poup -->
<ng-template #openRecord let-modal>

    <div class="modal-body" style="background-color: rgb(248, 250, 251);">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()" style="padding-right: 15px;">
            <span aria-hidden="true"><i class="ion-android-close"></i></span>
        </button>
        <div class="py-4">
            <div class="modal-body  c-scrollbar-light">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row gutters-10 flex-row-reverse"
                            style="border: 2px solid rgb(216, 212, 212);  border-radius: 0px;">
                            <div class="col" style="margin-top: 35px;margin-bottom: 35px;">
                                <div class="aiz-carousel product-gallery slick-initialized slick-slider"
                                    data-nav-for=".product-gallery-thumb" data-fade="true" data-auto-height="true">
                                    <div class="carousel-box img-zoom rounded"
                                        style="width: 100%; display: inline-block; position: relative; overflow: hidden;">
                                        <img class="img-fluid ls-is-cached lazyloaded"
                                            src="https://neophroncrm.com/spiceclubnew/public/{{Peoduct.thumbnail_image}}"
                                            data-src="https://neophroncrm.com/spiceclubnew/public/{{Peoduct.thumbnail_image}}">
                                        <img role="presentation" alt=""
                                            src="https://neophroncrm.com/spiceclubnew/public/{{Peoduct.thumbnail_image}}"
                                            class="zoomImg"
                                            style="position: absolute; top: -1224.65px; left: 0px; opacity: 0; width: 2250px; height: 2250px; border: none; max-width: none; max-height: none;">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6 " style=" height: 450px;overflow-y: auto;">
                        <h5 class="item-title mb-4">{{Peoduct.name}}</h5>
                        <!-- <p class="price">
                            <span class="main-price discounted" style="text-decoration: line-through"
                            *ngIf="storked_pricee!==prod_price">{{storked_pricee}}</span>
                        <span style="color: red;" class="h5 discounted-price">{{prod_price}}</span>
                        <span class="opacity-70">/{{Peoduct.unit}}</span>
                        </p> -->



                        <div class="quick-view-other-info pb-0 pt-0" #target>
                            <table>
                                <tr class="single-info" *ngIf="Peoduct?.stroked_price!== Peoduct?.main_price">
                                    <td class="quickview-title" style="color: red;">MRP: </td>
                                    <td class="quickview-value">

                                        <span class="main-price discounted">{{Peoduct?.stroked_price}}</span>

                                    </td>
                                </tr>
                                <tr class="single-info ">
                                    <td class="quickview-title" style="color: red; ">Price: </td>
                                    <td class="quickview-value">
                                        <a style="font-size: 1.3rem;">{{Peoduct?.main_price}}</a>
                                        <span style="font-size: 0.8rem;font-weight: 500;"> (Including all taxes)</span>

                                    </td>
                                </tr>
                                <tr class="single-inf " *ngIf="Peoduct?.discount_percentage!==0">
                                    <td class="quickview-title" style="color: red;"> </td>
                                    <td class="quickview-value pt-0">
                                        <a style="font-weight: 300;">( You save {{Peoduct?.discount_percentage}} % )
                                        </a>
                                    </td>
                                </tr>
                                <tr class="single-info">
                                    <td class="quickview-title" style="color: red;">Excluding GST: </td>
                                    <td class="quickview-value">
                                        <a style="font-size: 1rem;font-weight: 500;">Rs {{Peoduct?.excl_gst}} </a>
                                    </td>
                                </tr>
                                <tr class="single-info">
                                    <td class="quickview-title" style="color: red;">Variable Price: </td>
                                    <td class="quickview-value">
                                        <a style="font-size: 1rem;font-weight: 500;">{{prod_price}} </a>
                                    </td>
                                </tr>
                            </table>
                        </div>


                        <form id="option-choice-form">
                            <input type="hidden" name="_token" value="dhy8KvYTTGug1EMR5yJPArW0ybXT0zbNQQbK20Lk">
                            <input type="hidden" name="id" value="21">

                            <div class="row no-gutters ml-1 mt-2">
                                <div class="col-3 ">
                                    <div class="quickview-title mt-2 " *ngFor="let a of choice" style="color: red;">
                                        {{a.title}}:</div>
                                </div>
                                <div class="col-9 ">
                                    <div class="shop-product__block__value" *ngFor="let a of choice">

                                        <div class="shop-product-size-list ">
                                            <span class="single-size" *ngFor="let b of a.options;let i=index"
                                                [ngClass]="{'active': subItemm === i}"
                                                (click)="selectvar(b,i)">{{b}}</span>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row no-gutters ml-1">
                                <div class="col-3">
                                    <div class="quickview-title mt-2" style="color: red;">Quantity:</div>
                                </div>
                                <div class="col-9">
                                    <div class="product-quantity d-flex align-items-center">
                                        <div class="pro-qty d-inline-block mx-0 pt-0" *ngIf="stk!==0">
                                            <a class="dec qty-btn" style="text-decoration: none;"
                                                (click)="decreaseqty()" *ngIf="quantityyy!=0">-</a>
                                            <input type="number" #box value="{{quantityyy}}"
                                                (keyup)="getValue(box.value)" name="qqty"
                                                style="background: transparent;">

                                            <a class="inc qty-btn" style="text-decoration: none;"
                                                (click)="increaseqty()" *ngIf="stk>1">+</a>
                                        </div>
                                        <!-- <div class="avialable-amount opacity-60">
                                            &nbsp; (<span id="available-quantity">{{stocck}}</span> available)
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row no-gutters pb-3 ml-1" id="chosen_price_div" *ngIf="quantityyy!==0">
                                <div class="col-3">
                                    <div class="quickview-title">Total Price:</div>
                                </div>
                                <div class="col-9">
                                    <div class="product-price">
                                        <strong id="chosen_price" class="h5 fw-600 text-danger">Rs
                                            {{totalprice}}</strong>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="mt-3" style="display: flex; align-items: center;  justify-content: center;">
                            <button *ngIf="stk!==0" class="lezada-button lezada-button--small lezada-button--icon--left"
                                (click)="addtocart2()">
                                <i class="ion-ios-cart-outline"></i>add to cart</button>

                            <button *ngIf="stk==0" class="lezada-button lezada-button--small lezada-button--icon--left"
                                style="background-color: rgb(235, 54, 30); border: 1px solid #e1830f;">
                                <i class="ion-ios-cart-outline"></i>Out of Stock</button>

                        </div>

                        <div class="shop-product__block__title"
                            style="font-weight: 600;color: green; text-align: start;">
                            {{Peoduct?.usp_text}}
                        </div>
                        <div style="text-align: start;"> <span>
                                <a *ngFor="let b of Peoduct?.usp_icon">
                                    <img src="https://neophroncrm.com/spiceclubnew/public/{{b?.icon}}"
                                        style="height:47px; width:47px; margin-bottom: 3px;margin-left:15px;margin: right 15px; ; "></a>
                                &nbsp; </span>
                        </div>
                        <hr>
                        <h6> <strong>Description</strong> </h6>
                        <p class="description" [innerHTML]="Peoduct?.description" style="font-size: small;">
                            {{Peoduct.description}}
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!--=============================================
			=            quick view         =
			=============================================-->







<!--------------------------------------- product detail page ------------------------------------>