.breadcrumb-list__item{
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
strong{
  color: #070707 ;
	font-family: 'Poppins', sans-serif;
}
h6 strong{
  color:  #474747 ;
	font-family: 'Poppins', sans-serif;
}
span{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
th{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
tr{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
p{
    border-bottom: none;
    padding: 0px;
    color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.someclass{
        height: 15px;
        width: 15px;
}
body{
    font-size:1em;
     height: 100%;
  }
  
  h3 {
    font-family: Lato;
    text-align: center;
    color:	#0080ff;
  }
  
  .circles{
    height: 0.938em;
    width: 0.938em;
    border: 0.188em solid #000;
    border-radius: 50%;
    display: inline-block;
  }
  
  .active{
      background-color:#3df80f;
  }
  
  .circle-desc-active{
  font-weight: bold;
  color: #22a302;
  }
  
  .bar{
    width: 16%;
    height: 0.063em;
    margin-bottom:0.469em;
    border: 0.031em solid #000;
    color:#000;
    background-color:#000;
    display: inline-block;
    text-align:center;
    margin:"0 auto";
  }
  
  .containerr{
    min-width:320px;
    margin: "0px auto";
    text-align: center;
  }
  
  .circle-desc{
   position: absolute;
   top:2.000em;
   font-size: 1.125em;
   width: auto;
   max-width:9.375em;
   margin-left:-2rem;
   height:100px;
  }
 

  
  @media only screen and (max-width: 320px){
     body {
       font-size:20%
    }
  } 
  
  /*extra small devices*/
  @media only screen and (max-width: 600px){
     body {
       font-size:40%
    }
  } 
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
     body {
       font-size:60%
    }
  } 
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    body {
       font-size:80%
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    body {
       font-size:100%
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  /* @media only screen and (min-width: 1200px) {
     body {
       font-size:120%
    }
  } */
  @media (max-width :900px) {
    strong{
      font-size:0.8rem;
    }
    p strong{
      font-size:0.7rem;
    }
    p {
      font-size:0.6rem;
    }
   
     #proname a {
      padding-left: 10px;
      padding-right: 10px;
    }
   .containerr #status{
      width: 50px;

    }
   .col-12  #statusss{
      margin-bottom: 20px;
    }

    .circles{
      height: 0.538em;
      width: 0.538em;
      border: 0.118em solid #000;
      border-radius: 50%;
      display: inline-block;
    }
    .bar {
      width: 12%;
      margin-bottom: 0.196em
    }
    .circle-desc{
      position: absolute;
      top:5.000em;
      font-size: 0.425em;
      width: auto;
      max-width:9.375em;
      margin-left:-0.85rem;
      height:30px;
     }
    }
  