<div >
    <div class="breadcrumb-area breadcrumb-bg-2">
		<div class="container" style="margin: 0px;">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="breadcrumb-title" style="padding: 0px; margin: 0px; font-size: 1.5rem;">Spice club's
						Recipes</h4>
					<!--=======  breadcrumb list  =======-->
					<ul class="breadcrumb-list" style="padding-left: 0px; margin-bottom: 5px;">
						<li class="breadcrumb-list__item"><a routerLink="/home">Home</a></li>
						<li class="breadcrumb-list__item breadcrumb-list__item--active" >Recipes</li>
					</ul>
					<!--=======  End of breadcrumb list  =======-->
				</div>
			</div>
		</div>
	</div>
    <!--=============================================
        =           blog page content         =
        =============================================-->

    <div class="blog-page-wrapper mb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 order-2 order-lg-1">
                    <!--=======  page sidebar  =======-->

                    <div class="page-sidebar">
                        <div class="single-sidebar-widget mb-40">
                            <h2 class="single-sidebar-widget--title" style="margin-bottom: 20px;">Categories</h2>

                            <div class="widget-post-wrapper" *ngIf="!sideloader1" >
                                <!--=======  single widget post  =======-->
                                <div class="single-widgost" *ngFor="let cat of Allcat;let i=index" >
                                    <div class="imag"  (click)="getrecipebycatg2(cat.id,i)" >
                                        <img src="https://neophroncrm.com/spiceclubnew/public/{{cat.banner}}"
                                            class="img-fluid" alt="" style="height: 100%; width: 100%; ">
                                    </div>
                                    <div class="con" (click)="getrecipebycatg2(cat.id,i)" style="text-align: center;">
                                        <h6 class="widget-positle"><a [ngClass]="{'active': topItem === i}">{{cat.name}}</a></h6>
                                        <!-- <p class="widget-posate"></p> -->
                                    </div>
                                </div>
                            </div>
                            <!-- lazyloading  -->
                            <div class="widget-post-wrapper" *ngIf="sideloader1" style="overflow: inherit;" >
                                <div class="single-widgost">
                                    <div class="imagg" style="height: 120px; width: 160px;">
                                        <ngx-skeleton-loader count="4"
                                            [theme]="{'border-radius': '4px',  height: '100%',  width:'100%',
                                             'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }"> </ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--=======  End of single sidebar widget  =======-->
                    </div>
                    <!--=======  End of page sidebar  =======-->
                </div>

                <!-- all blogs -->
                <div class="col-lg-9 order-1 order-lg-2 mb-md-70 mb-sm-70" *ngIf="!recipeloader">
                    <div class="row">

                        <div class="col-md-4 mb-60" *ngFor="let img of Blogs" >
                            <div class="single-slider-post"  *ngIf="Blogs?.length!==0">
                                <!--=======  image  style="height: 200px; width: 200px;"=======-->

                                <div class="single-slider-post__image mb-30" style="height: 200px;  display: block;
                                    margin-left: auto;
                                    margin-right: auto;">
                                    <ngx-skeleton-loader count="1" id="imggg" *ngIf="!imgloader"
                                    [theme]="{  'border-radius': '4px',  height: '220px',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                    </ngx-skeleton-loader>
                                    <a *ngIf="imgloader"  (click)="getrecipedetaill(img.id)">
                                        <img src="https://neophroncrm.com/spiceclubnew/public/{{img.thumbnail_image}}"
                                            class="img-fluid" style="height: 220px;" alt="">
                                    </a>
                                </div>

                                

                                <!--=======  End of image  =======-->

                                <!--=======  content  =======-->

                                <div class="single-slider-post__content">
                                    <a class="blog-readmore-btn" (click)="getrecipedetaill(img.id)">read more</a>
                                    <h2 class="post-title" style=" height:80px; width: 100%;
                                        overflow: hidden;"><a>{{img.name}} </a></h2>

                                </div>

                                <!--=======  End of content  =======-->
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <!--=======  pagination  =======-->
                            <div id="pgg" *ngIf="Blogs?.length!==0">
                                <ul class="pagination" style="justify-content: center;
                                    display: flex;">
                                    <li [ngClass]="{disabled:p.url === null,'active': p.active}" class="page-item first-item"
                                        *ngFor="let p of pagess" (click)="getpage(p.url,p.label)">
                                        <a class="page-link">{{p.label}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div id="pggg" *ngIf="Blogs?.length==0" style=" display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 200px;
                            border: 3px solid rgb(139, 139, 139);">
                                <div>
                                    <h5>
                                        There is no recipe
                                    </h5>
                                </div>
                            </div>

                            <!--=======  End of pagination  =======-->
                        </div>
                    </div>
                </div>
                <!-- bloglazyloading -->
                <div class="col-lg-9 order-1 order-lg-2 mb-md-80 mb-sm-80 " *ngIf="recipeloader">
                    <div class="row product-isotope shop-product-wrap four-column">
                        <div class="col-12 col-lg-4 col-md-6 col-sm-6 mb-45 hot sale" *ngFor="let c of prodcount">
                            <div class="single-product" style="height: 280px; width: 250px;">
                                <ngx-skeleton-loader count="1"
                                    [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  bloglazyloading  end-->
            </div>
        </div>
    </div>


</div>
<!--=====  End of blog page content  ======-->

<!--============================================ blog details ====================================================-->
