.textopacity{
    opacity:1;
}
.star {
    position: relative;
    display: inline-block;
    font-size: 1.3rem;
  }
  .full {
    content: "\f005";
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
  content: "\f123";
  }
  .text-warning {
    color: #ff902b !important;
  }
  .breadcrumb-list__item{
    color: #474747 ;
    font-family: 'Poppins', sans-serif;
  }
  .shop-product__long-desc p {
    
}