div{
  font-family: Arial, Helvetica, sans-serif !important ;
  letter-spacing: 0;
}
.single-slider-post{
  border:0.8px solid #e9e7e7;
  padding: 10px;
}
.imag.active{
  border-style: solid;
  border-color: rgb(128, 125, 125);
}
.widget-positle a.active{
  color: red;
}
.widget-positle a{
  color: #474747 ;
  text-decoration: none;
}
.textopacity{
    opacity:1;
}
.star {
    position: relative;
    display: inline-block;
    font-size: 1.3rem;
  }
  .full {
    content: "\f005";
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
  content: "\f123";
  }
  .text-warning {
    color: #ff902b !important;
  }
  .breadcrumb-list__item{
    color: #474747 ;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 0.7rem;
    text-transform: none;
    
  }

  @media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
      max-width: 1300px;
    }
  }

@media (max-width : 992px) {  
  .single-product__image{
    text-align: -webkit-center;

  }
  .shop-product-wrap [class*="col"], .shop-product-wrap [class*="col-"] {
    text-align: -webkit-center;
  }
  .single-slider-post__content{
    padding-top: 50px;
  }
  #imggg{
    height: 300px;
  }
  .single-slider-post__content {
    padding-top: 10px;
}
.page-sidebar{
  text-align: -webkit-center;
}
.mb-100 {
  margin-bottom: 0px !important;
}
.imag{
  height: 105px; 
  width: 150px;
}
.widget-post-wrapper{
  max-height: 750px;overflow-y: auto;
}

    } 
    /* .imag{
      height: 75px; width: 100px;
    } */
    
    @media (min-width : 992px) {  
  
    .imag{
      height: 75px; width: 100px;
      display: block;
      margin: auto;
    }
    .widget-post-wrapper{
      max-height: 450px;overflow-y: auto;
    }
        }
   