<div >
	<div class="breadcrumb-area breadcrumb-bg-1 pt-20 pb-20 mb-30">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="breadcrumb-title">Blog</h1>

					<!--=======  breadcrumb list  =======-->

					<ul class="breadcrumb-list" style="padding-left: 0px;">
						<li class="breadcrumb-list__item"><a routerLink="/home">HOME</a></li>
						<li class="breadcrumb-list__item breadcrumb-list__item--active">Blog</li>
					</ul>

					<!--=======  End of breadcrumb list  =======-->

				</div>
			</div>
		</div>
	</div>
	<!--=============================================
	=           blog page content         =
	=============================================-->

	<div class="blog-page-wrapper mb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 order-2 order-lg-1">
					<!--=======  page sidebar  =======-->

					<div class="page-sidebar">
						<div class="single-sidebar-widget mb-40" *ngIf="!loader">
							<h2 class="single-sidebar-widget--title" style="margin-bottom: 20px;">Categories</h2>
							<ul class="single-sidebar-widget--list single-sidebar-widget--list--category" 
							style="padding-left: 0px;max-height: 250px;overflow-y: auto;" *ngFor="let cat of Allcat;let i=index">
								<li><a  (click)="getblogbycatg2(cat.id,i)" [ngClass]="{'active': topItem === i}" >{{cat.name}} </a></li>
							</ul>

						</div>
						<div class="single-sidebar-widget mb-40" *ngIf="loader">
							<h2 class="single-sidebar-widget--title" style="margin-bottom: 20px;">Categories</h2>
							<ngx-skeleton-loader count="5" animation="pulse"></ngx-skeleton-loader>

						</div>

						<!--=======  End of single sidebar widget  =======-->



						<!--=======  single sidebar widget  =======-->

						<div class="single-sidebar-widget mb-40">
							<h2 class="single-sidebar-widget--title" style="margin-bottom: 20px;">All Blogs</h2>
							<!--=======  widget post wrapper  =======-->
							<div class="widget-post-wrapper" *ngIf="!loader1" style="max-height: 350px;overflow-y: auto;">
								<!--=======  single widget post  =======-->
								<div class="single-widget-post" *ngFor="let img of Blogs" (click)="getblogdetail(img.id)">
									<div class="image">
										<img src="https://neophroncrm.com/spiceclubnew/public/{{img.banner}}"
											class="img-fluid" alt="">
									</div>
									<div class="content" >
										<h3 class="widget-post-title"><a >{{img.name}}</a></h3>
										<ngb-rating [rate]="img.rating" style="color: rgb(245, 153, 14);"></ngb-rating>
										<p class="widget-post-date"></p>
									</div>
								</div>
							</div>
							<!-- lazyloading  -->
							<div class="widget-post-wrapper" *ngIf="loader1">
								<div class="single-widgost">
									<div class="imag" style="height: 120px; width: 160px;">
										<ngx-skeleton-loader count="3" [theme]="{'border-radius': '4px',  height: '100%',  width:'100%',
											 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }"> </ngx-skeleton-loader>
									</div>
								</div>
							</div>

							<!--=======  End of widget post wrapper  =======-->
						</div>
						<!--=======  End of single sidebar widget  =======-->
					</div>
					<!--=======  End of page sidebar  =======-->
				</div>

				<!-- all blogs -->
				<div class="col-lg-9 order-1 order-lg-2 mb-md-70 mb-sm-70" *ngIf="!loader1">
					<div class="row">

						<div class="col-md-4 mb-60" *ngFor="let img of Blogs">
							<div class="single-slider-post" *ngIf="Blogs?.length!==0">
								<!--=======  image  style="height: 200px; width: 200px;"=======-->

								<div class="single-slider-post__image mb-10" style="height: 200px;   display: block;
								margin-left: auto;
								margin-right: auto;">
									<ngx-skeleton-loader count="1" *ngIf="!imgloader"
										[theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
									</ngx-skeleton-loader>
									<a *ngIf="imgloader" (click)="getblogdetail(img.id)">
										<img src="https://neophroncrm.com/spiceclubnew/public/{{img.banner}}"
											class="img-fluid" alt="" style="height: 200px;">
									</a>
								</div>

								<!--=======  End of image  =======-->

								<!--=======  content  =======-->

								<div class="single-slider-post__content" (click)="getblogdetail(img.id)">
									<div class="post-date">
										<i class="ion-android-calendar"></i>
										<a> june 5, 2021</a>
										&nbsp;<ngb-rating [rate]="img.rating" style="color: rgb(245, 153, 14);">
										</ngb-rating>
									</div>
									<h2 class="post-title" style=" height:80px; width: 100%;
                                    overflow: hidden;"><a>{{img.name}} </a></h2>
									<p class="post-excerpt" style=" height: 50px; width: 100%;
                                    overflow: hidden;">{{img.short_description}}
										</p>
									<a class="blog-readmore-btn" (click)="getblogdetail(img.id)">read more</a>
								</div>

								<!--=======  End of content  =======-->
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-lg-12">
							<!--=======  pagination  =======-->

							<div id="pgg"  *ngIf="Blogs?.length!==0">
								<ul class="pagination" style="justify-content: center;
                                display: flex;">
									<li  [ngClass]="{disabled:p.url === null,'active': p.active}" class="page-item first-item"
										*ngFor="let p of pagess" (click)="getpage(p.url)">
										<a class="page-link">{{p.label}}</a>
									</li>
								</ul>
							</div>
							<div id="pggg" *ngIf="Blogs?.length==0" style=" display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 200px;
                            border: 3px solid rgb(139, 139, 139);">
                                <div>
                                    <h5>
                                        There is no recipe
                                    </h5>
                                </div>
                            </div>
							<!--=======  End of pagination  =======-->
						</div>
					</div>
				</div>
				<!-- bloglazyloading -->
				<div class="col-lg-9 order-1 order-lg-2 mb-md-80 mb-sm-80 " *ngIf="loader1">
					<div class="row product-isotope shop-product-wrap four-column">
						<div class="col-12 col-lg-4 col-md-6 col-sm-6 mb-45 hot sale" *ngFor="let c of prodcount">
							<div class="single-product mb-20" style="height: 280px; width: 260px;">
								<ngx-skeleton-loader count="1"
									[theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
								</ngx-skeleton-loader>

							</div>
							<ngx-skeleton-loader count="2" animation="pulse"></ngx-skeleton-loader>
						</div>
					</div>
				</div>
				<!--  bloglazyloading  end-->
			</div>
		</div>
	</div>


</div>
<!--=====  End of blog page content  ======-->

