
	<div class="breadcrumb-area breadcrumb-bg-2 pt-15 pb-15">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="breadcrumb-title">Login</h1>

					<!--=======  breadcrumb list  =======-->

					<ul class="breadcrumb-list" style="padding-left: 0px;">
						<li class="breadcrumb-list__item"><a routerLink="/home">HOME</a></li>
						<li class="breadcrumb-list__item breadcrumb-list__item--active">Forget password</li>
					</ul>

					<!--=======  End of breadcrumb list  =======-->

				</div>
			</div>
		</div>
	</div>

    <div class="login-area mb-20 mb-md-70 mb-sm-70 mb-xs-70 mb-xxs-70 mt-2">
        
    </div>