.breadcrumb-list__item{
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.comment-title{
    color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.review-title{
    color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.username{
    color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.message{
    color: #474747 ;
	font-family: 'Poppins', sans-serif;
}