

	<div class="breadcrumb-area breadcrumb-bg-2 pt-15 pb-15">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="breadcrumb-title">Shop</h1>

					<!--=======  breadcrumb list  =======-->

					<ul class="breadcrumb-list" style="padding-left: 0px;">
						<li class="breadcrumb-list__item"><a routerLink="/home">HOME</a></li>
						<li class="breadcrumb-list__item breadcrumb-list__item--active">Deal of month</li>
					</ul>

					<!--=======  End of breadcrumb list  =======-->

				</div>
			</div>
		</div>
	</div>

		<!--=============================================
    =            shop page content         =
    =============================================-->

	<div class="shop-page-wrapper">
		<!--=============================================
        =            shop advance filter area         =
        =============================================-->

	

		<!--=====  End of shop advance filter area  ======-->

		<!--=============================================
		=            shop page content         =
		=============================================-->

		<div class="shop-page-content mt-15 mb-15">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 order-2 order-lg-1">
						<!--=======  page sidebar  =======-->
					<div class="page-sidebar">
							<!--=======  End of single sidebar widget  =======-->

							<!--=======  single sidebar widget  =======-->

                            <div class="single-sidebar-widget mb-40 mt-30">
                                <h2 class="single-sidebar-widget--title">Deal of the day</h2>

                                <!--=======  widget product wrapper  =======-->

                                <div class="widget-product-wrapper">
                                    <!--=======  single widget product  =======-->
                                    <div class="single-widget-product-wrapper">
                                        <div class="single-widget-product" *ngFor="let img of Daydealpro"
                                            style="padding-bottom: 17px;">
                                            <!--=======  image  =======-->

                                            <div class="single-widget-product__image" (click)="proddetail(img.id)">
                                                <a >
                                                    <img src="https://neophroncrm.com/spiceclubnew/public/{{img.thumbnail_image}}"
                                                        class="img-fluid" alt="">
                                                </a>
                                            </div>

                                            <!--=======  End of image  =======-->

                                            <!--=======  content  =======-->

                                            <div class="single-widget-product__content" (click)="proddetail(img.id)">

                                                <div class="single-widget-product__content__top">
                                                    <h3 class="product-title"><a>{{img.name}}</a>
                                                    </h3>
                                                    <br>
                                                    <div class="price">
                                                        <span class="main-price discounted"
                                                            *ngIf="img.stroked_price!==img.main_price">{{img.stroked_price}}</span>
                                                        <span class="discounted-price">{{img.main_price}}</span>
                                                    </div>
                                                    <ngb-rating [rate]="img.rating" style="color: rgb(245, 153, 14);"></ngb-rating>
                                                </div>
                                            </div>
                                            <!--=======  End of content  =======-->
                                        </div>
                                    </div>

                                    <!--=======  End of single widget product  =======-->
                                </div>
                                <!-- lazyloading -->
                                <div class="widget-product-wrapper" *ngIf="poploader">
                                    <!--=======  single widget product  =======-->
                                    <div class="single-widget-product-wrapper">
                                        <div class="single-widget-product" 
                                            style="padding-bottom: 17px;">
                                            <div class="single-widget-product__image" style="height: 120px; width:80px">                    
                                                <ngx-skeleton-loader count="1"
                                                            [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                                        </ngx-skeleton-loader>
                                            </div>
                                            <div class="single-widget-product__content">
                                                <div class="single-widget-product__content__top">
                                                    <ngx-skeleton-loader count="3" animation="pulse"></ngx-skeleton-loader>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-widget-product" 
                                        style="padding-bottom: 17px;">
                                        <div class="single-widget-product__image" style="height: 120px; width:80px">                    
                                            <ngx-skeleton-loader count="1"
                                                        [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                                    </ngx-skeleton-loader>
                                        </div>
                                        <div class="single-widget-product__content">
                                            <div class="single-widget-product__content__top">
                                                <ngx-skeleton-loader count="3" animation="pulse"></ngx-skeleton-loader>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-widget-product" 
                                    style="padding-bottom: 17px;">
                                    <div class="single-widget-product__image" style="height: 120px; width:80px">                    
                                        <ngx-skeleton-loader count="1"
                                                    [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                                </ngx-skeleton-loader>
                                    </div>
                                    <div class="single-widget-product__content">
                                        <div class="single-widget-product__content__top">
                                            <ngx-skeleton-loader count="3" animation="pulse"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                    </div>

                                    <!--=======  End of single widget product  =======-->
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center mt-30">
                                        <a class="lezada-button lezada-button--medium lezada-button--icon--left"
                                        routerLink="/daydeal"     ><i class="ion-android-add"></i> MORE</a>
                                    </div>
                                </div>
                                <!--=======  End of widget product wrapper  =======-->
                            </div>

							<!--=======  End of single sidebar widget  =======-->

						</div>

						<!-- todays_deal -->
					<div class="page-sidebar">
						<!--=======  End of single sidebar widget  =======-->

						<!--=======  single sidebar widget  =======-->

						<div class="single-sidebar-widget mb-40 mt-30">
							<h2 class="single-sidebar-widget--title">Today's deal</h2>
							<!--=======  widget product wrapper  =======-->
							<div class="widget-product-wrapper">
								<!--=======  single widget product  =======-->
								<div class="single-widget-product-wrapper">
									<div class="single-widget-product" *ngFor="let img of Product"
										style="padding-bottom: 17px; "  >
										<!--=======  image  =======-->

										<div class="single-widget-product__image" (click)="proddetail(img.id)" style="overflow: hidden;">
											<a >
												<img src="https://neophroncrm.com/spiceclubnew/public/{{img.thumbnail_image}}"
													class="img-fluid" alt="">
												
											</a>
											
										</div>
										
										<!--=======  End of image *ngIf="img.deal_of_day!=0"  =======-->
										<!--=======  content  =======-->

										<div class="single-widget-product__content" (click)="proddetail(img.id)">

											<div class="single-widget-product__content__top">
												<h3 class="product-title"><a>{{img.name}}</a>
												</h3>
												<br>
												<div class="price">
													<span class="main-price discounted"
														*ngIf="img.stroked_price!==img.main_price">{{img.stroked_price}}</span>
													<span class="discounted-price">{{img.main_price}}</span>
												</div>
												<ngb-rating [rate]="img.rating" style="color: rgb(245, 153, 14);">
												</ngb-rating>
											</div>
										</div>
										<!--=======  End of content  =======-->
									</div>
								</div>

								<!--=======  End of single widget product  =======-->
							</div>
							<!-- lazyloading -->
							<div class="widget-product-wrapper" *ngIf="poploader">
								<!--=======  single widget product  =======-->
								<div class="single-widget-product-wrapper">
									<div class="single-widget-product" style="padding-bottom: 17px;">
										<div class="single-widget-product__image" style="height: 120px; width:80px">
											<ngx-skeleton-loader count="1"
												[theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
											</ngx-skeleton-loader>
										</div>
										<div class="single-widget-product__content">
											<div class="single-widget-product__content__top">
												<ngx-skeleton-loader count="3" animation="pulse"></ngx-skeleton-loader>
											</div>
										</div>
									</div>
									<div class="single-widget-product" style="padding-bottom: 17px;">
										<div class="single-widget-product__image" style="height: 120px; width:80px">
											<ngx-skeleton-loader count="1"
												[theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
											</ngx-skeleton-loader>
										</div>
										<div class="single-widget-product__content">
											<div class="single-widget-product__content__top">
												<ngx-skeleton-loader count="3" animation="pulse"></ngx-skeleton-loader>
											</div>
										</div>
									</div>
									<div class="single-widget-product" style="padding-bottom: 17px;">
										<div class="single-widget-product__image" style="height: 120px; width:80px">
											<ngx-skeleton-loader count="1"
												[theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
											</ngx-skeleton-loader>
										</div>
										<div class="single-widget-product__content">
											<div class="single-widget-product__content__top">
												<ngx-skeleton-loader count="3" animation="pulse"></ngx-skeleton-loader>
											</div>
										</div>
									</div>
								</div>

								<!--=======  End of single widget product  =======-->
							</div>
							<div class="row">
								<div class="col-lg-12 text-center mt-30">
									<a class="lezada-button lezada-button--medium lezada-button--icon--left"
										routerLink="/todaysdeal"><i class="ion-android-add"></i> MORE</a>
								</div>
							</div>
							<!--=======  End of widget product wrapper  =======-->
						</div>

						<!--=======  End of single sidebar widget  =======-->

					</div>

						<!--=======  End of page sidebar  =======-->
					</div>

					<div class="col-lg-9 order-1 order-lg-2 mb-md-80 mb-sm-80 mt-30" *ngIf="!prodloader">

						<div class="row product-isotope shop-product-wrap four-column">

							<!--=======  single product  =======-->
							<div class="col-12 col-lg-3 col-md-6 col-sm-6 mb-45 hot sale"  *ngFor="let img of Monthdealpro  | paginate: { itemsPerPage: 12, currentPage: p };let i=index">
								<div class="single-product" *ngIf="Monthdealpro?.length!==0">
									<!--=======  single product image  =======-->
		
									<div class="single-product__image " style="overflow: hidden;">
										<div class="imglazy">
                                            <ngx-skeleton-loader count="1" *ngIf="!imgloader"
                                            [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                        </ngx-skeleton-loader>
                                        <a class="image-wrap"  *ngIf="imgloader" (click)="proddetail(img.id)">
                                            
                                            <img src="https://neophroncrm.com/spiceclubnew/public/{{img.thumbnail_image}}"
                                                class="img-fluid" alt="">
                                        </a>
                                        </div>
										<!-- <span id="offtag" *ngIf="img.deal_of_day!=0">Deal of the day</span>
										<span id="offtag" *ngIf="img.deal_of_month!=0">Deal of the month</span>
									   <span id="offtag" *ngIf="img.todays_deal!=0">Today's deal</span>  -->
									   
										<div class="single-product__floating-badges">
											<!-- <span class="onsale">-10%</span> -->
											<span class="hot" *ngIf="img.has_discount==true">hot</span>
											<!-- <span class="hot"  *ngIf="(img.wishlist==1)" ><i class="bi bi-heart-fill"></i></span> -->
										</div>
		
										<div class="single-product__floating-icons">
			
											<span class="wishlist" *ngIf="(img.wishlist==1)"><a data-tippy="Add to wishlist"
												data-tippy-inertia="true" data-tippy-animation="shift-away"
												data-tippy-delay="50" data-tippy-arrow="true"
												data-tippy-theme="sharpborder" data-tippy-placement="left">
												<i [ngClass]="{'ion-android-favorite':likeddd[i]===true, 'ion-android-favorite-outline':likeddd[i]===false}"
													(click)='toggle(img,i)'
													style="color: rgb(214, 5, 5);"></i></a></span>

									    	<span class="wishlist" *ngIf="(img.wishlist==0)"><a data-tippy="Add to wishlist"
									  			data-tippy-inertia="true" data-tippy-animation="shift-away"
												data-tippy-delay="50" data-tippy-arrow="true"
												data-tippy-theme="sharpborder" data-tippy-placement="left">
												<i [ngClass]="{'ion-android-favorite':likedd[i]===true, 'ion-android-favorite-outline':likedd[i]===false}"
													(click)='toggledelete(img,i)'
													style="color: rgb(214, 5, 5);"></i></a></span>
		
		
											<span class="quickview" (click)="quickview(img.id,openRecord)"><a class="cd-trigger"  data-tippy="Quick View"
													data-tippy-inertia="true" data-tippy-animation="shift-away"
													data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"
													data-tippy-placement="left"><i class="bi bi-cart3"></i></a></span>
										</div>
									</div>
									<!--=======  End of single product image  =======-->
		
									<!--=======  single product content  =======-->
									<div class="single-product__content" (click)="proddetail(img.id)">
										<div class="title">
											<h3> <a href="">{{img.name}}</a><a style="color: red;font-size: small;">
												<i class="bi bi-eye-fill"></i> View</a></h3>
												<a id="vieww" style="font-size: small;">{{img.name}}</a>
										</div>
										<div class="price">
											<span  *ngIf="img?.stroked_price!==img?.main_price" class="main-price discounted">{{img.stroked_price}}</span>
											<span class="discounted-price">{{img.main_price}}</span>
										</div>
									</div>
		
									<!--=======  End of single product content  =======-->
								</div>

								
							</div>
                            <div id="pgg" style="text-align: center;" *ngIf="Monthdealpro?.length!==0">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
							<div id="pggg" *ngIf="Monthdealpro?.length==0" style=" display: flex;
							justify-content: center;
							align-items: center;
							height: 200px;
							border: 3px solid rgb(139, 139, 139);">
								<div>
									<h5>
										There is no product
									</h5>
								</div>
							</div>
						</div>
					</div>
       <!--  productslazyloading -->
	   <div class="col-lg-9 order-1 order-lg-2 mb-md-80 mb-sm-80 mt-40" *ngIf="prodloader">
		<div class="row product-isotope shop-product-wrap four-column">
			<div class="col-12 col-lg-3 col-md-6 col-sm-6 mb-45 hot sale" *ngFor="let c of prodcount">
								<div class="single-product" style="height: 250px; width: 200px;">          
										<ngx-skeleton-loader count="1"
											[theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
										</ngx-skeleton-loader>
								</div>                                  
			</div>   
		</div>
	</div>

				</div>
			</div>
		</div>

		<!--=====  End of shop page content  ======-->
	</div>
 <!-- poup   (click)="quickview(img.id,openRecord)"-->
 <ng-template #openRecord let-modal>

	<div class="modal-body" style="background-color: rgb(248, 250, 251);" >
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss()"
			style="padding-right: 15px;">
			<span aria-hidden="true"><i class="ion-android-close"></i></span>
		</button>
		<div class="py-4" >
			<div class="modal-body  c-scrollbar-light">
				<div class="row">
					<div class="col-lg-6">
						<div class="row gutters-10 flex-row-reverse"
							style="border: 2px solid rgb(216, 212, 212);  border-radius: 0px;">
							<div class="col" style="margin-top: 35px;margin-bottom: 35px;">
								<div class="aiz-carousel product-gallery slick-initialized slick-slider"
									data-nav-for=".product-gallery-thumb" data-fade="true" data-auto-height="true">
									<div class="carousel-box img-zoom rounded"
										style="width: 100%; display: inline-block; position: relative; overflow: hidden;">
										<img class="img-fluid ls-is-cached lazyloaded"
											src="https://neophroncrm.com/spiceclubnew/public/{{Peoduct.thumbnail_image}}"
											data-src="https://neophroncrm.com/spiceclubnew/public/{{Peoduct.thumbnail_image}}">
										<img role="presentation" alt=""
											src="https://neophroncrm.com/spiceclubnew/public/{{Peoduct.thumbnail_image}}"
											class="zoomImg"
											style="position: absolute; top: -1224.65px; left: 0px; opacity: 0; width: 2250px; height: 2250px; border: none; max-width: none; max-height: none;">
									</div>
								</div>
							</div>
						
						</div>
					</div>
					<div class="col-lg-6 " style=" height: 450px;overflow-y: auto;">
						<h5 class="item-title mb-4">{{Peoduct.name}}</h5>
						<p class="price">
							<span class="main-price discounted" style="text-decoration: line-through"
							*ngIf="storked_pricee!==prod_price">{{storked_pricee}}</span>
						<span class="h5 discounted-price">{{prod_price}}</span>
						<span class="opacity-70">/{{Peoduct.unit}}</span>
						</p>
						
						<hr>

						<form id="option-choice-form">
							<input type="hidden" name="_token" value="dhy8KvYTTGug1EMR5yJPArW0ybXT0zbNQQbK20Lk">
							<input type="hidden" name="id" value="21">

							<div class="row no-gutters ml-1">
								<div class="col-3">
									<div class="opacity-50 mt-2 " *ngFor="let a of choice">{{a.title}}:</div>
								</div>
								<div class="col-9">
									<div class="shop-product__block__value" *ngFor="let a of choice">

										<div class="shop-product-size-list">
											<span class="single-size" *ngFor="let b of a.options;let i=index"
											[ngClass]="{'active': subItemm === i}"    (click)="selectvar(b,i)">{{b}}</span>
										</div>
									</div>
								</div>
							</div>

							<div class="row no-gutters ml-1">
								<div class="col-3">
									<div class="opacity-50 mt-2">Quantity:</div>
								</div>
								<div class="col-9">
									<div class="product-quantity d-flex align-items-center">
										<div class="pro-qty d-inline-block mx-0 pt-0" *ngIf="stk!==0">
											<a class="dec qty-btn" style="text-decoration: none;"
												(click)="decreaseqty()" *ngIf="quantityyy!=0">-</a>
												<input type="number" #box value="{{quantityyy}}" (keyup)="getValue(box.value)" name="qqty" style="background: transparent;">
										   
											<a class="inc qty-btn" style="text-decoration: none;"
												(click)="increaseqty()" *ngIf="stk>1">+</a>
										</div>
										<div class="avialable-amount opacity-60">
											&nbsp; (<span id="available-quantity">{{stocck}}</span> available)
										</div>
									</div>
								</div>
							</div>
							<hr>
							<div class="row no-gutters pb-3 ml-1" id="chosen_price_div" *ngIf="quantityyy!==0">
								<div class="col-3">
									<div class="opacity-50">Total Price:</div>
								</div>
								<div class="col-9">
									<div class="product-price">
										<strong id="chosen_price"
											class="h5 fw-600 text-danger">Rs {{totalprice}}</strong>
									</div>
								</div>
							</div>
						</form>
					
						<div class="mt-3" style="display: flex; align-items: center;  justify-content: center;">
							<button   *ngIf="stk!==0" class="lezada-button lezada-button--small lezada-button--icon--left" (click)="addtocart2()">
                                <i class="ion-ios-cart-outline"></i>add to cart</button>

                            <button   *ngIf="stk==0" class="lezada-button lezada-button--small lezada-button--icon--left"
                             style="background-color: rgb(235, 54, 30); border: 1px solid #e1830f;">
                                    <i class="ion-ios-cart-outline"></i>Out of Stock</button>

						</div>

						<h6> <strong>Description</strong> </h6>
						<p class="description" [innerHTML]="Peoduct?.description" style="font-size: small;">
							{{Peoduct.description}}
						</p>


					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>
<!--=============================================
			=            quick view         =
			=============================================-->
	
			
