.app{
  height: 65px;
}
#socialmedia{
  width: 20.6%;
}
input,
input::placeholder {
    font: 0.8rem sans-serif;
}
#about{
  width: 11.6%;
}

.footer-single-widget h5.widget-title {
  margin-bottom: 0px;
}
.footer-subscription-widget .footer-subscription-title {
  
   margin-bottom: 0px;
 
}
.footer-nav-container nav ul li {
  padding: 3px 0;
}
.footer-nav-container nav ul li a {
  font-size: 12px;
  line-height: 20px;
  position: relative;
  color: #464545;
}
.footer-subscription-widget .subscription-subtitle {
  margin-bottom: 0px;
}
.footer-subscription-widget .subscription-subtitle {
  margin-bottom: 0px;
  font-size: 0.7rem;
}
.footer-container.footer-one .col {
  -ms-flex-preferred-size: 17.5%;
  flex-basis: 17.5%;
 margin-bottom: 10px;
}
.footer-single-widget .logo {
  margin-bottom: 5px;
}
p{
  color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
  }
  input{
    color: #140f0f ;
    font-family: Arial, Helvetica, sans-serif;
  }
  h2{
    color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
  }
  h5.widget-title{
    color: #140f0f ;
    font-family: Arial, Helvetica, sans-serif;
  }
  li a{ 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  nav ul {
    padding-left: 0rem;
}

@media (max-width : 700px) {  
	.pt-100 {
        padding-top: 10px !important;
    }

    .footer-single-widget .logo {
        margin-bottom: 0px;
    }

    .footer-container.footer-one .col {
        
        margin-bottom: 30px;
    }
    .footer-single-widget h5.widget-title {
        font-size: 12px;
        /* font-weight: 600; */
        color: #333;
    }
}
@media (max-width : 995px) {
   .social-icon {
		padding-right: 0px;
    margin-right: 3px;
    
	}
  .social-icon .imggg{
		height:20px; width:20px; margin-bottom: 3px;margin-left:0px;
	}

  .footer-nav-container nav ul li a{
    font-size: 12px;
    line-height: 20px;
    position: relative;
    color: #464545;
}
.widget-title{
  margin-bottom: 0px;
}
.copyright-text p{
  font-size: 10px;display: flex;
}


}
@media (min-width : 995px) {
  .social-icon {
		padding-right: 10px;   
	}
  .social-icon .imggg{
		height:30px; width:30px; margin-bottom: 3px;margin-left:5px;
	}
  .footer-nav-container[_ngcontent-lqs-c119] nav[_ngcontent-lqs-c119] ul[_ngcontent-lqs-c119] li[_ngcontent-lqs-c119] a[_ngcontent-lqs-c119] {
    font-size: 15px;
    line-height: 20px;
    position: relative;
    color: #464545;
}
.copyright-text p{
  font-size: 11px;display: flex;
}
#logocol{
  width: 22%;
}
#downloadd{
  font-size: 15px; 
  padding-left: 4px;
}
#socialbtn{
  
}
}
