<!-- <button (click)="billdesk2()"> BILLDESK payy</button>
<button (click)="billdesk()"> BILLDESK payy server</button> -->

<div style="background-color: #93939338; padding-bottom: 1px; padding-top: 10px;">
	<div class="container">
		<div class="row" *ngIf="!review">
			<div class="col-lg-6 mb-10 p-0" style="background-color: white; ">
				<div id="coldiv">
					<div class="col-lg-12 pl-0" style="  border-bottom: 1px solid #e7e7e7">
						<div class="section-title section-title--one  mb-0">
							<h6>
								Select Your Delivery Address</h6>
						</div>
					</div>
					<p class="mb-1 mt-10" style="font-size: 0.9rem;">Create a new address here</p>
					<div style="border-bottom: 1px solid#e7e7e7;padding-bottom: 10px;">
						<button id="newaddbtn" class="btn btn-info" (click)="opennewaddress()">Add New Address</button>
					</div>
					<!-- Shipping Address -->
					<div id="shipping-formm" class="mb-40" *ngIf="shippaddress" style="padding-top: 20px;">
						<h4 class="checkout-title">Shipping Address</h4>
						<form [formGroup]="register" (ngSubmit)="onAddRowSave(register)">
							<div class="row">

								<div class="col-md-6 col-12 mb-20">
									<label class="shipplable">Phone no<span class="text-danger">*</span></label>
									<input type="text" formControlName="phone" required style="width:100%">
								</div>


								<div class="col-md-6 col-12 mb-20">
									<label class="shipplable">Country<span class="text-danger">*</span></label>
									<select class="nice-select" (change)="selectcountry($event)"
										formControlName="country" style="width:100%">
										<option value="" selected disabled><span style="color:gray;"> select</span>
										</option>
										<option *ngFor="let tab of Country" [value]="tab.id">{{tab.name}}
										</option>
									</select>
								</div>
								<div class="col-12 mb-20">
									<label class="shipplable">Address<span class="text-danger">*</span></label>
									<input type="text" placeholder="Address line 1" formControlName="address"
										style="width:100%; margin-bottom: 10px;">
									<br>
									<input type="text" placeholder="Address line 2" formControlName="address"
										style="width:100%">
								</div>

								<div class="col-md-6 col-12 mb-20">
									<label class="shipplable">State<span class="text-danger">*</span></label>
									<select class="nice-select" (change)="selectstate($event)" formControlName="state"
										style="width:100%">
										<option value="" selected disabled><span style="color:gray;"> select</span>
										</option>
										<option *ngFor="let tab of State" [value]="tab.id">{{tab.name}}
										</option>
									</select>

								</div>



								<!-- <div class="col-md-6 col-12 mb-20">
											<label class="shipplable">Town/City*</label>
											<select class="nice-select">
												<option value="" selected disabled>select</option>
												<option *ngFor="let tab of City" [value]="tab.id">{{tab.name}}</option>									
											</select>
										</div> -->
								<div class="col-md-6 col-12 mb-20">
									<label class="shipplable">Town/City<span class="text-danger">*</span></label>
									<!-- <ng-select class="nice-select" formControlName="city" [items]="City"
												bindLabel="name" bindValue="id" required placeholder="">
											</ng-select> -->
									<select class="nice-select" formControlName="city" required style="width:100%">
										<option value="" selected disabled><span style="color:gray;"> select</span>
										</option>
										<option *ngFor="let mem of City" [value]="mem.id">
											{{mem.name}}
										</option>
									</select>
								</div>


								<div class="col-md-6 col-12 mb-20">
									<label class="shipplable">Zip Code<span class="text-danger">*</span></label>
									<input type="text" formControlName="postal_code" style="width:100%">
								</div>

							</div>
							<h6 class="form-text text-danger" style="height: 12px;">
								<span *ngIf="error3">{{error3}}</span>
							</h6>
							<button class="lezada-button lezada-button--medium mt-10" style=" display: block;
									margin: 0 auto;" type="submit">Save
								address </button>
						</form>
					</div>
					<h6 style="font-size: 0.9rem;">My Addresses</h6>
					<p style="font-size: 0.9rem; margin-bottom:0px;">Select delivery address</p>

					<div class="row" *ngIf="!loadaddress">
						<div class="col-6" *ngFor="let Connectdtls of Address; let i=index">
							<div class="addresss mb-2" [ngClass]="{'active': Connectdtls.set_default== 1}">
								<a id="addressdiv">
									<p style="margin-bottom: 0px; margin-top: 10px;"> <strong>{{username}}
										</strong> </p>
									<span id="sssp"> {{Connectdtls.address}} , {{Connectdtls.city_name}} ,
										{{Connectdtls.state_name}} ,
										{{Connectdtls.country_name}} -</span>
									<p style="margin-bottom: 5px;"><strong> {{Connectdtls.postal_code}}</strong> </p>
									<p><strong> {{Connectdtls.phone}}</strong></p>
								</a>
								<p style="text-align: center;" *ngIf="Connectdtls.set_default!== 1">
									<button id="addressbtn" class="btn btn-info"
										(click)="shippingcost(Connectdtls)">Deliver to this Address</button>
								</p>
								<p style="text-align: center;" *ngIf="Connectdtls.set_default== 1">
									<button id="addressbtn" class="btn btn-info"
										(click)="shippingcost(Connectdtls)">Current Deliver Dddress</button>
								</p>
								<p id="btns"> <button id="addressbtn" class="btn btn-info"
										routerLink="/address">Update</button>
									<button id="addressbtn" class="btn btn-info"
										(click)="deleteRow(Connectdtls)">Delete</button>
								</p>
							</div>

						</div>
					</div>

					<div class="row" *ngIf="loadaddress">
						<div class="col-6">
							<ngx-skeleton-loader count="1"
								[theme]="{'border-radius': '4px',  height: '250px',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
							</ngx-skeleton-loader>
						</div>
						<div class="col-6">
							<ngx-skeleton-loader count="1"
								[theme]="{'border-radius': '4px',  height: '250px',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
							</ngx-skeleton-loader>
						</div>
						<div class="col-6">
							<ngx-skeleton-loader count="1"
								[theme]="{'border-radius': '4px',  height: '250px',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
							</ngx-skeleton-loader>
						</div>
						<div class="col-6">
							<ngx-skeleton-loader count="1"
								[theme]="{'border-radius': '4px',  height: '250px',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
							</ngx-skeleton-loader>
						</div>
					</div>
				</div>

			</div>
			<div class="col-lg-6 mb-10" style="background-color: white;">
				<div id="coldiv">
					<div class="col-lg-12" style=" border-bottom: 1px solid #e7e7e7; padding: 0px;">
						<div class="section-title section-title--one  mb-0">
							<h6>
								Select Payment Method</h6>
						</div>
					</div>
					<!-- Payment Method -->
					<div class="col-12 mt-10 p-0">

						<h6 style="font-size: 0.9rem;">Your Wallet balance</h6>
						<span style="display:flex;padding: 0px;background-color:white;" class="checkout-payment-method">
							<span class="single-method">
								<input type="radio" id="wallet"> &nbsp; <label style="margin-top:10px;" for="wallet">Use
									My Spice Club's Wallet Balance</label>
							</span></span>
					</div>
					<div class="col-12 p-0">
						<h6 style="font-size: 0.9rem;">Payment Methods</h6>

						<form [formGroup]="terms" (ngSubmit)="placeorder(terms)" *ngIf="!paymentload">
							<div class="checkout-payment-method" *ngFor="let b of Paymenttype"
								style="background-color:white;">
								<div class="single-method">
									<input type="radio" id="{{b.payment_type}}" [(ngModel)]="radioSelected"
										value="{{b.payment_type_key}}" (change)="onItemChange(b.payment_type_key)"
										formControlName="type">
									<label for="{{b.payment_type}}">{{b.title}}</label>

									<!-- <p data-method="check">{{b.title}}</p> -->
								</div>
							</div>
							<div style="text-align: end;">
								<h6 class="form-text text-danger" style="height: 12px;padding-right: 30px;font-weight: 200;">
									<span *ngIf="error2" style="color: red;">{{error2}}</span>
								</h6>

								<button id="placebtn" class="lezada-button lezada-button--medium mt-10" type="submit" 
	                            *ngIf="!loadingg">Proceed to Checkout</button>
								<button class="lezada-button lezada-button--medium mt-10" type="button"
									style="margin: 0 auto;border-radius: 15px;" *ngIf="loadingg"><i
										class="fa fa-spinner fa-spin"></i>&nbsp;</button>
							</div>

						</form>

						<div class="col-6 p-0" *ngIf="paymentload">

							<ngx-skeleton-loader count="4"
								[theme]="{'border-radius': '4px',  height: '25px',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
							</ngx-skeleton-loader>
						</div>

					</div>
				</div>

			</div>


		</div>

		<div class="row" style="background-color: white;" *ngIf="review">
			<div class="section-title section-title--one  mb-0 ml-20" style="padding: 0px;">
				<h6 > Review your order</h6>
			</div>
			<div class="col-lg-8  p-0" id="firstdiv">
				<div class="col-lg-12 pl-0" style="display: flex; padding: 15px;border: 1px solid rgb(214, 214, 214);">
					<div class="col-4" id="addressreview">
						<div class="" *ngFor="let Connectdtls of Address; let i=index">
							<p  *ngIf="Connectdtls.set_default== 1" style="font-size:0.8rem; font-weight: 600;">Shipping address <span
									style="color:rgb(12, 171, 245);">&nbsp; <i (click)="backtocheckpage()" class="bi bi-pencil-square"></i></span>
							</p>
							<div class="addresss mb-2" id="addresss" *ngIf="Connectdtls.set_default== 1"
								style="border: 0px;">
								<a id="addressdiv">
									<p style="margin-top: 10px;"> <strong>{{username}}
										</strong> </p>
									<span id="sssp"> {{Connectdtls.address}} , {{Connectdtls.city_name}} ,
										{{Connectdtls.state_name}} ,
										{{Connectdtls.country_name}} -</span>
									<p style="font-size:0.9rem;"> {{Connectdtls.postal_code}} </p>
									<p><strong> {{Connectdtls.phone}}</strong> </p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-4">
						<p style="font-size:0.8rem; font-weight:600; margin-bottom: 8px;">Payment method</p>

						<p style="font-size:0.8rem; font-weight:500; margin-bottom: 8px;">{{payytype}}</p>
					</div>
					<div class="col-4">
						<p style="font-size:0.8rem; font-weight:600; margin-bottom: 8px;">Apply coupon</p>

						<p class="mb-0" style="font-size: 0.7rem;font-weight: 500;">Available coupans for you</p>
						<span *ngFor="let a of availcoupan"><input type="checkbox" name="availcoupan" value="{{a.code}}"
								(change)="changecoupan($event)" style="vertical-align: middle;">
							<p style="font-size: 0.8rem;display: contents;"> {{a.code}}</p>
						</span>

						<div class="lezada-form coupon-form mt-10"  >
							<form [formGroup]="comment" (ngSubmit)="applycoupan(comment)">
								<div class="row">
									<div class="col-md-8 mb-sm-10" >
										<input type="text" placeholder="Enter your coupon code"
											formControlName="coupan" required style=" background-color: #f3f3f3;
											border-radius: 4px;border:0px;padding: 3px; padding-left: 8px;">
									</div>
									<div class="col-md-4">
										<button id="apply" class="btn btn-danger sm" type="submit" *ngIf="applycou" >Apply</button>
										<button id="apply" class="btn btn-danger sm" *ngIf="removecou" (click)="removecoupon()"
											>Remove</button>
									</div>
								</div>
							</form>

						</div>

					</div>
				</div>
				<div class="col-lg-12 pl-0 mt-10" style=" padding: 15px;border: 1px solid rgb(214, 214, 214);padding-bottom: 0px;">
					<p style="font-size:0.8rem; font-weight: 600;color: brown;margin: 0px; padding-left: 15px;">
						Expected Delivery date: {{Summery?.expected_delivery_date}}</p>
					<div class="cart-table-container pl-40" *ngIf="!cartloader">
						<table id="producttable" class="cart-table" *ngIf="(Cart.length!==0)" style="border: none;">
							<tbody *ngFor="let a of Cart">
								<tr *ngFor="let b of a.cart_items">
									<td class="product-thumbnail">
										<a>
											<img src="https://neophroncrm.com/spiceclubnew/public/{{b.product_thumbnail_image}}"
												class="img-fluid" alt="">
										</a>
									</td>
									<td class="product-name">
										<a style="text-decoration: none;">{{b.product_name}}</a>
										<a
											style="color:rgb(2, 183, 207);font-size: 0.7rem;font-weight: 400;">{{b.brand_name}}</a>
										<a style="font-size: 0.7rem;font-weight: 100; text-decoration:none;color: rgb(75, 75, 75);"
											*ngIf="b.attribute.length!==0">
											<span>	{{b.attribute[0]?.title}} </span>{{b.variation}} (pack of 1)  </a>
										<a style="font-size: 0.7rem;font-weight: 100;text-decoration: line-through;color: gray;"
											*ngIf="b.pricestring!==b.stroked_price">
											<span>MRP</span>  {{b.stroked_price}}</a>
										<a style="font-weight: 600; color:rgb(53, 53, 53);font-size: 0.7rem ">
											<span>Price</span>  <span
												style="color: red;">  Rs.{{b.price}}</span>
											&nbsp;&nbsp;
										</a>
										<a style="font-size: 0.7rem;font-weight: 100;text-decoration: none;color: gray;"
											*ngIf="b.discount!==0">
											you save Rs.{{b.discount}} {{b.discount_percentage}}% </a>
										<a style="font-size: 0.7rem;font-weight: 100;color: rgb(53, 53, 53);">
											<span>Quantity </span>{{b.quantity}} </a>
										<a style="font-weight: 600;
											color: rgb(53, 53, 53);font-size: 0.7rem ">Total<span style="color: red;">Rs.{{b.total}}</span>
											&nbsp;&nbsp;
										</a>
										<a style="margin-top: 20px;">
											<p style="font-size: 0.7rem;font-weight: 600;margin: 0px;color: #484848;">subscribe & save:
											</p>
											<input type="checkbox">
											<span style="font-size: 0.7rem;font-weight: 100;"> Save % now and _% in
												future</span>
										</a>
									</td>



									<td class="product-quantity" style="padding-left: 1px; padding: 20px;">

									</td>

									<td class="total-price" id="price">

									</td>

									<td class="product-remove">

									</td>
								</tr>

							</tbody>
						</table>

					</div>

					<div class="cart-table-container mt-20" *ngIf="cartloader">
						<div id="tit" style="width: 100%;">
							<ngx-skeleton-loader count="4"
								[theme]="{  'border-radius': '4px',  height: '80px',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
							</ngx-skeleton-loader>
						</div>

					</div>

				</div>
			</div>

			<div class="col-lg-3 mb-10 p-0" style="background-color: white; ">
				<div class="row mb-10">
					<div class="skll" *ngIf="Summeryload">
						<ngx-skeleton-loader count="1" [theme]="{ 
										'border-radius': '5px',
										height: '350px',
										'background-color': '##b9b8b8',
										border: '1px solid white'
									  }" animation="pulse"></ngx-skeleton-loader>
					</div>
					<div *ngIf="!Summeryload" id="secondiv">
						<div class="cart-calculation-area" *ngIf="(Cart?.length!==0)"
							style="background-color: white;padding: 20px;">
							<p style="font-size:0.8rem; font-weight: 600;margin-bottom: 0px;">Order Summary</p>
							<table class="cart-calculation-table mb-20" id="summerydiv">
								<tr *ngIf="couponn==true">
									<th>Coupon applied :</th>
									<td class="subtotal">{{(Summery?.coupon_code)}}</td>
								</tr>
								<tr>
									<th>Products:</th>
									<td class="subtotal" >{{subtot}}</td>
								</tr>
								<tr>
									<th>Delivery charges:</th>
									<td class="subtotal" >{{Summery?.shipping_cost}}</td>
								</tr>

								<tr style="border-bottom: 1px solid rgb(214, 214, 214);">
									<th>Discount: </th>
									<td class="subtotal">{{Summery?.discount}}</td>
								</tr>

								<tr id="total" style="border-bottom: 1px solid rgb(214, 214, 214);">
									<th id="title">Total Order value: </th>
									<td class="">{{Summery?.grand_total}}</td>
								</tr>
								<!-- <tr>
											<th>SHIPPING COST</th>
											<td class="subtotal">{{Summery?.shipping_cost}}</td>
										</tr> -->
								<!-- <tr>
											<th>Tax</th>
											<td class="subtotal">{{Summery?.tax}}</td>
										</tr> -->
								<!-- <tr>
											<th>SUBTOTAL</th>
											<td class="subtotal">{{subtot}}</td>
										</tr> -->
							</table>
							<div>
								<span *ngIf="Summery?.discount_percentage!==0||couponn==true">
									<p style="color:rgb(207, 38, 8);font-size:0.9rem;font-weight: 600;">You're saving
										{{Summery?.discount}} ({{Summery?.discount_percentage}}%) with this order</p>
								</span>

								<span id="ordersave">
									<p *ngIf="couponn==true"><i class="bi bi-star-fill" style="color:red;"></i> Coupan
									</p>
									<p *ngIf="Summery?.discount_percentage!==0"><i class="bi bi-star-fill" style="color:red;"></i>
										Product discount</p>
								</span>
							</div>
							<div class="cart-calculation-button text-center mt-20">
								<button class="lezada-button lezada-button--medium" *ngIf="!loadingg"
									(click)="finallyplaceorder()" id="placebtn">Place Order</button>
								<button class="lezada-button lezada-button--medium mt-10" type="button"
									style=" display: block;margin: 0 auto;" *ngIf="loadingg"><i
										class="fa fa-spinner fa-spin"></i>&nbsp;</button>
							</div>
						</div>
					</div>
					<div id="secondiv" style="padding: 8px; text-align: center;background-color: #eee8e8;">
						<p style="font-size: 0.7rem;">
							<a style="color:rgb(92, 201, 252);" routerLink="/faq">Order FAQs</a> from Help & Suppprt
						</p>
					</div>
				</div>
			</div>
			<div class="col-12" style="padding: 20px;padding-top: 0px;">
				<p style="font-size:0.7rem;color: gray;">After placing the order email and SMS notification will
					triggered to your registred mail box and mobile number. If the order is placed with netbanking,
					cards, UPI complete the payment process with your banking credentials,
					then if the order is place on COD ,pay the order amount during the delivery of the goods </p>
			</div>

		</div>
	</div>
</div>


<!--=======  breadcrumb area =======-->

<!-- <button (click)="payWithRazor(21)">razorpay</button>
	<button (click)="initPay()">razorpay</button>
	<button (click)="pay()">Pay</button> -->

<!-- <button (click)="billdesk2()"> BILLDESK payy</button>
	<button (click)="billdesk()"> BILLDESK payy server</button> -->



<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#e00707" type="ball-scale-multiple">
	<p style="font-size: 20px; color: white">Please wait...</p>
</ngx-spinner>



<!-- old -->
<!-- <div class="checkout-page-area mb-130">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="lezada-form">
					<form action="#" class="checkout-form" *ngIf="!nocart">
						<div class="row row-40">
							<div class="col-lg-7 mb-20">
								<div id="billing-form" class="mb-40" *ngIf="shipadds">
									<h4 class="checkout-title">Shipping Address</h4>
							
									<div class="addres1" style="max-height:550px;
									overflow-y:auto;">
										<form [formGroup]="addresssss">

											<div class="addresss mb-2" *ngFor="let Connectdtls of Address; let i=index"
												style=" border:1px solid #e0e0e0; padding: 15px; padding-left: 20px; ">
												<span style="margin-left: auto;">
													<input type="radio" class="radio" value="{{Connectdtls.id}}"
														data-shipping name="radio"
														[checked]="Connectdtls.set_default== 1"
														(click)="shippingcost(Connectdtls)">
													<label for="shiping_address{{i}}" style="font-size: small;"> &nbsp;
														Use
														address{{i+1}} as shipping</label> </span>

												<p style="margin-bottom: 0px; margin-top: 10px;"> <strong>{{username}}
													</strong> <strong> {{Connectdtls.phone}}</strong> </p>
												<span id="sssp"> {{Connectdtls.address}} , {{Connectdtls.city_name}} ,
													{{Connectdtls.state_name}} ,
													{{Connectdtls.country_name}} -</span>
												<p><strong> {{Connectdtls.postal_code}}</strong> </p>
											</div>
										</form>
									</div>
									<div class="checktotal">
										<ngx-skeleton-loader count="3" [theme]="{ 
											'border-radius': '5px',
											height: '200px',
											'background-color': '##b9b8b8',
											border: '1px solid white'
										  }" animation="pulse" *ngIf="loader"></ngx-skeleton-loader>
									</div>

						

									<div class="col-12 mb-20 mt-20">
										<div class="check-box">
											<input type="checkbox" id="create_account" routerLink="/address" />
											<label for="create_account"> To edit Address <address></address>
											</label>
										</div>
										<div class="check-box">
											<input type="checkbox" id="shiping_address" data-shipping
												(click)="opennewaddress()">
											<label for="shiping_address">Use new Address</label>
										</div>
									</div>
								</div>



						
								<div id="shipping-formm" class="mb-40" *ngIf="shippaddress" style="padding-top: 20px;">
									<h4 class="checkout-title">Shipping Address</h4>
									<form [formGroup]="register" (ngSubmit)="onAddRowSave(register)">
										<div class="row">

											<div class="col-md-6 col-12 mb-20">
												<label class="shipplable">Phone no<span
														class="text-danger">*</span></label>
												<input type="text" placeholder="Phone number" formControlName="phone"
													required>
											</div>


											<div class="col-md-6 col-12 mb-20">
												<label class="shipplable">Country<span
														class="text-danger">*</span></label>
												<select class="nice-select" (change)="selectcountry($event)"
													formControlName="country">
													<option value="" selected disabled>select</option>
													<option *ngFor="let tab of Country" [value]="tab.id">{{tab.name}}
													</option>
												</select>
											</div>
											<div class="col-12 mb-20">
												<label class="shipplable">Address<span
														class="text-danger">*</span></label>
												<input type="text" placeholder="Address line 1"
													formControlName="address">
												<input type="text" placeholder="Address line 2"
													formControlName="address">
											</div>

											<div class="col-md-6 col-12 mb-20">
												<label class="shipplable">State<span
														class="text-danger">*</span></label>
												<select class="nice-select" (change)="selectstate($event)"
													formControlName="state">
													<option value="" selected disabled>select</option>
													<option *ngFor="let tab of State" [value]="tab.id">{{tab.name}}
													</option>
												</select>
									
											</div>



										
											<div class="col-md-6 col-12 mb-20">
												<label class="shipplable">Town/City<span
														class="text-danger">*</span></label>
											
												<select class="nice-select" formControlName="city" required>
													<option *ngFor="let mem of City" [value]="mem.id">
														{{mem.name}}
													</option>
												</select>
											</div>


											<div class="col-md-6 col-12 mb-20">
												<label class="shipplable">Zip Code<span
														class="text-danger">*</span></label>
												<input type="text" placeholder="Zip Code" formControlName="postal_code">
											</div>

										</div>
										<h6 class="form-text text-danger" style="height: 12px;">
											<span *ngIf="error3">{{error3}}</span>
										</h6>
										<button class="lezada-button lezada-button--medium mt-10" style=" display: block;
										margin: 0 auto;" type="submit">Save
											address </button>
									</form>
								</div>
							</div>

							<div class="col-lg-5">
								<div class="row">

								
									<div class="col-12 mb-10">

										<h4 class="checkout-title">Shopping cart</h4>

										<div class="checkout-cart-total">
											<h4>Product <span>Total</span></h4>
									
											<ul style="padding-left: 0px;">
												<div *ngFor="let a of Cart">
													<li *ngFor="let b of a.cart_items">
														<div class="row">
															<div id="checkkk" class="col-10">{{b.product_name}} <span
																	style="float: none; color: blue;">({{b.quantity}})</span>
															</div>
															<div class="col-2"><span>Rs.{{b.total}}</span> </div>
														</div>

													</li>
												</div>
											</ul>
											<p>Discount <span>{{dis}}</span></p>
											<p>Sub Total <span>{{subtot}}</span></p>
											<p>Shipping Fee <span>{{shippingfee}}</span></p>
											<p>Tax <span>{{tax}}</span></p>
											<h4>Grand Total <span>{{Grandtot}}</span></h4>
										</div>
									</div>

							
									<div class="col-12">
										<h4 class="checkout-title">Payment Method</h4>
										<form [formGroup]="terms" (ngSubmit)="placeorder(terms)">
											<div class="checkout-payment-method" *ngFor="let b of Paymenttype">
												<div class="single-method">
													<input type="radio" id="{{b.payment_type}}"
														[(ngModel)]="radioSelected" value="{{b.payment_type_key}}"
														(change)="onItemChange(b.payment_type_key)"
														formControlName="type">
													<label for="{{b.payment_type}}">{{b.title}}</label>

												</div>
											</div>

									
											<h6 class="form-text text-danger" style="height: 12px; text-align: center;">
												<span *ngIf="error2" style="color: red;">{{error2}}</span>
											</h6>

											<button class="lezada-button lezada-button--medium mt-10" type="submit"
												style=" display: block;
												margin: 0 auto;" *ngIf="!loadingg">Place order</button>
											<button class="lezada-button lezada-button--medium mt-10" type="button"
												style=" display: block;margin: 0 auto;" *ngIf="loadingg"><i
													class="fa fa-spinner fa-spin"></i>&nbsp;</button>
										</form>


									</div>
								</div>
							</div>
						</div>
					</form>

					<div id="pggg" *ngIf="nocart" style=" display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 200px;
                    border: 3px solid rgb(139, 139, 139);">
						<div>
							<h5>
								There is no product in checkout
							</h5>
							<p style="color: #474747 ;
							font-family: 'Poppins', sans-serif;"> If you want to continue payment go to <a routerLink="/orders"> Orders </a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->