.shipplable{
    opacity: 0.8;
}
.nice-select.ng-option{
    color: red;
}
.nice-select.ng-dropdown-panel .scroll-host {
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    display: block;
    margin-top: 10px;
    -webkit-overflow-scrolling: touch;
}
.py-4:focus {
    background:  #f2f2f2;;
  
}
/* #f2f2f2; */
.breadcrumb-list__item{
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
span{
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
label{
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.checkout-title{
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
input.radio {width: auto;}

.billing-form{
   
    max-height:550px;
    overflow-y:auto;
}
.ng-dropdown-panel .scroll-host {
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    display: block;
    -webkit-overflow-scrolling: touch;
    margin-top: 20px;
}
.ng-dropdown-panel .ng-dropdown-panel-items {
    display: block;
    height: auto;
    box-sizing: border-box;
    max-height: 160px;
    overflow-y: auto;
    margin-top: 20px;
}