div {
    font-family: Arial, Helvetica, sans-serif !important;
    letter-spacing: 0;
}


#paymethoddiv{
    padding-top:20px !important;
}
#addaddressdiv{
    border-bottom: 1px solid#e7e7e7;
    padding-bottom: 16px;
    padding-left: 20px;
}
#paymethoddiv .form-text{
    height: 12px;padding-right: 30px;font-weight: 200;
}
.form-text span{
    color: red;
    /* padding-left: 10px; */
    /* margin-left: 20px; */
    background-color: #eaf7ff;
    box-shadow: 0px 1px 7px #e14848;
    font-size: 0.8rem;
    padding: 5px;
    position: relative;
    bottom: 20px;
    right: -14px;
    font-weight: 700;
    border-radius: 15px;

}
.product-name span {
    color: #5c5c5c;
    font-weight: 600;
}
.headline{
    font-size:0.8rem; 
    font-weight:600;
     margin-bottom: 8px;
     color: #ce2127
}
#apply {
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 0.7rem;
    margin-top: 0px;
    background-color: #ce2127;
    border-color: #ce2127;
}

#placebtn {
    padding: 1px 45px;
    margin: 0 auto;
    border-radius: 15px;
    letter-spacing: 0rem;
}

.cart-calculation-table th {
    padding: 10px 18px;
    line-height: 14px;
    font-size: 13px;

    line-height: 11px;
    padding: 0;
    padding-left: 10px;
    letter-spacing: 0.5px;
    text-transform: none;
}

input[type="checkbox"] {
    vertical-align: middle;
}

.cart-table td.product-name a {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: #545454;
}

.cart-table th {
    font-size: 13px;
}

#producttable td {
    padding-top: 20px;
    color: #140f0f;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    vertical-align: top;

}

#ordersave p {
    margin-bottom: 2px;
    font-size: 0.8rem;
}

#total #title,
td {
    color: rgb(207, 38, 8);
    font-size: 1rem;
    font-weight: 700;
    text-transform: none;
}
#title{
    
    padding-top:10px ;
    padding-bottom: 10px;
}
.titlevalue{
   
    padding-top:10px ;
    padding-bottom: 10px;
}

.cart-calculation-table th {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 5px;
    padding: 0px;
    letter-spacing: 0px;
    text-transform: none;
    color: #222222;
    background-color: transparent;
}

#summerydiv th {
    font-size: 0.8rem;
}

#firstdiv {
    margin: 20px;
    margin-top: 0px;
    background-color: white;
    margin-bottom: 10px;
    /* border: 1px solid rgb(214, 214, 214); */
}

#secondiv {
    margin: 20px;
    margin-top: 0px;
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    margin-bottom: 0px;
}

#addressreview p {
    margin-bottom: 0px;
}

h6 {
    font-weight: 600;
    color: #ce2127;
    margin-top: 10px;
    margin-bottom: 0px;
}

#coldiv {
    border: 1px solid#e7e7e7;
    margin: 10px;
    padding: 20px;
    padding-top: 5px
}

#addresss {
    padding: 0px;
    padding-left: 0px;
}

.addresss {
    border: 1px solid #e7e7e7;
    padding: 15px;
    padding-left: 20px;
}

.addresss.active {
    border: 1px solid #df0e07;
    padding: 15px;
    padding-left: 20px;
    box-shadow: 0px 1px 7px #e14848;
}

.nice-select {
    height: 1.5rem;

}
.nice-select option{
    color: #7e7a7a;
}

#btns {
    text-align: center;
}

#btns button {
    margin-left: 17px;
    margin-right: 17px;
}

#addressdiv {
    height: 130px;
    max-height: 130px;
    overflow: auto;
    display: grid;
}

#addressdiv p {
    color: #363434;
}

#addressdiv::-webkit-scrollbar {
    display: none;
}

#newaddbtn {
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 0.8rem;
    background-color: #e7f6ff;
    border-color: #e1f1fb;
    box-shadow: 0px 1px 7px #afafaf;
    font-weight: 600;
    color: #404040;
}

#addressbtn {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 0.7rem;
    background-color: #eaf7ff;
    border-color: #e1f1fb;
    box-shadow: 0px 1px 7px #afafaf;
}
.lezada-button{
    font-weight: 600;
    padding: 2px 50px;
    font-size: small;
    letter-spacing: 0px;
  }
/* #addressbtn.active{
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.8rem;
    background-color:#d3dce2;
    border-color: #e1f1fb;
    box-shadow: 0px 1px 7px #afafaf;
} */
@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1310px;
    }
}

/* //new */
.col-2 span {
    color: #140f0f;
    font-family: Arial, Helvetica, sans-serif;
}

.shipplable {
    opacity: 0.8;
}

.nice-select.ng-option {
    color: red;
}

.nice-select.ng-dropdown-panel .scroll-host {
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    display: block;
    margin-top: 10px;
    -webkit-overflow-scrolling: touch;
}

.py-4:focus {
    background: #f2f2f2;
    ;

}

#checkkk {
    color: #242323;
    font-family: Arial, Helvetica, sans-serif;
}

/* #f2f2f2; */
.breadcrumb-list__item {
    color: #140f0f;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    color: #140f0f;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: #140f0f;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    color: #140f0f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.checkout-title {
    color: #140f0f;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

input {
    color: #140f0f;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    font-size: 0.8rem;
    /* height: 2rem; */
    color: #7e7a7a;
    /* height: 35px; */

}
select{
    font-size: 0.8rem;
    /* height: 2rem; */
    color: #7e7a7a;
  
}

input::placeholder {
    font: 0.7rem sans-serif;
    padding-left: 10px;
}

select {
    color: gray;
    /* color: #140f0f; */
    font-family: Arial, Helvetica, sans-serif;
}

strong {
    color: #140f0f;
    font-family: Arial, Helvetica, sans-serif;
}

input.radio {
    width: auto;
}

.billing-form {

    max-height: 550px;
    overflow-y: auto;
}

.ng-dropdown-panel.ng-dropdown-panel .scroll-host {
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    display: block;
    -webkit-overflow-scrolling: touch;
    background-color: #f1f1f1;
    margin-top: 20px;
    max-height: 160px;
}

.ng-dropdown-panel .ng-dropdown-panel-items {
    display: block;
    height: auto;
    box-sizing: border-box;
    max-height: 160px;
    overflow-y: auto;
    margin-top: 20px;
    background-color: #f1f1f1;
}

.ng-select div .ng-dropdown-panel .ng-dropdown-panel-items {
    display: block;
    height: auto;
    box-sizing: border-box;
    max-height: 140px;
    overflow-y: auto;
    background-color: #f1f1f1;
}

.ng-dropdown-panel .scroll-host {
    background-color: #f1f1f1;
}

.checkout-payment-method {
    padding: 7px;
    padding-top: 2px;
    padding-bottom: 10px;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ff0800;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #ffa500;
}

p strong {
    color: #3a3636;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

#sssp {
    color: #140f0f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.firstdetaildiv{
    display: flex; padding: 15px;border: 1px solid rgb(214, 214, 214);
}
/* mob */
@media (max-width: 992px) {
    .firstdetaildiv{
        display: block; padding: 15px;border: 1px solid rgb(214, 214, 214);
    }
.reviewmaindiv{
    padding: 10px;
}
#firstdiv {
    margin: 0px;
    margin-top: 0px;
    background-color: white;
    margin-bottom: 10px;
    /* border: 1px solid rgb(214, 214, 214); */
}

#secondiv {
    margin: 0px;
    margin-top: 0px;
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    margin-bottom: 0px;
}
  
  }