.shipplable{
    opacity: 0.8;
}
.nice-select.ng-option{
    color: red;
}
.nice-select.ng-dropdown-panel .scroll-host {
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    display: block;
    margin-top: 10px;
    -webkit-overflow-scrolling: touch;
}
.py-4:focus {
    background:  #f2f2f2;;
  
}
/* #f2f2f2; */
.breadcrumb-list__item{
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
span{
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
label{
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.checkout-title{
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}