/* .carousel-item {
    transition: transform 2.6s ease-in-out;
  }
  
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: opacity 1s 2.6s;
  } */

  .single-product__floating-badges {
    position: absolute;
    z-index: 9;
    top: 0px;
    left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.single-product__floating-badges span {
  font-size: 12px;
  /* font-weight: 500; */
  line-height: 31.5px;
  z-index: 3;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: lowercase;
  color: #ffffff;
  border-radius: 100%;
}
  .title p{
    color: #474747 ;
    font-family: 'Poppins', sans-serif;
  }
  .title a{
    color: #474747 ;
    font-family: 'Poppins', sans-serif;
  }
  a{
    font-family: 'Poppins', sans-serif;
  }
  p span{
    font-family: 'Poppins', sans-serif;
  }
  p{
    font-family: 'Poppins', sans-serif;
  }
  input{
    color: #474747 ;
    font-family: 'Poppins', sans-serif;
  }
  .avialable-amount{
    color: #474747 ;
    font-family: 'Poppins', sans-serif;
  }
  .single-size{
    font-family: 'Poppins', sans-serif;
  }s
  .ng-image-slider .ng-image-slider-container .main .main-inner .img-div .caption {
    font-family: 'Poppins', sans-serif;
  }
element.style {
  height: 300px;
}

[_nghost-hlv-c108] {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
  z-index: auto;
  transform-origin: top left;
  box-sizing: border-box;
}



.section-title h1 {
    font-size: 30px;
    line-height: 35px;
    margin-top: -10px;
    margin-bottom: 10px;
}

element.style {
  object-fit: cover;
  padding-left: 26px;
  padding-right: 15px;
  margin-top: 20px;
  height: 250px;
  width: 430px;
}

.carousel .carousel-container .carousel-cells .carousel-cell {
  height: 250px;
  width: 430px;
}


 .carousel-cell element.style { 
  height: 350px;
  width:400px;
  transform: translateX(0px);
}
/* @media(max-width:768px){
  .carousel .carousel-cell{
 
  height:auto
   }
  } */

  .slick-slider {  
    width: auto;  
    margin: auto;  
    
  } 

  
.slider.round {
  border-radius: none;
}

.sli{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 39px;
  
}

 .main {
  overflow: hidden;
  position: absolute;
  height: 200px;
  /* width: 100%; */
}
a.next.icons.next-icon {
  text-decoration: none;
 }
 @media (max-width : 650px) {
	#bestbtn a {
		text-align: center;
    margin-bottom: 10px;
	}
  }

  @media (max-width : 650px) {
    #bestbtn a {
      text-align: center;
      margin-bottom: 10px;
    }
  
    }
    @media (max-width : 1200px) {  
      .sli{
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 20px;   
      }
      }
       @media (max-width : 700px) {
      .carousel-item{
        height: 200px;      
      }
      #lazyy{
        height: 200px;
      }
        } 
   /* to remove arroys form input box */
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
   }
   input[type=number] {
     -moz-appearance: textfield;
   }
   .shop-product__block__value .shop-product-size-list .single-size.active{
    font-size: 13px;
    line-height: 22px;
    margin-right: 11px;
    cursor: pointer;
    color: #ffffff;
    padding: 4px;
    border-radius: 4px;
    background-color: #f14014;
}

.shop-product__block__value .shop-product-size-list .single-size {
  background-color: #cc3c2200;
  color:#f14014;
  border: 1px solid red;
}

#offtag {
  display: block;
  width: 120px;
  height: 24px;
  background-color: #ff8100;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  text-align: center;
  line-height: 24px;
  right: -30px;
  top: 20px;
  font-family: arial;
  font-size: 10px;
  
}
#offtag1 {
  display: block;
  width: 120px;
  height: 24px;
  background-color: #ff8100;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  text-align: center;
  line-height: 24px;
  right: -160px;
  top: 20px;
  font-family: arial;
  font-size: 10px;
}
/* <span id="offtag" *ngIf="img.deal_of_day!=0">Deal of the day</span>
   <span id="offtag" *ngIf="img.deal_of_month!=0">Deal of the month</span>
  <span id="offtag" *ngIf="img.todays_deal!=0">Today's deal</span> */
  .imglazy{
    height: 240px;
    width: 200px;
    position: relative;
    overflow: hidden;
  }
  @media (max-width : 575px) {
    .single-product__image {
      text-align: -webkit-center;
    }
    .single-product__content{
      text-align: -webkit-center;
    }
   #vieww{
    margin-left: 100px;
  }
    }
    @media (max-width : 575px) {
      #sklbest {
        text-align: -webkit-center;
      }
      
    
      }
    @media only screen and (min-width: 768px) {
      /* For desktop: */
      .col-1 {width: 8.33%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 25%;}
    }
    @media (max-width : 800px) {  
      
      .py-4{
          margin-left: 0px;
          margin-right: 0px;
      }
        } 
    @media (min-width : 800px) {  
        
          .py-4{
              margin-left: 20px;
              margin-right: 20px;
          }
            } 