/* .carousel-item {
    transition: transform 2.6s ease-in-out;
  }
  
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: opacity 1s 2.6s;
    
  } */


  /* // */
  .multi-testimonial-single-item__text::-webkit-scrollbar {
    display: none;
}

  .col-lg-2 {
    flex: 0 0 auto;
    width: 15.666667%;
}
  .btn-primary:hover {
    color: #fff;
    background-color: #ce2127;
    border-color:  #ce2127;
}
  .btn-primary{
    color: #ce2127;
    background-color: #ffffff;
    border-color: #ce2127;
    font-weight: 600;
}
  .discounted-price{
    color: green;
    font-weight: 600;
    font-size: 0.8rem;
  }
  .single-product__content .price .discounted-price {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #333333;
}
.single-product__content{
  text-align: center;
}

.titttle {
  line-height: 1.6rem;
  overflow: hidden;
  display: '-webkit-box';
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 3.2rem;
}

.single-product__content {
  height: 130px;
}
@media (min-width: 992px) {
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  }
  @media (max-width: 992px) {
    .img-fluid {
      max-width: 100%;
      height: 200px;
    }
    }
body {
  background-color: #93939338;
  ;
}

.single-category__image:after {

  border: 0px solid #ffffff;
}

.imglazy {
  height: 200px;
  width: 200px;
  position: relative;
  overflow: hidden;
}

.carousall {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  /* border: 1px solid rgb(206, 202, 202);  */
  height: auto;
}

.carousall1 {
  background-color: rgb(255, 255, 255);
  padding: 0px;

  height: 230px;
  margin: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.carousall2 {
  background-color: rgb(255, 255, 255);
  padding: 20px;

  height: 330px;
  margin: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.carousall3 {
  background-color: rgb(255, 255, 255);
  padding: 15px;

  height: auto;
  margin: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.carousall5 {
  background-color: rgb(255, 255, 255);
  padding: 20px;

  height: 350px;
  margin: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.carousall6 {
  background-color: rgb(255, 255, 255);
  padding: 0px;
  /* border: 1px solid rgb(206, 202, 202); */
  height: 240px;
  margin: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.HH6 {
  color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: black;
  margin-left: -30px;
}

#topheader {
  margin-top: 100px;
}

#bestimg {
  position: relative;
}

.colll {
  position: absolute;
  bottom: 30px;
  left: 130px;
}

.single-product__floating-badges {
  position: absolute;
  z-index: 9;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.single-product__floating-badges span {
  font-size: 12px;
  /* font-weight: 500; */
  line-height: 31.5px;
  z-index: 3;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: lowercase;
  color: #ffffff;
  border-radius: 100%;
}

.title p {
  color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

.title a {
  color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

.title h3 a {
  font-size: 13px;
  color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  text-decoration: none;
}

a {

  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

p span {
 
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

p {
 
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

h6 {
 
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

input {
  color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

.avialable-amount {
  color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

.single-size {
  
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

s .ng-image-slider .ng-image-slider-container .main .main-inner .img-div .caption {

  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;

}

element.style {
  height: 300px;
}

[_nghost-hlv-c108] {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
  z-index: auto;
  transform-origin: top left;
  box-sizing: border-box;
}



.section-title h1 {
  font-size: 25px;
  line-height: 35px;
  margin-top: -10px;
  margin-bottom: 10px;
   color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  color: #000000;
  ;

}


element.style {
  object-fit: cover;
  padding-left: 26px;
  padding-right: 15px;
  margin-top: 20px;
  height: 250px;
  width: 430px;
}

.carousel .carousel-container .carousel-cells .carousel-cell {
  height: 250px;
  width: 430px;
}
#carr .carousel-cell {
  /* height: 250px; */
  width: auto;
  
}
.carousel-cells{
  padding-left: 100px;
}
[_nghost-pul-c115] .carousel-container[_ngcontent-pul-c115] {
  width: 900px;
}
.carousel-cell element.style {
  height: 350px;
  width: 400px;
  transform: translateX(0px);
}
#carr{
  width: 210px !important;
}
/* @media(max-width:768px){
  .carousel .carousel-cell{
 
  height:auto
   }
  } */

.slick-slider {
  width: auto;
  margin: auto;

}


.slider.round {
  border-radius: none;
}

.sli {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 39px;

}

.main {
  overflow: hidden;
  position: absolute;
  height: 200px;
  /* width: 100%; */
}

a.next.icons.next-icon {
  text-decoration: none;
}

@media (min-width: 992px) {
.img-fluid {
  max-width: 100%;
  height: auto;
}
}
@media (max-width: 992px) {
  .img-fluid {
    max-width: 100%;
    height: 200px;
  }
  }

@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 23%;
  }
}

@media (max-width : 650px) {
  #bestbtn a {
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (max-width : 650px) {
  #bestbtn a {
    text-align: center;
    margin-bottom: 10px;
  }

}

@media (max-width : 1200px) {
  .sli {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 20px;
  }
}

@media (max-width : 700px) {
  .carousel-item {
    height: 200px;
  }

  #lazyy {
    height: 200px;
  }
}

/* to remove arroys form input box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.shop-product__block__value .shop-product-size-list .single-size.active {
  font-size: 11px;
  line-height: 22px;
  margin-right: 5px;
  cursor: pointer;
  color: #ffffff;
  padding: 4px;
  border-radius: 4px;
  background-color: #f14014;
}

.shop-product__block__value .shop-product-size-list .single-size {
  font-size: 11px;
  line-height: 22px;
  margin-right: 5px;
  background-color: #cc3c2200;
  color: #f14014;
  border: 1px solid red;
}

#offtag {
  display: block;
  width: 120px;
  height: 24px;
  background-color: #ff8100;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(310deg);
  position: absolute;
  text-align: center;
  line-height: 24px;
  right: -30px;
  top: 150px;
  font-family: arial;
  font-size: 10px;


}

#offtag2 {
  display: block;
  width: 120px;
  height: 24px;
  background-color: #ff8100;
  transform: rotate(312deg);
  position: absolute;
  /* padding-left: 10px; */
  line-height: 24px;
  right: -30px;
  top: 104px;
  font-family: arial;
  font-size: 10px;
  text-align: center;

}

#offtag1 {
  display: block;
  width: 120px;
  height: 24px;
  background-color: #ff8100;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(310deg);
  position: absolute;
  text-align: center;
  line-height: 24px;
  right: -30px;
  top: 190px;
  font-family: arial;
  font-size: 10px;
}

/* <span id="offtag" *ngIf="img.deal_of_day!=0">Deal of the day</span>
   <span id="offtag" *ngIf="img.deal_of_month!=0">Deal of the month</span>
  <span id="offtag" *ngIf="img.todays_deal!=0">Today's deal</span> */
.imglazy {
  height: 240px;
  width: 95%;
  position: relative;
  overflow: hidden;
}
.imglaz {
  height: 152px;
  width: 95%;
  position: relative;
  overflow: hidden;
}

@media (max-width : 575px) {
  .single-product__image {
    text-align: -webkit-center;
  }

  .single-product__content {
    text-align: -webkit-center;
  }

  a #vieww {
    margin-left: 100px;
    line-height: 1.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 3.2rem;
  }
}

@media (max-width : 575px) {
  #sklbest {
    text-align: -webkit-center;
  }


}

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }
}

@media (max-width : 800px) {

  .py-4 {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (min-width : 800px) {

  .py-4 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* brand*/
.ng-image-slider .ng-image-slider-container .main .main-inner .img-div {
  width: 205px;
  height: 100%;
  margin-right: 3px;
  margin-left: 3px;
  position: relative;
  border-radius: 75px !important;
  display: inline-block;
  box-shadow: inset 0 0 0px rgb(0 0 0 / 0%), 0 0 0px rgb(0 0 0 / 0%);
}

.ng-image-slider .ng-image-slider-container .main .main-inner .img-div img,
.ng-image-slider .ng-image-slider-container .main .main-inner .img-div video {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  border-radius: 75px;
}

/* carousal test */


/* normalize */