:host ::ng-deep .ng-image-slider .ng-image-slider-container .main .main-inner {
  /* margin-left: 0px;
  margin-left: -652px;
  transition: all 1s ease-in-out 0s; */

  /* margin-left: -70px !important;
  width: 1236px  !important;
  transition: none 0s ease 0s ; */

}

.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 5px 5px 5px 10px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
}


:host ::ng-deep .active.carousel-item,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 1;
  animation: blink step-start infinite;
  transition: 0s 0s animation;
  -webkit-animation: blink 2s;

}

:host ::ng-deep .carousel-cells .carousel-cell {
  width: 100%;
  height: 97% !important;
  margin-top: 4px;
  position: absolute;
  overflow: hidden;
}

.single-product__content .title h3 a {
  line-height: 1.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 3.2rem;
  height: 2.4rem;
  margin-bottom: 2px;
  font-weight: 600;
  color: #4a4a4a;
}

.single-product:hover>.single-product__image .imglaz .image-wrap {

  width: 103%;

}


  

.exploreimgdiv img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
/* .exploreimgdiv:hover>#exp-col .exploreimgdiv {
  height: 80px;
  width: 80px;
} */


@keyframes blink {

  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}


/* slider above */
.title h3 {
  padding-bottom: 0px;
}

.ng-image-slider .ng-image-slider-container .main .main-inner .img-div {}

input,
select,
textarea {
  color: rgb(49, 49, 49) !important;
}

#shopnowicon {
  background-color: transparent;
  color: rgb(250, 248, 248) !important;
}

#shopnowbtn:hover>#shopnowicon {
  color: rgb(226, 8, 8) !important;
}

#shopnowbtn {
  text-decoration: none;
  text-transform: none;
}

#requirment {
  border-radius: 25px;
  color: white;
  background-color: #ff5e00;
  font-size: 0.9rem;
  padding: 0px 10px;
}

div {
  font-family: Arial, Helvetica, sans-serif !important;
  letter-spacing: 0;
}

.unhappy {
  /* position: absolute; */
  bottom: 0;
  padding: 12px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: rgb(79, 196, 216);
  text-align: center;
  margin-top: 10px;
}


#icondiv1 {
  padding: 10px;
}

#icondiv1 span p {
  font-size: 0.8rem;
  padding-top: 10px;

}


.iconDiv {
  width: 26%;
}

.dropdown-item {
  font-size: 0.6rem;
}

.dropdownBasic2 button {
  font-size: 0.8rem;
}

.btn {
  box-shadow: none !important
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1
}

input {

  border: 1px solid #d3d3d3;
  border-radius: 4px;
  font: sans-serif;
  font-family: Arial, Helvetica, sans-serif;
}

#addcarrtbtn:hover {
  color: #e61717;
  background-color: #ffffff;
  border-color: #e61717;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;

}

#addcarrtbtn:hover>.ion-ios-cart {
  color: #e61717;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

.ion-ios-cart {
  color: rgb(255, 255, 255);
}

#addcarrtbtn {
  color: rgb(255, 255, 255);
  background-color: #e61717;
  border-color: #e61717;
  font-size: 0.8rem;
  width: -webkit-fill-available;
  font-weight: 100;
  height: 24px;
  padding: 0.1rem 0.75rem;
  font-family: Arial, Helvetica, sans-serif;

}

.addcarrtbtn {
  color: rgb(255, 255, 255);
  background-color: #e61717;
  border-color: #e61717;
  font-size: 0.8rem;
  width: -webkit-fill-available;
  height: 24px;
  padding: 0.1rem 0.75rem;
  font-family: Arial, Helvetica, sans-serif;
}

.single-product input {
  height: 26px;
}

#enqueryformrow input::placeholder {
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(190, 190, 190);
}

#enqueryformrow textarea::placeholder {
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  color: rgb(190, 190, 190);
}



#greenbtn:hover {
  color: #69f01b;
  background-color: #ffffff;
  border-color: #69f01b;
}

#greenbtn {
  color: #fff;
  background-color: #1b54f000;
  border-color: #f7f8fa;
  font-weight: 400;
  margin-bottom: 2px;
  margin-top: 0px;
  font-size: 0.9rem;
  padding: 0.3rem 1rem;
  border-radius: 25px;
}

#brandslogocol {
  display: flex;
  justify-content: center;
}



.enqueryform label {
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #575757;
  padding-left: 10px;
}

.enqueryform input {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}

.enqueryform textarea {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}

#enqueryformrow div {
  margin-bottom: 10px;
}


#enqueryformrow {
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 7px;
}

.enqueryform input[type=text] {
  font-size: 0.8rem;
  width: 100%;
}

.enqueryform input[type=tel] {
  font-size: 0.8rem;
  width: 100%;
}

.enqueryform input[type=textarea] {
  font-size: 0.8rem;
  width: 100%;
}

.enqueryform textarea {
  font-size: 0.8rem;
  width: 100%;
}

.explore {
  padding: 20px;
}

.explore p {
  font-size: 0.7rem;
  padding-top: 10px;
}



:host ::ng-deep .carousel-arrow-prev {
  left: 0px;
}

:host ::ng-deep .ng-image-slider .ng-image-slider-container .main .prev {
  background-color: #ffffff00;
  ;
}

:host ::ng-deep .ng-image-slider .ng-image-slider-container .main .next {
  background-color: #ffffff00;
  ;
}

:host ::ng-deep .ng-image-slider .ng-image-slider-container .main .main-inner {
  margin-left: 0px;
  width: 1467px;
  margin-left: -110x;
  transition: none 0s ease 0s;
}

:host ::ng-deep .ng-image-slider .ng-image-slider-container .main .main-inner {
  margin-left: 0px;
  margin-left: -652px;
  transition: all 1s ease-in-out 0s;
}

.section-title {
  display: flex;
  justify-content: space-between;
}



#viewall:hover {
  color: #1b54f0;
  background-color: #ffffff;
  border-color: #1b54f0;
}

#viewall {
  color: #fff;
  background-color: #1b54f0;
  border-color: #1b54f0;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 0.8rem;
  padding: 0rem 1.5rem;
}

#shopnow:hover {
  color: #f01b5b;
  background-color: #ffffff;
  border-color: #f01b5b;
}

#shopnow {
  color: rgb(17, 16, 16);
  background-color: #f9e70a;
  border-color: #f9e70a;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 0.8rem;
  padding: 0rem 1.5rem;
}

.countdown-wrapper h3 {
  font-size: 39px;
  line-height: 58px;
  margin-top: 61px;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
}

#sliderrow3 {
  margin-left: -7px;
  margin-top: 7px;
}

#sliderrow3 a {
  padding: 0px;
}

#sliderrow2 {
  margin-left: -7px;
}

#sliderrow1 {
  background-color: white;
  margin-right: 2.4%;
  margin-left: 2.8%;
  margin-right: 3.7%;
  margin-left: 1.5%;
  width: 97%;
  padding: 0px;
  margin-left: 22px;
}


#sliderrow5 {
  margin-right: 2.4%;
  margin-left: 2.8%;
  margin-right: 3.7%;
  margin-left: 1.5%;
  width: 97%;
  padding: 0px;
  margin-left: 22px;
}

.btn-group-sm>.btn,
.btn-sm {
  padding: 0.15rem 0.9rem;
  font-size: .775rem;
  border-radius: 0.2rem;
}

.lez {
  border: 1px solid #f3efef;
  ;
  border-radius: 3px;
}

.subbanner {
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  padding: 0px;
  height: 156px;
}

.lez p {
  font-size: smaller;
  color: rgb(11, 131, 201);
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.lez label {
  font-size: 0.7rem;
  /* padding-right: 10px; */
  font-family: Arial, Helvetica, sans-serif;
  color: #877878;

}

.lez input,
input::placeholder {
  font: 0.8rem sans-serif;
  font-family: Arial, Helvetica, sans-serif;
}

.lez input {
  border: 1px solid #f1f1f1;
  border-radius: 3px;
}


/* // */
#slidermain {
  padding: 0px;
  margin: 0px;
}


.caroussellll {
  /* height: 300px; */
  z-index: unset;
  padding-left: 230px;
  padding-right: 250px;
}

.multi-testimonial-single-item__text::-webkit-scrollbar {
  display: none;
}


.btn-primary:hover {
  color: #fff;
  background-color: #ce2127;
  border-color: #ce2127;
}

.btn-primary {
  color: #ce2127;
  background-color: #ffffff;
  border-color: #ce2127;
  font-weight: 600;
}

.discounted-price {
  color: #44bf44;
  font-weight: 200;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;

}

.single-product__content .price .discounted-price {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #ce2127;
  ;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

.single-product__content {
  text-align: center;
}

.titttle {
  line-height: 1.6rem;
  overflow: hidden;
  display: '-webkit-box';
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 3.2rem;
}

.single-product__content {
  height: 100px;
}

/* web */
@media (min-width: 992px) {
  :host ::ng-deep .active.carousel-item
{
  width:100%; height: 620px;

}

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 15.666667%;
  }

  .caroussellll {
    /* height: 300px; */
    z-index: unset;
    padding-left: 94px;
    padding-right: 134px;
  }

  .header-bottom-container .header-right-container {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
  }

  .logo-with-offcanvas {
    margin-right: 60px;
  }

  #besthead {
    font-weight: 600;
    color: black;
    margin-left: 30px;
    display: inline;
  }

  #sliderrow4 {
    margin-right: 2.4%;
    margin-left: 2.8%;
    margin-right: 3.7%;
    margin-left: 1.5%;
    width: 97%;
    padding: 0px;
    margin-left: 22px;
  }
  .col-lg-8 {
    width: 65.88786777%;
    margin-right: 10px;
    padding: 0px;
  }
  .exploreimgdiv{
    height:75px; width:75px;  display:block; margin:auto;
   }
   .explore p {
    font-size: 0.7rem;
  }
   .explore p:hover{
    font-size: 0.7rem;
    color: #3262ff;
  } 
  .listcard {
    background-color: white;
    margin-left: 22px;
    width: 97%;
    padding: 0px;
  }
  .brandslogo {
    height: 100px;
    width: 150px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }
  
#brandsdiv {
  padding: 10px;
  width: 14%;
  padding-top: 25px;
  padding-bottom: 25px;
}
#tellussubmit{
  margin-top: 30px;
}

#deliverydivcol {
  display: flex;
  padding-left: 35px;
}
#deliverydiv {
  padding: 10px;
  /* width: 14%; */
  padding-top: 25px;
  padding-bottom: 25px;
}

#stickericon{
  height:50px; 
  width:50px
}
.recipebanner {
  margin-bottom: -130px;
  height: 300px;
}
#recipevideo{
  display:flex;
  padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
   padding-bottom: 10px;
   background-color: white;
}
#mainannouncediv{
  background-color:#ce2127; 
  display: flex;
}
#Announcementheader{
  display: flex; 
  justify-content: end;
}
#subsc input,
input::placeholder {
  font: sans-serif;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}
#subsc{
  padding-top: 40px;
}
#Anocheader{
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}
#Anoccontent{
  width:160px;
   padding: 25px;
}
#ourstory{
  padding:40px ; 
  padding-left: 60px;
}
#dealimg {
  height: 144px;
  width: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px
}

}
.section-title h6{
  font-weight: 600; 
  color: black;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

/* mob */
@media (max-width: 992px) {

  .flashbanner{
    height: 215px;
    width: 336px;
  }
  .flashbanner img {
    height: 100%;
    /* object-fit: cover; */
    width: 100%;
  }
  
  #sliderrow3 {
    margin-left: -10px;
    margin-top: 7px;
  }

  #sliderrow3 a {
    padding: 0px;
  }

  #sliderrow2 {
    margin-left: -10px;
  }

  #sliderrow1 {
    background-color: white;
    margin-right: 2.4%;
    margin-left: 2.8%;
    margin-right: 3.7%;
    margin-left: 1.5%;
    width: 97%;
    padding: 0px;
    margin-left: 10px;
  }

  /* .carousall6 {
    background-color: rgb(255, 255, 255);
    padding: 0px;
    height: 231px;
    margin: 10px;
    margin-left: 22px;
    width: 97%;
  } */

  .explore .col-2 {
    width: 24.66%;
  }

  .img-fluid {
    max-width: 100%;
    height: 200px;
  }

  /* .col-lg-2 {
    flex: 0 0 auto;
    width: 87.666667%;
  } */

  .caroussellll {
    /* height: 300px; */
    z-index: unset;
    padding-left: 0px;
    padding-right: 0px;
  }

  .header-bottom-container .header-right-container {
    -ms-flex-preferred-size: 40%;
    flex-basis: 0%;
  }

  .logo-with-offcanvas {
    margin-right: -10px;
  }

  #besthead {
    font-weight: 500;
    color: black;
    margin-left: 0px;
    display: inline;
  }

  .carousall6 { 
    top: 111px;
    position: absolute;
    background-color: rgb(255 255 255 / 0%);
    padding: 0px;
    height: auto;
    margin: 10px;
    margin-left: 22px;
    width: 88%;
}
.carousall9 { 
  
  background-color: rgb(255 255 255 / 0%);
  padding: 0px;
  height: auto;
  /* margin: 10px;
  margin-left: 22px; */
  width: 100%;
}

  #viewall{
    color: #fff;
    background-color: #1b54f0;
    border-color: #1b54f0;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 0.8rem;
    padding: 0rem 1.5rem;
    width: 33%;
    height: fit-content;
}

  .countdown-wrapper h3{
    font-size: 39px;
    line-height: 58px;
    margin-top:5px;
    margin-bottom: -4px;
    color: rgb(255, 255, 255);
}
  #dealimg {
    height: 200px !important;
    width: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px
  }
  #daydealprod_div{
    width: 100%;
  }
  #sliderrow5 {
    margin-right: 2.4%;
    margin-left: 2.8%;
    margin-right: 3.7%;
    margin-left: 1.5%;
    width: 88%;
    padding: 0px;
    margin-left: 22px;
  }
#icondiv1 {
  width: 50%;
}

  #ourstory{
width: 100%;
padding-left: 20px;
  }
  #ourstoryicon{
    padding-left: 20px;
  }

  #subsc{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #subsc form{
    display: flex;
   
  }
  #subsc 
input::placeholder {
  font: sans-serif;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

  #Anocheader{
    margin-top: 15px; display:flex
  }

  #Anoccontent{
    width:160px;
     /* padding: 5px; */
  }

  #recipevideo{
    display: flex;
    padding-top: 3px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 3px;
    background-color: white;
    padding-left: 3px;
    padding-right: 3px;
  }

  .recipebanner {
    margin-bottom: -70px;
    height: 190px;
  }
#recipelistcard
{
  height: 190px;
}
  
  #stickericon{
    height:50px; 
    width:50px !important
  }
  #deliverydiv {
    padding: 10px;
    margin-left: 0px !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
#deliverydivcol {
  display: block;
 
}

  .section-title h6{
    font-weight: 600; 
    color: black;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

#brandslogocol{
  padding: 0px;
}

  
#brandsdiv {
  margin-right: 10px;
  /* padding: 10px; */
  width: 16%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 5px;
}
  .brandslogo {
    height: 40px;
    width: 55px;
    border-radius: 5px; 
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }
  .listcard {
    background-color: white;
    margin-left: 22px;
    width: 88%;
    padding: 0px;
  }
  .explore p {
    font-size: 0.6rem;
  }

  .explore p:hover{
    font-size: 0.6rem;
    color: rgb(50, 98, 255);
  } 
  .exploreimgdiv{
    height:60px; width:60px;  display:block; margin:auto;
   }
  .img-fluid {
    max-width: 100%;
    height: 200px;
  }
  #sliderrow4 {
    margin-right: 2.4%;
    margin-left: 2.8%;
    margin-right: 3.7%;
    margin-left: 1.5%;
    width: 88%;
    padding: 0px;
    margin-left: 22px;
  }
  

  /* .col-lg-2 {
    flex: 0 0 auto;
    width: 87.666667%;
  } */

  .caroussellll {
    /* height: 300px; */
    z-index: unset;
    padding-left: 0px;
    padding-right: 0px;
  }

  .header-bottom-container .header-right-container {
    -ms-flex-preferred-size: 40%;
    flex-basis: 0%;
  }

  .logo-with-offcanvas {
    margin-right: -10px;
  }

  #besthead {
    font-weight: 500;
    color: black;
    margin-left: 0px;
    display: inline;
  }
  #tellussubmit{
    margin-top: 10px;
  }
}

body {
  background-color: #93939338;
  ;
}

.single-category__image:after {

  border: 0px solid #ffffff;
}

#dealimg {
  height: 144px;
  width: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px
}

.imglazy {
  height: 200px;
  width: 200px;
  position: relative;
  overflow: hidden;
}

.carousall {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  /* border: 1px solid rgb(206, 202, 202);  */
  height: auto;
}

.carousall1 {
  background-color: rgb(255, 255, 255);
  padding: 0px;

  height: 230px;
  margin: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.carousall2 {
  background-color: rgb(255, 255, 255);
  padding: 20px;

  height: 330px;
  margin: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.carousall3 {
  background-color: rgb(255, 255, 255);
  padding: 15px;

  height: auto;
  margin: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.carousall5 {
  background-color: rgb(255, 255, 255);
  padding: 20px;

  height: 350px;
  margin: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.HH6 {
  color: #140f0f;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: black;
  margin-left: -30px;
}

#topheader {
  margin-top: 100px;
}

#bestimg {
  position: relative;
}

.colll {
  position: absolute;
  bottom: 30px;
  left: 130px;
}

.single-product__floating-badges {
  position: absolute;
  z-index: 9;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.single-product__floating-badges span {
  font-size: 12px;
  /* font-weight: 500; */
  line-height: 31.5px;
  z-index: 3;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: lowercase;
  color: #ffffff;
  border-radius: 100%;
}

.title p {
  color: #140f0f;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

.title a {
  color: #140f0f;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

.title h3 a {
  font-size: 13px;
  color: #140f0f;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  text-decoration: none;
}

a {

  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

p span {

  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

p {

  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

h6 {

  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

input {
  color: #140f0f;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

.avialable-amount {
  color: #140f0f;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

.single-size {

  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

s .ng-image-slider .ng-image-slider-container .main .main-inner .img-div .caption {

  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;

}

element.style {
  height: 300px;
}

[_nghost-hlv-c108] {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
  z-index: auto;
  transform-origin: top left;
  box-sizing: border-box;
}



.section-title h1 {
  font-size: 25px;
  line-height: 35px;
  margin-top: -10px;
  margin-bottom: 5px;
  color: #140f0f;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  color: #000000;
  ;

}


element.style {
  object-fit: cover;
  padding-left: 26px;
  padding-right: 15px;
  margin-top: 20px;
  height: 250px;
  width: 430px;
}

.carousel .carousel-container .carousel-cells .carousel-cell {
  height: 250px;
  width: 430px;
}

#carr .carousel-cell {
  /* height: 250px; */
  width: auto;

}

.carousel-cells {
  padding-left: 100px;
}

[_nghost-pul-c115] .carousel-container[_ngcontent-pul-c115] {
  width: 900px;
}

.carousel-cell element.style {
  height: 350px;
  width: 400px;
  transform: translateX(0px);
}

#carr {
  width: 210px !important;
}

/* @media(max-width:768px){
  .carousel .carousel-cell{
 
  height:auto
   }
  } */

.slick-slider {
  width: auto;
  margin: auto;

}


.slider.round {
  border-radius: none;
}

.sli {
  padding-top: 8px;


}

:host ::ng-deep .main {
  overflow: hidden;
  position: absolute;
  height: 200px;
  width: 99% !important;
}

a.next.icons.next-icon {
  text-decoration: none;
}

@media (min-width: 1200px) {
  .container.wide {
    max-width: 98%;
  }
  .todaybanner {
   height: 300px;
  }

}

@media (max-width : 650px) {
  #bestbtn a {
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (max-width : 650px) {
  #bestbtn a {
    text-align: center;
    margin-bottom: 10px;
  }

}

@media (max-width : 1200px) {
  .sli {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 20px;
  }
}

@media (max-width : 700px) {
  .carousel-item {
    height: 200px;
  }

  #lazyy {
    height: 200px;
  }
}

/* to remove arroys form input box */

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
} */


.shop-product__block__value .shop-product-size-list .single-size.active {
  font-size: 11px;
  line-height: 22px;
  margin-right: 5px;
  cursor: pointer;
  color: #ffffff;
  padding: 4px;
  border-radius: 4px;
  background-color: #f14014;
}

.shop-product__block__value .shop-product-size-list .single-size {
  font-size: 11px;
  line-height: 22px;
  margin-right: 5px;
  background-color: #cc3c2200;
  color: #f14014;
  border: 1px solid red;
}

#offtag {
  display: block;
  width: 120px;
  height: 24px;
  background-color: #ff8100;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(310deg);
  position: absolute;
  text-align: center;
  line-height: 24px;
  right: -30px;
  top: 150px;
  font-family: Arial, Helvetica, sans-serif;

  font-size: 10px;


}

#offtag2 {
  display: block;
  width: 120px;
  height: 24px;
  background-color: #ff8100;
  transform: rotate(312deg);
  position: absolute;
  /* padding-left: 10px; */
  line-height: 24px;
  right: -30px;
  top: 104px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-align: center;

}

#offtag1 {
  display: block;
  width: 120px;
  height: 24px;
  background-color: #ff8100;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(310deg);
  position: absolute;
  text-align: center;
  line-height: 24px;
  right: -30px;
  top: 190px;
  font-family: arial;
  font-size: 10px;
}

/* <span id="offtag" *ngIf="img.deal_of_day!=0">Deal of the day</span>
   <span id="offtag" *ngIf="img.deal_of_month!=0">Deal of the month</span>
  <span id="offtag" *ngIf="img.todays_deal!=0">Today's deal</span> */
.imglazy {
  height: 240px;
  width: 95%;
  position: relative;
  overflow: hidden;
}

.imglaz {
  height: 152px;
  width: 95%;
  position: relative;
  overflow: hidden;
}

@media (max-width : 575px) {
  .single-product__image {
    text-align: -webkit-center;
  }

  .single-product__content {
    text-align: -webkit-center;
  }

  a #vieww {
    margin-left: 100px;
    line-height: 1.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 3.2rem;
  }
}

@media (max-width : 575px) {
  #sklbest {
    text-align: -webkit-center;
  }


}

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }
}

@media (max-width : 800px) {

  .py-4 {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (min-width : 800px) {

  .py-4 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* brand*/
.ng-image-slider .ng-image-slider-container .main .main-inner .img-div {
  width: 205px;
  height: 100%;
  margin-right: 3px;
  margin-left: 3px;
  position: relative;
  border-radius: 75px !important;
  display: inline-block;
  box-shadow: inset 0 0 0px rgb(0 0 0 / 0%), 0 0 0px rgb(0 0 0 / 0%);
}

.ng-image-slider .ng-image-slider-container .main .main-inner .img-div img,
.ng-image-slider .ng-image-slider-container .main .main-inner .img-div video {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  border-radius: 75px;
}

::ng-deep .ng-image-slider .ng-image-slider-container .main {
  width: 99%;
}

/* carousal test */

@media (min-width: 992px) {

  .flashbanner{
    height: 215px;
    width: 350px;
  }
  .flashbanner img {
    height: 100%;
    /* object-fit: cover; */
    width: 100%;
  }
  .todaybanner {
    height: 280px;
  }

  .todaybanner img {
    height: 100%;
    /* object-fit: cover; */
    width: 100%;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 15.666667%;
  }

  #quickcol {
    background-color: white;
    width: 24.6%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 23%;
  }

  .caroussellll {
    /* height: 300px; */
    z-index: unset;
    padding-left: 94px;
    padding-right: 134px;
  }

  .header-bottom-container .header-right-container {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
  }

  .logo-with-offcanvas {
    margin-right: 60px;
  }

  #besthead {
    font-weight: 600;
    color: black;
    margin-left: 30px;
    display: inline;
  }

  .carousall6 {
    background-color: rgba(255, 255, 255, 0);
    padding: 0px;
    height: auto;
    margin: 10px;
    margin-left: 40px;
    width: 93%;
    position: absolute;
    top: 51%;

  }
  .carousall9 {
    background-color: rgba(255, 255, 255, 0);
    padding: 0px;
    height: auto;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width:84%;
  }

  :host ::ng-deep .carousel-control-prev-icon,
  .carousel-control-next-icon {
    /* display: inline-block; */
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    top: 27%;
    position: absolute;
  }

  :host ::ng-deep .ng-image-slider .ng-image-slider-container .main .main-inner .img-div {
    /* width: 200px !important; */
  }

  #sliderrow1 {
    background-color: white;
    margin-right: 2.4%;
    margin-left: 2.8%;
    margin-right: 3.7%;
    margin-left: 1.5%;
    width: 97%;
    padding: 0px;
    margin-left: 22px;
  }

  #sliderrow3 {
    margin-left: -7px;
    margin-top: 7px;
  }

  #sliderrow3 a {
    padding: 0px;
  }

  #sliderrow2 {
    margin-left: -7px;
  }
}

@media (max-width: 992px) {

  /* #sliderrow3 {
    margin-left: -10px;
    margin-top: 7px;
  }

  #sliderrow3 a {
    padding: 0px;
  }

  #sliderrow2 {
    margin-left: -10px;
  }

  #sliderrow1 {
    background-color: white;
    margin-right: 2.4%;
    margin-left: 2.8%;
    margin-right: 3.7%;
    margin-left: 1.5%;
    width: 97%;
    padding: 0px;
    margin-left: 10px;
  }

  .carousall6 {
    background-color: rgb(255, 255, 255);
    padding: 0px;
    height: 231px;
    margin: 10px;
    margin-left: 22px;
    width: 97%;
  }

  .explore .col-2 {
    width: 24.66%;
  }

  .img-fluid {
    max-width: 100%;
    height: 200px;
  }

 

  .caroussellll {
   
    z-index: unset;
    padding-left: 0px;
    padding-right: 0px;
  }

  .header-bottom-container .header-right-container {
    -ms-flex-preferred-size: 40%;
    flex-basis: 0%;
  }

  .logo-with-offcanvas {
    margin-right: -10px;
  }

  #besthead {
    font-weight: 500;
    color: black;
    margin-left: 0px;
    display: inline;
  } */
}

/* normalize */