<div style="background-color: #93939338; padding-bottom: 1px;">
   
    <!-- <div class="col-md-10">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
       <div class="carousel-inner">
         <div class="carousel-item active">
           <div class="container">
             <div class="row">
               <div class="col-md-4"><a href="#"><img src="http://www.pentagonpress.in/upload/books/20157161142Happiness%20Unlimited.jpg" id="a1" width="250px" height="350px"></a></div>
               <div class="col-md-4"><a href="#"><img src="https://www.booktopia.com.au/http_coversbooktopiacomau/big/9780007848423/the-monk-who-sold-his-ferrari.jpg" id="a1" width="250px" height="350px"></a></div>
               <div class="col-md-4"><a href="#"><img src="https://images-na.ssl-images-amazon.com/images/I/71DnP7GbRIL.jpg" id="a1" width="350px" height="350px"></a></div>
             </div>
           </div>
         </div>
         <div class="carousel-item">
            <div class="container">
             <div class="row">
               <div class="col-md-4"><a href="#"><img src="https://www.wbkidsgo.com/Portals/4/Images/Content/Characters/Temp_Thumbs/ScoobyDoo_ShaggyRogers.png" width="300px" height="300px" id="a1"></a></div>
               <div class="col-md-4"><a href="#"><img src="http://images6.fanpop.com/image/photos/35100000/Scooby-Doo-scoobert-doo-35193928-500-500.jpg" id="a1" width="300px" height="300px"></a></div>
               <div class="col-md-4"><a href="#"><img src="https://www.wbkidsgo.com/Portals/4/Images/Content/Characters/Temp_Thumbs/ScoobyDoo_Scooby-Doo.png" id="a1" width="300px" height="300px"></a></div>
             </div>
         </div>
       </div>
       <a id="b11" class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <h1><i class="fa fa-angle-left" aria-hidden="true"></i></h1> 
         <span class="sr-only">Previous</span>
       </a>
       <a id="b12" class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <h1><i class="fa fa-angle-right" aria-hidden="true"></i></h1>
         <span class="sr-only">Next</span>
       </a>
     </div></div></div> -->

    
    <!-- carousel-fade by api-->

    <!-- lazyloading  banner -->
    <div class="col-lg-12" id="lazyy" style="padding-right: 2.4%; padding-left: 2.8%; " *ngIf="loader1">
        <ngx-skeleton-loader count="1"
            [theme]="{  'border-radius': '4px',  height: '355px',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
        </ngx-skeleton-loader>
    </div>

    <div id="carouselExampleControls" data-interval="false" class="carousel slide" data-ride="carousel"
        data-interval="3000" style="margin-right:2.4%; margin-left:2.8%;">
        <div class="carousel-inner " style=" width:100%;object-fit:cover ">
            <div class="carousel-item" *ngFor="let img of photoo; let i = index" [ngClass]="{'active': i == 0 }"
                style=" width:100%; ">
                <img src="{{img}}" class="d-block " style=" width: 100%;  height: 355px;object-fit:cover">
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <!-- todays offer slider -->
    <div class="carousall6">
    <div class="sli mb-3" *ngIf="!loader4">
        <ng-image-slider style="padding-left: 7px; padding-right: 5px; margin-bottom: 20px;" [images]="Todaysoffer"
            [imageSize]="{width: 400, height: 200, space: 13}" [infinite]="true" [imagePopup]="false"
            (imageClick)="imageClick($event)" [autoSlide]="{interval:3, stopOnHover: true}" [animationSpeed]="3.5" #nav>
        </ng-image-slider>
    </div>
    <div class="hover-banner-area mb-20 mb-md-60 mb-sm-60 mt-3  " *ngIf="loader4">
        <div class="container wide">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="single-banner single-banner--hoverborder" style=" width:100%; height:200px;">
                        <ngx-skeleton-loader count="1"
                            [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                        </ngx-skeleton-loader>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="single-banner single-banner--hoverborder" style=" width:100%; height:200px;">
                        <ngx-skeleton-loader count="1"
                            [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                        </ngx-skeleton-loader>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="single-banner single-banner--hoverborder" style=" width:100%; height:200px;">
                        <ngx-skeleton-loader count="1"
                            [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                        </ngx-skeleton-loader>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- todays offer slider end-->
    <!-- category start -->
    <div class="carousall3" >
    <div class="product-category-container mb-40 mb-md-80 mb-sm-70 ">
        <div class="container wide">
            <div class="row">
              <h6 class="HH6">Top Categories</h6>          
                <div class="col-lg-12">

                    <div class="product-category-container--collectionhome-wrapper">
                        <div class="row justify-content-center">
                            <div class="col-lg-2 col-md-6 col-12 mb-30" *ngFor="let img of Homecat; let i = index">
                                <!--=======  single category  =======-->

                                <div class="single-category single-category--one wow zoomIn">
                                    <!--=======  single category image  =======-->

                                    <div class="single-category__image single-category__image--one"
                                        style="height: 210px;" (click)="catnavigate(img.id)" >
                                        <img src="https://neophroncrm.com/spiceclubnew/public/{{img.banner}}"
                                            class="img-fluid" alt="" style="width:100%; height:100%;object-fit:cover">
                                    </div>

                                    <div class="single-category__content single-category__content--one mt-10 mb-10"
                                        (click)="catnavigate(img.id)">
                                        <div class="titlee">
                                            <p style="font-size: smaller; font-weight: 500;">{{img.name}}</p>
                                            <!-- <a style="color: red;">{{img.name}}</a> -->
                                        </div>

                                        <!-- <p class="product-count">{{img.number_of_children}}</p> -->
                                    </div>

                                    <!-- <a href="products.html" class="banner-link"></a> -->

                                    <!--=======  End of banner-link  =======-->
                                </div>

                                <!--=======  End of single category  =======-->
                            </div>

                        </div>
                    </div>
                </div>

                <!-- lazyloading *ngIf="loader2" -->
                <div class="col-lg-12" *ngIf="loader2">
                    <div class="product-category-container--collectionhome-wrapper">
                        <div class="row justify-content-center">
                            <!-- Allcat   Homecat -->
                            <div class="col-lg-2 col-md-6 col-12 mb-60">
                                <div class="single-category single-categow zoomIn">
                                    <div class="single-category__image single-category__image--one"
                                        style=" width:100%; height:200px;">
                                        <ngx-skeleton-loader count="1" [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%',
                                         'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                        </ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-12 mb-60">
                                <div class="single-category single-categow zoomIn">
                                    <div class="single-category__image single-category__image--one"
                                        style=" width:100%; height:200px;">
                                        <ngx-skeleton-loader count="1" [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%',
                                         'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                        </ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-12 mb-60">
                                <div class="single-category single-categow zoomIn">
                                    <div class="single-category__image single-category__image--one"
                                        style=" width:100%; height:200px;">
                                        <ngx-skeleton-loader count="1" [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%',
                                         'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                        </ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-12 mb-60">
                                <div class="single-category single-categow zoomIn">
                                    <div class="single-category__image single-category__image--one"
                                        style=" width:100%; height:200px;">
                                        <ngx-skeleton-loader count="1" [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%',
                                         'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                        </ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-12 mb-60">
                                <div class="single-category single-categow zoomIn">
                                    <div class="single-category__image single-category__image--one"
                                        style=" width:100%; height:200px;">
                                        <ngx-skeleton-loader count="1" [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%',
                                         'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                        </ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-12 mb-60">
                                <div class="single-category single-categow zoomIn">
                                    <div class="single-category__image single-category__image--one"
                                        style=" width:100%; height:200px;">
                                        <ngx-skeleton-loader count="1" [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%',
                                         'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                        </ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- category end -->

    <!--bestsellers start-->
    
    <div class="banner-with-product-area mb-20 mb-md-80 mb-sm-60 " style="padding-top: 0px;">
        <div class="container wide" style="background-color: white; padding: 20px;max-width: 98%; padding-bottom: 10px;">

            <div class="row">
                <div class="col-lg-3 mb-md-80 mb-sm-60 pl-30">
                    <!--=============================================
                            =          product side  banner         =
                            =============================================-->
                    <div class="product-side-banner" style=" 
                   ">
                        <div class="section-title section-title--one  ">
                            <h6 style="font-weight: 600; color: black;padding-left:40px">Best Selling Products</h6>
                        </div>
                        <a routerLink="/bestselling">
                            <img src="assets/images/food-one/banner-1.png" class="img-fluid" alt="" style="height: 700px; object-fit: cover;">
                        </a>            
        
                    </div>
                    <div class="colll" id="bestbtn" style="text-align: center;">

                        <a routerLink="/bestselling" class="ml-auto mr-0 btn btn-danger btn-sm shadow-md ">View All</a>
                    </div>
                    <!--=====  End of product side banner  ======-->
                </div>

                <div class="col-lg-9">
                    <div class="row" *ngIf="!loader3">
                        <!--=======  single product  =======-->
                        <div class="col-12 col-lg-3 col-md-6 col-sm-12 mb-10 pt-10 pb-10 "
                            *ngFor="let img of Bestsellpro; let i = index " style="border: 0.8px solid #e9e7e7; margin-right: 10px;">


                            <div class="single-product"  >
                                <!--=======  single product image  =======-->

                                <div class="single-product__image" style="overflow: hidden;">

                                    <div class="imglazy" style="height: 200px;">                               
                                    <ngx-skeleton-loader count="1" *ngIf="imgloader"
                                        [theme]="{ 'margin-left':'10px' ,'border-radius': '4px',  height: '220px',  width:'220px', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                    </ngx-skeleton-loader>
                                    <a class="image-wrap" (click)="proddetail(img.id)" *ngIf="!imgloader">
                                       
                                        <img src="https://neophroncrm.com/spiceclubnew/public/{{img.thumbnail_image}}"
                                            class="img-fluid" alt="">
                                        <!-- <img src="https://neophroncrm.com/spiceclubnew/public/{{img.thumbnail_image}}"
                                            class="img-fluid" alt=""> -->
                                    </a>
                                    <span id="offtag" *ngIf="img.deal_of_day!=0">Deal of the day</span>
                                    <span id="offtag" *ngIf="img.deal_of_month!=0">Deal of the month</span>
                                    <span id="offtag" *ngIf="img.todays_deal!=0">Today's deal</span>
                                </div>
                                
                                    
                                    <div class="single-product__floating-badges">
                                        <!-- <span class="onsale">-10%</span> -->
                                        <span class="hot" *ngIf="img.has_discount==true">hot</span>
                                        <!-- <span class="hot"  *ngIf="likeddd[i]" ><i class="bi bi-heart-fill"></i></span>  -->
                                    </div>

                                    <div class="single-product__floating-icons">
                                        <span class="wishlist" *ngIf="(img.wishlist==1)"><a data-tippy="Add to wishlist"
                                                data-tippy-inertia="true" data-tippy-animation="shift-away"
                                                data-tippy-delay="50" data-tippy-arrow="true"
                                                data-tippy-theme="sharpborder" data-tippy-placement="left">
                                                <i [ngClass]="{'ion-android-favorite':likeddd[i]===true, 'ion-android-favorite-outline':likeddd[i]===false}"
                                                    (click)='toggle(img,i)'
                                                    style="color: rgb(214, 5, 5);"></i></a></span>

                                        <span class="wishlist" *ngIf="(img.wishlist==0)"><a data-tippy="Add to wishlist"
                                                data-tippy-inertia="true" data-tippy-animation="shift-away"
                                                data-tippy-delay="50" data-tippy-arrow="true"
                                                data-tippy-theme="sharpborder" data-tippy-placement="left">
                                                <i [ngClass]="{'ion-android-favorite':likedd[i]===true, 'ion-android-favorite-outline':likedd[i]===false}"
                                                    (click)='toggledelete(img,i)'
                                                    style="color: rgb(214, 5, 5);"></i></a></span>



                                        <span class="quickview" (click)="quickview(img.id,openRecord)"><a
                                                class="cd-trigger" data-tippy="Quick View" data-tippy-inertia="true"
                                                data-tippy-animation="shift-away" data-tippy-delay="50"
                                                data-tippy-arrow="true" data-tippy-theme="sharpborder"
                                                data-tippy-placement="left"><i
                                                    class="bi bi-cart3"></i></a></span>
                                    </div>


                                </div>

                                <!--=======  End of single product image  =======-->

                                <!--=======  single product content $$$ (click)="viewproductrow(img)" =======-->

                                <div class="single-product__content" (click)=" proddetail(img.id)">      
                                    <div class="title" >
                                        <h3> <a style="line-height: 1.6rem;
                                            overflow: hidden;
                                            display: -webkit-box; 
                                            -webkit-line-clamp: 2;
                                            -webkit-box-orient: vertical;
                                            max-height: 3.2rem;" >{{img.name}}</a> </h3>
                                            <a id="vieww" style="font-size: small;color: red;font-size: small; ">{{img.name}}</a>
                                    </div>
                                    
                                    <div class="price" >
                                        <span  *ngIf="img?.stroked_price!==img?.main_price" class="main-price discounted">{{img.stroked_price}}</span>
                                        <span class="discounted-price">{{img.main_price}} </span>
                                    </div>    
 
                                    <div class="pri" *ngFor="let imggg of img.variants;" style="text-align: center;"> 
                                        <span class="discounted-price" *ngFor="let imgggg of imggg.options;" > |{{imgggg}}| </span>
                                    </div>
                                    <div class="pri" style="text-align: center;"> 
                                        <span class="discounted-price" style="line-height: 1.6rem;
                                        overflow: hidden;
                                        display: -webkit-box; 
                                        -webkit-line-clamp: 2;
                                        -webkit-box-orient: vertical;
                                        max-height: 3.2rem; color:#e50909;">{{img.usp_text}}</span>
                                    </div>
                                </div>
                                
                                <!--=======  End of single product content  =======-->
                            </div>
                            <button type="button" class="btn btn-primary" style=" width: -webkit-fill-available;">Add to cart</button>
                        </div>
                    </div>
                    <!-- lazyloading *ngIf="loader3" -->
                    <div class="row" *ngIf="loader3">
                        <div id="sklbest" class="col-12 col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="single-product" style="height: 280px; width: 200px;">
                                <ngx-skeleton-loader count="1"
                                    [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                        <div id="sklbest" class="col-12 col-lg-3 col-md-6 col-sm-6mb-30">
                            <div class="single-product" style="height: 280px; width: 200px;">
                                <ngx-skeleton-loader count="1"
                                    [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                        <div id="sklbest" class="col-12 col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="single-product" style="height: 280px; width: 200px;">
                                <ngx-skeleton-loader count="1"
                                    [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                        <div  id="sklbest" class="col-12 col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="single-product" style="height: 280px; width: 200px;">
                                <ngx-skeleton-loader count="1"
                                    [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                        <div id="sklbest" class="col-12 col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="single-product" style="height: 280px; width: 200px;">
                                <ngx-skeleton-loader count="1"
                                    [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                        <div id="sklbest" class="col-12 col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="single-product" style="height: 280px; width: 200px;">
                                <ngx-skeleton-loader count="1"
                                    [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                        <div id="sklbest" class="col-12 col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="single-product" style="height: 280px; width: 200px;">
                                <ngx-skeleton-loader count="1"
                                    [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                        <div id="sklbest" class="col-12 col-lg-3 col-md-6 col-sm-6 mb-30">
                            <div class="single-product" style="height: 280px; width: 200px;">
                                <ngx-skeleton-loader count="1"
                                    [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--bestsellers end-->

    <!-- Deal of the day   routerLink="/daydeal"-->
    <div class="countdown-timer-area mb-20 countdown-background countdown-bg-2 pt-100 pb-100">
        <div class="container wide">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class=" col-12 col-xl-5 offset-xl-7 col-lg-9 offset-lg-3">
                            <div class="countdown-wrapper text-center">
                                <h3>Deal of the day</h3>
                                <div class="deal-countdown" data-countdown="2021/12/31"></div>
                                <a (click)="gotodeals()"
                                    class="lezada-button lezada-button--medium lezada-button--icon--left"> <i
                                        style="background-color: transparent;color: rgb(250, 248, 248) !important;"
                                        class="icon-left ion-ios-cart"></i>shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- featured product  start-->
    <div class="col-lg-12 mb-10">
       
        <div class="carousall" >
            <div class="col-lg-12">
                <div class="section-title section-title--one  mb-0">
                    <h6 style="font-weight: 600; color: black;margin-left: 30px;">Featured Products</h6>
                </div>
            </div>
        <carousel style="height: 300px; z-index: unset;" *ngIf="!loader6">
            <div class="carousel-cell" *ngFor="let img of Futuredpro ;let i = index">
                
               
                <div class="single-product" style="padding-left: 50px; overflow: hidden;">
                    <!--=======  single product image *ngIf="img.deal_of_day!=0" =======-->
                   
 
                   
                    <div class="single-product__image" >
                        <div class="imglaz" style="position: relative;overflow: hidden;">
                        <a class="image-wrap" (click)=" proddetail(img.id)" id="bestimg">
                            <img src="https://neophroncrm.com/spiceclubnew/public/{{img.thumbnail_image}}"
                                class="img-fluid" alt="">
                        </a>
                        <span id="offtag2" *ngIf="img.deal_of_day!=0">Deal of the day</span>
                        <span id="offtag2" *ngIf="img.deal_of_month!=0">Deal of the month</span>
                        <span id="offtag2" *ngIf="img.todays_deal!=0">Today's deal</span>
                    </div>
                       
                      
                        <div class="single-product__floating-badges" style="margin-left: 0px;">
                            <span class="hot" *ngIf="img.has_discount==true">hot</span>
                            <!-- <span class="hot"  *ngIf="(img.wishlist==1)" ><i class="bi bi-heart-fill"></i></span>  -->
                        </div>


                        <div class="single-product__floating-icons">
                            <span class="wishlist" *ngIf="(img.wishlist==1)"><a data-tippy="Add to wishlist"
                                    data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50"
                                    data-tippy-arrow="true" data-tippy-theme="sharpborder" data-tippy-placement="left">
                                    <i [ngClass]="{'ion-android-favorite':likesss[i]===true, 'ion-android-favorite-outline':likesss[i]===false}"
                                        (click)='toggle1(img,i)' style="color: rgb(214, 5, 5);"></i></a></span>

                            <span class="wishlist" *ngIf="(img.wishlist==0)"><a data-tippy="Add to wishlist"
                                    data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50"
                                    data-tippy-arrow="true" data-tippy-theme="sharpborder" data-tippy-placement="left">
                                    <i [ngClass]="{'ion-android-favorite':likess[i]===true, 'ion-android-favorite-outline':likess[i]===false}"
                                        (click)='toggledelete1(img,i)' style="color: rgb(214, 5, 5);"></i></a></span>

                            <span class="quickview" (click)="quickview(img.id,openRecord)"><a class="cd-trigger"
                                    data-tippy="Quick View" data-tippy-inertia="true" data-tippy-animation="shift-away"
                                    data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"
                                    data-tippy-placement="left"><i class="bi bi-cart3"></i></a></span>
                        </div>
                    </div>

                    <div class="single-product__content" (click)=" proddetail(img.id)">
                    
                        <div class="title">
                            <h3> <a style="line-height: 1.6rem;
                                overflow: hidden;
                                display: -webkit-box; 
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                max-height: 3.2rem;" >{{img.name}}</a>
                               </h3>
                            <a (click)=" proddetail(img.id)" style="font-size: small;color: red;font-size: small;">View details</a>
                        </div>
                        <div class="price">
                            <span  *ngIf="img?.stroked_price!==img?.main_price" class="main-price discounted">{{img.stroked_price}}</span>
                            <span class="discounted-price">{{img.main_price}}</span>
                        </div>
                    </div>
                   

                </div>
            </div>
        </carousel>
        
        <div class="col-lg-12" *ngIf="loader6">
            <div class="product-category-container--collectionhome-wrapper">
                <div class="row justify-content-center">
                    <!-- Allcat   Homecat -->
                    <div class="col-lg-2 col-md-6 col-12 mb-60">
                        <div class="single-category single-categow zoomIn">
                            <div class="single-category__image single-category__image--one"
                                style=" width:100%; height:200px;">
                                <ngx-skeleton-loader count="1" [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%',
                                 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-12 mb-60">
                        <div class="single-category single-categow zoomIn">
                            <div class="single-category__image single-category__image--one"
                                style=" width:100%; height:200px;">
                                <ngx-skeleton-loader count="1" [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%',
                                 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-12 mb-60">
                        <div class="single-category single-categow zoomIn">
                            <div class="single-category__image single-category__image--one"
                                style=" width:100%; height:200px;">
                                <ngx-skeleton-loader count="1" [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%',
                                 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-12 mb-60">
                        <div class="single-category single-categow zoomIn">
                            <div class="single-category__image single-category__image--one"
                                style=" width:100%; height:200px;">
                                <ngx-skeleton-loader count="1" [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%',
                                 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-12 mb-60">
                        <div class="single-category single-categow zoomIn">
                            <div class="single-category__image single-category__image--one"
                                style=" width:100%; height:200px;">
                                <ngx-skeleton-loader count="1" [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%',
                                 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-12 mb-60">
                        <div class="single-category single-categow zoomIn">
                            <div class="single-category__image single-category__image--one"
                                style=" width:100%; height:200px;">
                                <ngx-skeleton-loader count="1" [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%',
                                 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- featured product end -->

    <!-- brands start -->
    <div class="carousall1">
    <div class="sli mb-1" *ngIf="!loader5">
        <div class="col-lg-12">
            <div class="section-title section-title--one ">
                <h6 style="font-weight: 600; color: black;margin-left: 5px;">Brands</h6>
            </div>
        </div>
        <ng-image-slider style="padding-left: 7px; padding-right: 5px; margin-bottom: 20px; border-radius: 20px;"
            (imageClick)="blogClick($event)" [images]="Allbrands" [imagePopup]="false"
            [imageSize]="{width: 150, height: 150, space: 13 }" [font] #nav></ng-image-slider>
    </div>


    <!--lazyloading brands start -->
    <div class="product-category-container mb-60 mb-md-80 mb-sm-70" *ngIf="loader5">
        <div class="container wide">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title section-title--one  mb-0">
                        <h6 style="font-weight: 600; color: black;">Brands</h6>
                    </div>
                </div>
                <!-- <div class="col-lg-12" style="padding-left: 50px; padding-right: 50px;">
                        <div class="product-category-container--collectionhome-wrapper">
                            <div class="row justify-content-center">
                                <div class="col-lg-2 col-md-6 col-12 mb-20" *ngFor="let img of Allbrands; let i = index">
                                    <div class="single-category single-category--one wow zoomIn"
                                        (click)="brandnavigate(img.id)">
                                   
                                        <div class="single-category__image single-category__image--one"
                                            style=" width:100%; height:200px;border: 1px solid #cfcece;">
                                            <img src="https://neophroncrm.com/spiceclubnew/public/{{img.logo}}"
                                                class="img-fluid" alt="" style=" width:100%; height:100%;object-fit:cover;">
                                        </div>
                                        <div class="single-category__content single-category__content--one mt-10 mb-10">
                                            <div class="title">
                                                <p>{{img.name}}</p>
                                                <a (click)="brandnavigate(img.id)" style="color: red;">view {{img.name}}</a>
                                            </div>
                                        </div>
                                    
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
     -->

                <div class="col-lg-12" *ngIf="loader5">
                    <div class="product-category-container--collectionhome-wrapper">
                        <div class="row justify-content-center">
                            <!-- Allcat   Homecat -->
                            <div class="col-lg-2 col-md-6 col-12 mb-60">
                                <div class="single-category single-categow zoomIn">
                                    <div class="single-category__image single-category__image--one"
                                        style=" width:100%; height:200px;">
                                        <ngx-skeleton-loader count="1"
                                            [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%',
                                             'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                        </ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-12 mb-60">
                                <div class="single-category single-categow zoomIn">
                                    <div class="single-category__image single-category__image--one"
                                        style=" width:100%; height:200px;">
                                        <ngx-skeleton-loader count="1"
                                            [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%',
                                             'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                        </ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-12 mb-60">
                                <div class="single-category single-categow zoomIn">
                                    <div class="single-category__image single-category__image--one"
                                        style=" width:100%; height:200px;">
                                        <ngx-skeleton-loader count="1"
                                            [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%',
                                             'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                        </ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-12 mb-60">
                                <div class="single-category single-categow zoomIn">
                                    <div class="single-category__image single-category__image--one"
                                        style=" width:100%; height:200px;">
                                        <ngx-skeleton-loader count="1"
                                            [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%',
                                             'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                        </ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-12 mb-60">
                                <div class="single-category single-categow zoomIn">
                                    <div class="single-category__image single-category__image--one"
                                        style=" width:100%; height:200px;">
                                        <ngx-skeleton-loader count="1"
                                            [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%',
                                             'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                        </ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-12 mb-60">
                                <div class="single-category single-categow zoomIn">
                                    <div class="single-category__image single-category__image--one"
                                        style=" width:100%; height:200px;">
                                        <ngx-skeleton-loader count="1"
                                            [theme]="{  'border-radius': '4px',  height: '100%',  width:'100%',
                                             'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                        </ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--lazyloading brands end -->
</div>

    <!-- popup -->
    <ng-template #openRecord let-modal>
        <div class="modal-body" style="background-color: rgb(248, 250, 251);">
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()"
                style="padding-right: 15px;">
                <span aria-hidden="true"><i class="ion-android-close"></i></span>
            </button>
            <div class="py-4" >
                <div class="modal-body  c-scrollbar-light">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row gutters-10 flex-row-reverse"
                                style="border: 2px solid rgb(216, 212, 212);  border-radius: 0px;">
                                <div class="col" style="margin-top: 35px;margin-bottom: 35px;">
                                    <div class="aiz-carousel product-gallery slick-initialized slick-slider"
                                        data-nav-for=".product-gallery-thumb" data-fade="true" data-auto-height="true">
                                        <div class="carousel-box img-zoom rounded"
                                            style="width: 100%; display: inline-block; position: relative; overflow: hidden;">
                                            <img class="img-fluid ls-is-cached lazyloaded"
                                                src="https://neophroncrm.com/spiceclubnew/public/{{Peoduct.thumbnail_image}}"
                                                data-src="https://neophroncrm.com/spiceclubnew/public/{{Peoduct.thumbnail_image}}">
                                            <img role="presentation" alt=""
                                                src="https://neophroncrm.com/spiceclubnew/public/{{Peoduct.thumbnail_image}}"
                                                class="zoomImg"
                                                style="position: absolute; top: -1224.65px; left: 0px; opacity: 0; width: 2250px; height: 2250px; border: none; max-width: none; max-height: none;">
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-auto w-90px">
                                    <div class="aiz-carousel carousel-thumb product-gallery-thumb slick-vertical slick-initialized slick-slider"
                                        data-items="5" data-nav-for=".product-gallery" data-vertical="true"
                                        data-focus-select="true">
                                        <div class="slick-list draggable" style="height: 397.5px;">
                                            <div class="slick-track"
                                                style="opacity: 1; height: 239px; transform: translate3d(0px, 0px, 0px);">
                                                <div class="slick-slide slick-current slick-active"
                                                    data-slick-index="0" aria-hidden="false"
                                                    style="width: 70px;">
                                                    <div>
                                                        <div class="carousel-box c-pointer border p-1 rounded"
                                                            style="width: 100%; display: inline-block;">
                                                            <img class="mw-100 size-60px mx-auto ls-is-cached lazyloaded"
                                                                src="https://neophroncrm.com/spiceclubnew/public/{{detail.thumbnail_image}"
                                                                data-src="https://neophroncrm.com/spiceclubnew/public/{{detail.thumbnail_image}"
                                                                onerror="this.onerror=null;this.src='https://neophroncrm.com/spiceclubnew/public/{{detail.thumbnail_image}';">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slick-slide slick-active" data-slick-index="1"
                                                    aria-hidden="false" style="width: 70px;">
                                                    <div>
                                                        <div class="carousel-box c-pointer border p-1 rounded"
                                                            style="width: 100%; display: inline-block;">
                                                            <img class="mw-100 size-60px mx-auto ls-is-cached lazyloaded"
                                                                src="https://neophroncrm.com/spiceclubnew/public/{{detail.thumbnail_image}"
                                                                data-src="https://neophroncrm.com/spiceclubnew/public/{{detail.thumbnail_image}"
                                                                onerror="this.onerror=null;this.src='https://neophroncrm.com/spiceclubnew/public/{{detail.thumbnail_image}';">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slick-slide slick-active" data-slick-index="2"
                                                    aria-hidden="false" style="width: 70px;">
                                                    <div>
                                                        <div class="carousel-box c-pointer border p-1 rounded"
                                                            style="width: 100%; display: inline-block;">
                                                            <img class="mw-100 size-60px mx-auto ls-is-cached lazyloaded"
                                                                src="https://neophroncrm.com/spiceclubnew/public/{{detail.thumbnail_image}"
                                                                data-src="https://neophroncrm.com/spiceclubnew/public/{{detail.thumbnail_image}"
                                                                onerror="this.onerror=null;this.src='https://neophroncrm.com/spiceclubnew/public/{{detail.thumbnail_image}';">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-lg-6 " style=" height: 450px;overflow-y: auto;">
                            <h5 class="item-title mb-4">{{Peoduct.name}}</h5>
                            <p class="price">
                                <span class="main-price discounted" style="text-decoration: line-through"
                                *ngIf="storked_pricee!==prod_price">{{storked_pricee}}</span>
                            <span style="color: red;" class="h5 discounted-price">{{prod_price}}</span>
                            <span class="opacity-70">/{{Peoduct.unit}}</span>
                            </p>
                            
                            <hr>

                            <form id="option-choice-form">
                                <input type="hidden" name="_token" value="dhy8KvYTTGug1EMR5yJPArW0ybXT0zbNQQbK20Lk">
                                <input type="hidden" name="id" value="21">

                                <div class="row no-gutters ml-1">
                                    <div class="col-3">
                                        <div class="opacity-50 mt-2 " *ngFor="let a of choice">{{a.title}}:</div>
                                    </div>
                                    <div class="col-9">
                                        <div class="shop-product__block__value" *ngFor="let a of choice">

                                            <div class="shop-product-size-list">
                                                <span class="single-size" *ngFor="let b of a.options;let i=index"
                                                [ngClass]="{'active': subItem === i}"    (click)="selectvar(b,i)">{{b}}</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row no-gutters ml-1">
                                    <div class="col-3">
                                        <div class="opacity-50 mt-2" style="font-family: 'Poppins', sans-serif;">Quantity:</div>
                                    </div>
                                    <div class="col-9">
                                        <div class="product-quantity d-flex align-items-center">
                                            <div class="pro-qty d-inline-block mx-0 pt-0" *ngIf="stk!==0">
                                                <a class="dec qty-btn" style="text-decoration: none;"
                                                    (click)="decreaseqty()" *ngIf="quantityyy!=0">-</a>
                                                    <input type="number" #box value="{{quantityyy}}" (keyup)="getValue(box.value)" name="qqty" style="background: transparent;">
                                               
                                                <a class="inc qty-btn" style="text-decoration: none;"
                                                    (click)="increaseqty()" *ngIf="stk>1">+</a>
                                            </div>
                                            <div class="avialable-amount opacity-60">
                                                &nbsp; (<span id="available-quantity">{{stocck}}</span> available)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row no-gutters pb-3 ml-1" id="chosen_price_div" *ngIf="quantityyy!==0">
                                        <div class="col-3">
                                            <div class="opacity-50">Total Price:</div>
                                        </div>
                                        <div class="col-9">
                                            <div class="product-price">
                                                <strong id="chosen_price"
                                                    class="h5 fw-600 text-danger">Rs {{totalprice}}</strong>
                                            </div>
                                        </div>
                                    </div>
                            </form>
    
                            <div class="mt-3" style="display: flex; align-items: center;  justify-content: center;">
                                <button   *ngIf="stk!==0" class="lezada-button lezada-button--small lezada-button--icon--left" (click)="addtocart2()">
                                    <i class="ion-ios-cart-outline"></i>add to cart</button>
    
                                <button   *ngIf="stk==0" class="lezada-button lezada-button--small lezada-button--icon--left"
                                 style="background-color: rgb(235, 54, 30); border: 1px solid #e1830f;">
                                        <i class="ion-ios-cart-outline"></i>Out of Stock</button>

                            </div>
                            <hr>
                            <h6>Description</h6>
                            <p class="description" [innerHTML]="Peoduct?.description" style="font-size: small;">
                                {{Peoduct.description}}
                            </p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

</div>


<!-- JS
	============================================ -->
<!-- jQuery JS -->
<script src="assets/js/vendor/jquery.min.js"></script>

<!-- Popper JS -->
<script src="assets/js/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

<!-- Plugins JS -->
<script src="assets/js/plugins.js"></script>

<!-- Main JS -->
<script src="assets/js/main.js"></script>

<!-- Revolution Slider JS -->
<script src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="assets/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/revolution/revolution-active.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript"
    src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>