.breadcrumb-list__item{
	color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  text-transform: none;
}
input{
    color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
}
select{ 
    color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
}

label{
    color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
}
option{
    color: #140f0f ;
    font-family: Arial, Helvetica, sans-serif;
}
h5{
    color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
}
/* .col-2{
    background-color: rgb(251, 251, 250);
} */
.addresss{
    background-color: white;
    /* border: 1px solid rgb(161, 156, 156); */
    padding: 10px;
    padding-left: 30px;
    border-bottom:1px solid #e0e0e0;
}
.addres1{
    border: 1px solid #e0e0e0;
}
p{
    border-bottom: none;
}
span{
    color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
}
strong{
    font-family: Arial, Helvetica, sans-serif ;
 
}
p strong{
    color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
}
.lezada-button{
    padding-top: 1px;
    padding-bottom: 1px;
    margin-right: 10px;
}
.nice-select.ng-option{
    color: red;
}
.nice-select.ng-dropdown-panel .scroll-host {
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    display: block;
    margin-top: 10px;
    -webkit-overflow-scrolling: touch;
}
.nice-select{
    padding-right: 305px;
}
agm-map { height: 600px;
   }
   @media (max-width: 650px) {
    .lezada-button span {
        display: none;
    }
}
@media (max-width: 650px) {
    .lezada-button {
        border-radius:50px;
    }
}
@media (max-width: 650px) {
.lezada-button--icon--left i {
    margin-right: 0px;
}
}

@media (max-width: 768px) {
.checkout-cart-total{
   
    margin-left: 0%;
    margin-right: 0%;
    padding: 10px;
   
}
span {     
    font-size: 0.8em;
}
label{
    font-size: 0.7em;
}
strong{
    font-size: 0.9em;
}
#fform{
    margin-left: 0px;margin-right: 0px
}
}
@media (min-width: 768px) {
    .checkout-cart-total{
       
        margin-left: 7%;
        margin-right: 7%;
        padding: 30px;
    }
    #fform{
        margin-left: 30px;margin-right: 40px
    }
    }

    .checkout-cart-total p {
        padding: 0px;
    }