<div class="breadcrumb-area breadcrumb-bg-2">
    <div class="container" style="margin: 0px;">
        <div class="row">
            <div class="col-lg-12">
                <!-- <h4 class="breadcrumb-title" style="padding: 0px; margin: 0px; font-size: 1.5rem;">My Account</h4> -->
                <!--=======  breadcrumb list  =======-->
                <ul class="breadcrumb-list" style="padding-left: 0px;margin-bottom: 15px; margin-top: 15px;">
                    <li class="breadcrumb-list__item"><a routerLink="/home">Home</a></li>
                    <li class="breadcrumb-list__item breadcrumb-list__item--active">Address</li>
                </ul>
                <!--=======  End of breadcrumb list  =======-->
            </div>
        </div>
    </div>
</div>




<div class="col-lg-12 mb-15 mt-2">
    <div class="checkout-cart-total   mt-1" style="background-color:white;" *ngIf="!loader">

        <!-- <div class="addres1 mb-4" style="padding: 10px; background-color: white;" (click)="addaddresss(addRecord,map)">
            <span style="color: #2874f0;;"><strong style="padding-left: 20px;">+ Add a New Address</strong> </span>
        </div> -->
        <div id="addaddressdiv">
            <button id="newaddbtn" class="btn btn-info" (click)="addaddresss(addRecord,map)">Create a new
                address</button>
        </div>

        <div class="addres1">
            <form [formGroup]="address">
                <div class="addresss" *ngFor="let Connectdtls of Address; let i=index">
                    <p> <strong>{{username}} </strong></p>
                    <span> {{Connectdtls.address}} , {{Connectdtls.city_name}} , {{Connectdtls.state_name}} ,
                        {{Connectdtls.country_name}} - {{Connectdtls.set_default}}{{radioSelected}}</span>
                    <p> {{Connectdtls.postal_code}}</p>
                    <p> <strong> {{Connectdtls.phone}}</strong></p>
                    <!-- *ngIf="((Connectdtls.set_default === '1') ? 'checked':'true')"   [checked]="(Connectdtls.set_default === 1)"   [(ngModel)]="radioSelected" id="shiping_address{{i}}"  *ngIf="(Connectdtls.set_default === 1 ? 'checked':'true')" -->

                    <p id="useaddress">
                        <input type="radio" name="radiio" value="{{Connectdtls.id}} " data-shipping
                            [checked]="Connectdtls.set_default== 1" (click)="changeshippingaddress(Connectdtls.id)">
                        <label style="color: #ce2127;">&nbsp; Use this as shipping address</label>


                        <span class="add-to-cart" style="margin-left: auto;">

                            <button id="editbtn" class="btn btn-danger sm" (click)="deleteRow(Connectdtls)">
                                <i class="bi bi-trash-fill"></i> <span>&nbsp; Delete</span>
                            </button>
                        </span>
                        <span class="add-to-cart" style="margin-left: auto;">
                            <!-- <button class="lezada-button lezada-button--small lezada-button--icon--left"
                                (click)="editRow(Connectdtls ,editRecord )"
                                style="background-color: rgb(30, 121, 206);border: 1px solid rgb(30, 121, 206);
                                text-transform: none;">
                                <i class="bi bi-pencil-fill"></i> <span style="color: white;letter-spacing: 0px;">Edit</span> </button> -->
                            <button id="editbtn" style="padding-left:20px;padding-right:20px;margin-right: 10px;"
                                class="btn btn-primary sm" (click)="editRow(Connectdtls ,editRecord )">
                                <i class="bi bi-pencil-fill"></i> <span>&nbsp; Edit</span>
                            </button>
                        </span>
                    </p>
                </div>
            </form>
        </div>
    </div>
    <div class="cart-table-container mb-2 " style="margin-left: 7%; margin-right: 7%;" *ngIf="Address?.length==0">
        <div id="tit" style="width: 100%;">
            <ngx-skeleton-loader count="1"
                [theme]="{  'border-radius': '4px',  height: '55px',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }"
                *ngIf="loader"></ngx-skeleton-loader>
            <ngx-skeleton-loader count="4"
                [theme]="{  'border-radius': '4px',  height: '150px',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white', 'margin-bottom':'0px'  }"
                *ngIf="loader"></ngx-skeleton-loader>
        </div>
        <div id="pggg" *ngIf="Address?.length==0" style=" display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        border: 3px solid rgb(139, 139, 139);
        margin-left: 4%;
        margin-right: 4%;">
            <div>
                <h5>
                    Add your address
                </h5>
            </div>
        </div>
    </div>
    <div class="cart-table-container mb-2  mt-50" style="margin-left: 5%; margin-right: 5%;">
        <div id="tit" style="width: 100%;">
            <ngx-skeleton-loader count="1"
                [theme]="{  'border-radius': '4px',  height: '55px',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }"
                *ngIf="loader"></ngx-skeleton-loader>
            <ngx-skeleton-loader count="4"
                [theme]="{  'border-radius': '4px',  height: '150px',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white', 'margin-bottom':'0px'  }"
                *ngIf="loader"></ngx-skeleton-loader>
        </div>


    </div>

</div>



<ng-template #addRecord let-modal>
    <div class="modal-header editRowModal">
        <h5 class="modal-title" id="modal-basic-title" style="padding-bottom: 0px;">
            <div class="table-modal-header">

                <div class="modal-about">
                    <div class="font-weight-bold p-t-10 font-13" style="font-size: 17px;color:gray">
                        Add Address</div>
                </div>

            </div>
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true" style="font-size: 1.2rem;"><i class="ion-close"></i></span>
        </button>
    </div>

    <div class="modal-body">
        <form class="register-form" [formGroup]="register" (ngSubmit)="onAddRowSave(register)"
            style=" border-color: rgb(20, 20, 20); border: black; ">
            <div id="fform" class="row" style=" border: black; ">
                <div class="col-md-12">
                    <div class="form-group position-relative">
                        <label>Address<span class="text-danger">*</span></label>
                        <textarea name="" class="form-control pl-2" formControlName="address" cols="30"
                            rows="2"></textarea>
                        <h6 class="form-text text-danger"
                            *ngIf="!register.get('address')?.valid && register.get('address')?.touched">
                            *Enter address</h6>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label>Country<span class="text-danger">*</span></label>
                        <select class="form-control pl-5" formControlName="country">
                            <option *ngFor="let tab of Country" [value]="tab.id">
                                {{tab.name}}
                            </option>
                        </select>
                        <h6 class="form-text text-danger"
                            *ngIf="!register.get('country')?.valid && register.get('country')?.touched">
                            *Select country</h6>


                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label>State<span class="text-danger">*</span></label>
                        <select class="form-control pl-5" formControlName="state" (change)="selectstate($event)">

                            <option *ngFor="let tab of State" [value]="tab.id">
                                {{tab.name}}
                            </option>
                        </select>
                        <h6 class="form-text text-danger"
                            *ngIf="!register.get('state')?.valid && register.get('state')?.touched">
                            *Select state</h6>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label>City<span class="text-danger">*</span></label>
                        <select class="form-control pl-5" formControlName="city" required>
                            <option *ngFor="let mem of City" [value]="mem.id">
                                {{mem.name}}
                            </option>
                        </select>

                        <h6 class="form-text text-danger"
                            *ngIf="!register.get('city')?.valid && register.get('city')?.touched">
                            *Select city</h6>
                    </div>
                </div>

                <!-- <div class="col-md-6 col-12 mb-20">
                    <label class="shipplable" >Town/City*</label>
                    <ng-select class="nice-select" formControlName="city" [items]="City" bindLabel="name" bindValue="id"
                    required placeholder="" >
                  </ng-select>
                </div> -->

                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label>Pin code<span class="text-danger">*</span></label>
                        <input type="text" class="form-control pl-5" formControlName="postal_code">
                        <h6 class="form-text text-danger"
                            *ngIf="!register.get('postal_code')?.valid && register.get('postal_code')?.touched">
                            *Enter pin code</h6>
                        <!-- (change)="onPinChange($event.target.value)" -->
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label>Mobile No <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pl-5" formControlName="phone">
                        <h6 class="form-text text-danger"
                            *ngIf="!register.get('phone')?.valid && register.get('phone')?.touched">
                            *Enter mobile number</h6>

                    </div>
                </div>



                <!-- row end -->
            </div>
            <div class="col-md-12" id="savebtndiv">
                <span class="add-to-cart" style="margin-left: auto;">
                    <button class="lezada-button lezada-button--medium lezada-button--icon--left" type="submit">
                        Save</button>
                </span>
            </div>
        </form>

    </div>
</ng-template>

<!-- edit -->
<ng-template #editRecord let-modal>
    <div class="modal-header editRowModal">
        <h4 class="modal-title" id="modal-basic-title" style="padding-bottom: 0px;color:gray">
            <div class="table-modal-header">

                <div class="modal-about">
                    <div class="font-weight-bold p-t-10 " style="font-size: 17px;">
                        Edit Address</div>
                </div>
            </div>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true" style="font-size: 1.2rem;"><i class="ion-close"></i></span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="onEditSave(editForm)"
            style=" border-color: rgb(20, 20, 20); border: black; ">
            <div id="fform" class="row" style="border: black; ">

                <div class="col-md-12 ">
                    <div class="form-group position-relative">
                        <label>Address<span class="text-danger">*</span></label>
                        <textarea name="" class="form-control pl-2" formControlName="address" cols="30"
                            rows="2"></textarea>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label>Country<span class="text-danger">*</span></label>
                        <select class="form-control pl-5" formControlName="country">
                            <option *ngFor="let tab of Country" [value]="tab.id">
                                {{tab.name}}
                            </option>
                        </select>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label>State<span class="text-danger">*</span></label>
                        <select class="form-control pl-5" formControlName="state">
                            <option *ngFor="let tab of State" [value]="tab.id">
                                {{tab.name}}
                            </option>
                        </select>


                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label>City<span class="text-danger">*</span></label>


                        <select class="form-control pl-5" formControlName="city" required>

                            <option *ngFor="let mem of City" [value]="mem.id">
                                {{mem.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label>Pin code<span class="text-danger">*</span></label>
                        <input type="text" class="form-control pl-5" formControlName="postal_code">
                        <!-- (change)="onPinChange($event.target.value)" -->
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <label>Mobile No <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pl-5" formControlName="phone">
                    </div>
                </div>
                <div class="col-md-12" id="savebtndiv">
                    <span class="add-to-cart" style="margin-left: auto;">
                        <button class="lezada-button lezada-button--medium lezada-button--icon--left" type="submit">
                            Save</button>
                    </span>
                </div>
                <!-- row end -->
            </div>
        </form>

    </div>
</ng-template>

<ng-template #map let-modal>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="2" (mapClick)="addMarker($event.coords.lat, $event.coords.lng)">
        <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng"
            [opacity]="marker.alpha" [markerDraggable]="true" (markerClick)="selectMarker($event)">
        </agm-marker>
        <agm-rectangle [north]="max('lat')" [east]="max('lng')" [south]="min('lat')" [west]="min('lng')">
        </agm-rectangle>
    </agm-map>
</ng-template>