
<div class="modal-header editRowModal">
    <h6 class="modal-title" id="modal-basic-title" style="padding: 0px;">
        <div class="table-modal-header">
            <div class="table-modal-header">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-10 ml-3 font-17">
                       Product Enquiry</div>
                </div>
            </div>
        </div>
    </h6>  
</div>
<div class="modal-body">
    <div class="card-body" style="margin-left: 10px;margin-right:10px;">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
            <div class="col-lg-12 ">
                <label >Product <span class="text-danger">*</span> </label>
                <input type="text"  formControlName="product"  required style="  border: 1px solid #9d9d9d;
                border-radius: 3px;">
                <h6 class="form-text text-danger"
                *ngIf="!registerForm.get('product')?.valid && registerForm.get('product')?.touched">
              *Enter the name</h6>
            </div>
           
            <div class="col-lg-12 ">
                <label >Description <span class="text-danger">*</span> </label>
                <textarea cols="53" rows="4"
                formControlName="product_description"
                placeholder="" style="width: 100%;" style="border: 1px solid #9d9d9d;
                border-radius: 3px;" ></textarea>
                <h6 class="form-text text-danger"
                *ngIf="!registerForm.get('product_description')?.valid && registerForm.get('product_description')?.touched">
              *Enter some words</h6>
            </div>
            <div class="col-lg-12 mt-10">
                <label >Image1 <span class="text-danger">*&nbsp; </span> </label>
                <fieldset class="form-group" style="display: inline;">
                    <!-- {{imageError}}  (change)="fileChangeEvent($event)"-->               
                    <div class="custom-file fileInputProfileWrap">
                        <input type="file" formControlName="image"  class="fileInputProfile" (change)="fileChangeEvent($event)" >
                        <div class="img-space">
                            <!-- <ng-container *ngIf="isImageSaved; else elseTemplate">
                            <img [src]="cardImageBase64" />
                        </ng-container> -->
                            <ng-template #elseTemplate>
                                <!-- <img src="./../../assets/placeholder.png" class="img-responsive">   (click)="changeproimg()"-->
                            </ng-template>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-12 mt-10">
                <label >Image2 <span class="text-danger">*&nbsp; </span> </label>
                <fieldset class="form-group" style="display: inline;">
                    <!-- {{imageError}}  (change)="fileChangeEvent($event)"-->
                    <div class="custom-file fileInputProfileWrap">
                        <input type="file"  formControlName="panimg"  class="fileInputProfile" (change)="fileChangeEvent2($event)">
                        <div class="img-space">
                            <!-- <ng-container *ngIf="isImageSaved; else elseTemplate">
                            <img [src]="cardImageBase64" />
                        </ng-container> -->
                            <ng-template #elseTemplate>
                                <!-- <img src="./../../assets/placeholder.png" class="img-responsive">   (click)="changeproimg()"-->
                            </ng-template>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-12" style="text-align: center;">
                <span class="add-to-cart" style="margin-left: auto;">
                    <h6 class="form-text text-danger "
									*ngIf="error2">
									{{error2}}</h6>
                    <button
                        style="background-color: rgb(201, 31, 8);border: 1px solid rgb(201, 31, 8); padding-top: 1px; padding-bottom: 1px;"
                        class="lezada-button lezada-button--medium lezada-button--icon--left" type="submit">
                        Submit</button>
                </span>
            </div>
            <!-- <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a> -->
        </form>

    </div>
    
</div>
