div{
  font-family: Arial, Helvetica, sans-serif !important ;
  letter-spacing: 0;
}

.title p {
  color: #141414;
  font-family: Arial, Helvetica, sans-serif ;
  letter-spacing: 0;
}

.title a {
  color: #141414;
  font-family: Arial, Helvetica, sans-serif ;
  letter-spacing: 0;
}

.title h3 a {
  font-size: 13px;
  color: #140f0f;
  font-family: Arial, Helvetica, sans-serif ;
  letter-spacing: 0;
  text-decoration: none;
}

.breadcrumb-list__item{
  color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
}
.comment-title{
  color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
}
.review-title{
  color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
}
.username{
  color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
}
.message{
  color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
}
p{
  color: #423d3d ;
  font-family: Arial, Helvetica, sans-serif;
}
 tr th{
  color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
tr{
  color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
td p{
  color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
.shop-product__lonc{
  color: #140f0f ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
.comment-title {
  font-size: 20px; 
  color: #333;
}
.star {
    position: relative;
    display: inline-block;
    font-size: 1.3rem;
  }
  .full {
    content: "\f005";
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
  content: "\f123";
  }
  .text-warning {
    color: #ff902b !important;
  }



 
.rating[data-rating="5.5"] .rating__item:nth-child(-n+5):after, .rating[data-rating="5"] .rating__item:nth-child(-n+5):after, .rating[data-rating="4.5"] .rating__item:nth-child(-n+4):after, .rating[data-rating="4"] .rating__item:nth-child(-n+4):after, .rating[data-rating="3.5"] .rating__item:nth-child(-n+3):after, .rating[data-rating="3"] .rating__item:nth-child(-n+3):after, .rating[data-rating="2.5"] .rating__item:nth-child(-n+2):after, .rating[data-rating="2"] .rating__item:nth-child(-n+2):after, .rating[data-rating="1.5"] .rating__item:nth-child(-n+1):after, .rating[data-rating="1"] .rating__item:nth-child(-n+1):after, .rating[data-rating="0.5"] .rating__item:nth-child(-n+0):after, .rating[data-rating="0"] .rating__item:nth-child(-n+0):after {
  content: "";
}

.rating[data-rating="5.5"] .rating__item:nth-child(6):after, .rating[data-rating="4.5"] .rating__item:nth-child(5):after, .rating[data-rating="3.5"] .rating__item:nth-child(4):after, .rating[data-rating="2.5"] .rating__item:nth-child(3):after, .rating[data-rating="1.5"] .rating__item:nth-child(2):after, .rating[data-rating="0.5"] .rating__item:nth-child(1):after {
  content: "";
}

.rating {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #900;
}
.rating__item {
  font-size: 24px;
  display: block;
  font-family: FontAwesome;
}
.rating__item::after {
  content: "";
}
@media (max-width : 990px) {
  #bacck{
    display: none;
  }
  }
  @media (max-width : 700px) {
    #iimg{
      height: 200px;
    }
    .mb-30 {
      margin-bottom: 0px !important;
  }
    }
    @media (min-width : 700px) {
  #iimg{
      height: 450px;
    }
    .imag{
      height: 75px; width: 100px;
      display: block;
      margin: auto;
    }
   
  }

    @media (max-width: 767px){
.single-comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: initial;
    text-align: initial;
    padding-bottom: 0px;
}
.single-comment__content {
  padding-left: 10px;
}
.single-sidebar-widget .mt-40 {
  margin-top: 0px !important;
}
.comment-title {
  font-size: 20px;
  line-height: 47px;
  color: #333;
}
.shop-product__title h2 {
font-size: 24px;
}
.imag{
  height: 75px; width: 100px;
  display: block;
  margin: auto;
}
}
@media(max-width: 480px){
.shop-product__description-tab .tab-product-navigation--product-desc .nav-tabs a {
    font-size: 15px;
    line-height: 30px;
}
.sb-group {
  flex-wrap: inherit;
}
.sb-circles-dark .sb-group{
  flex-wrap: inherit;
}
.sb-circles-dark{
  flex-wrap: inherit;
}
}
@media (max-width : 992px) {  
 
.imag{
  height: 105px; 
  width: 150px;

}

iframe {
  width: 327px;
  height: 209px;
 
}
    } 
  
    .imgicon{
      height: 40px;
      width: 40px;
    }