.breadcrumb-list__item{
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
textarea{
  color: #474747 ;
font-family: 'Poppins', sans-serif;
}

#desc{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.shop-product__price{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.shop-product__title{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.shop-product__block__title{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.shop-product__short-desc p{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
strong {
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
tr {
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
td a{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
a{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
p{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.shop-product__long-desc p{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.review-title{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.comment-title{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.review-link a{
  color:#a19a9a;
	font-family: 'Poppins', sans-serif;
  font-size: small;
}
#braand{
  color:#a19a9a;
	font-family: 'Poppins', sans-serif;
  font-size: small;
}
#braandN{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
#brndprd{
  color:#a19a9a;
	font-family: 'Poppins', sans-serif;
  font-size: x-small;
  
}
#brndprd:hover{
  color: #2023ce;
}
span{
	font-family: 'Poppins', sans-serif;
}
span #varr{
  color:#a19a9a;
	font-family: 'Poppins', sans-serif;
}
input{
  color:#a19a9a;
	font-family: 'Poppins', sans-serif;
}
button{
  font-family: 'Poppins', sans-serif;
}
#disprice{
  font-size:large;
}

.single-sidebar-widget--title {
  font-size: 19px;

}
.single-sidebar-widget--title strong {
  color:#626262;

}
.wishlist-icon strong{
  font-family: 'Poppins', sans-serif;
  font-size: small;
  float: right;
  color: #ff902b;
}
.wishlist-icon{
  font-family: 'Poppins', sans-serif;
  font-size: small;
  margin-top: 5px;
  float: right;
  color: #ff902b;
}
.single-image{
  /* border: 1px solid#e3e2e2; */
  height: 400px;
  position: relative;
}
#mainimg{
  position: absolute; top: 0; bottom: 0; margin: auto;height: inherit;
  /* border: 1px solid#e3e2e2; */
}
.shop-product__big-image-gallery-slider{
  border: 1px solid#e3e2e2;
 
}
.ion-android-favorite-outline:before {
  content: "\f387";
  font-weight: 600;
}
font { font-family: 'Poppins', sans-serif; }
.textopacity{
    opacity:1;
}
.star {
    position: relative;
    display: inline-block;
    font-size: 1.3rem;
  }
  .full {
    content: "\f005";
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
  content: "\f123";
  }
  .text-warning {
    color: #ff902b !important;
  }
  label{
    color: #474747 ;
    font-family: 'Poppins', sans-serif;
  }

  @media (max-width : 1200px) {  
  #brandd {
    padding-left:45px;
    height: 20px;
  }
  #braandd {
   padding-left: 0px;
   display: none;
   
  }
  #braaanddd {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: -10px;
   }
  

    }
 
    /* to remove arroys form input box */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type=number] {
      -moz-appearance: textfield;
    }
    .blink_me {
      animation: blinker 2s linear infinite;
    }
    
    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }

    /* span.single-size.active{
      color: rgb(249, 249, 253);
      background-color: blue; 
  } */
  .shop-product__block__value .shop-product-size-list .single-size.active{
    font-size: 13px;
    line-height: 22px;
    margin-right: 11px;
    cursor: pointer;
    color: #ffffff;
    padding: 4px;
    border-radius: 4px;
    background-color: #f14014;
}

.shop-product__block__value .shop-product-size-list .single-size {
  background-color: #cc3c2200;
  color:#f14014;
  border: 1px solid red;
}
@media (max-width : 768px) {  
 
  
td span{
  font-size: small;
}

  
      } 

      @media (max-width: 767px){
        .single-comment {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: initial;
            text-align: initial;
            padding-bottom: 0px;
        }
        .single-comment__content {
          padding-left: 10px;
        }
        .single-sidebar-widget .mt-40 {
          margin-top: 0px !important;
        }

        .comment-title {
          font-size: 20px;
          line-height: 47px;
          color: #333;
      }
      .shop-product__title h2 {
        font-size: 24px;
    }
    .wishlist-icon{   
      float: none;    
    }
    #brndd{
      margin-left:10px;
    }
        }
        @media (min-width: 767px){
          #brndd{
            margin-left:40px;
          }
          .comment-title {
            font-size: 20px;
            line-height: 47px;
            color: #333;
        }
        .page-sidebar{
          width: 250px;
        }
        }

        .display-2{
          color: #787575 ;
          font-family: 'Poppins', sans-serif;
          font-size: 3em;
        }
        #outt{
          color: #474747 ;
          font-family: 'Poppins', sans-serif;
          font-size: smaller;
        }
        .fs-12{
          color: #474747 ;
          font-family: 'Poppins', sans-serif;
        }
        #prdreview{
          color: #474747 ;
          font-family: 'Poppins', sans-serif;
        }
        .fs-11{
          font-size:0.7em;
        }
        .single-faq .card-body p {
          font-size: 13px;
          line-height: 24px;
          color: #777;
      }

      .shop-product__block__title {
        font-size: 14px;
      }
      .quickview-title{
        font-size: 14px;
      }
      .quickview-value a{
        font-size: 14px;
      }
      /* .sb-content{
        font-size: 0.8em;
      } */
      .sb-content[_ngcontent-bxv-c155] {
         font-size: 0.8em;
      }
      .sb-circles-dark .sb-wrapper .sb-content{
        font-size: 0.8em;
      }
      .lezada-button--medium {
        font-size: 14px;
        padding: 5px 45px;
    }
  
        .bi {
          transform: rotateZ(180deg);
        }
      
         [class*="bi-arrow-left-circle-fill"].active::before{
          transform: rotate(90deg)
        }
        [id*="icondes"].active::before{
          transform: rotate(90deg)
        }

     .bi-arrow-left-circle-fill{
       font-size: 1.2em;
     }

     .product-reviews{
      border: 1px solid#e3e2e2;
      padding: 20px;
     }
     /* .shop-product__long-desc{
      border: 1px solid#e3e2e2;
      padding: 20px;
     } */
     .crdbdy{
      border: 1px solid#e3e2e2;
      padding: 20px;
     }
     .accordion>.card>.card-header {
      border-radius: 0;
      margin-bottom: -18px;
  }
  img:hover {
    cursor: pointer;
}
.gallery:hover{
  cursor: pointer;
}
.shop-product__big-image-gallery-slider:hover{
  cursor: pointer;
}

#brndprd{
  cursor: pointer;
}
#chatt{
  cursor: pointer;
}
/* .ng-image-fullscreen-view 
.lightbox-wrapper .lightbox-div .lightbox-image-main .lightbox-image {
  cursor: pointer;
} */