.breadcrumb-list__item{
	color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
#desc{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.shop-product__price{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.shop-product__title{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.shop-product__block__title{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.shop-product__short-desc p{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
strong {
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
tr {
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
td a{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
a{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
p{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.shop-product__long-desc p{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.review-title{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}
.comment-title{
  color: #474747 ;
	font-family: 'Poppins', sans-serif;
}

.textopacity{
    opacity:1;
}
.star {
    position: relative;
    display: inline-block;
    font-size: 1.3rem;
  }
  .full {
    content: "\f005";
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
  content: "\f123";
  }
  .text-warning {
    color: #ff902b !important;
  }

 